<div
  class="grid"
  ui-grid="gridOptions"
  ui-grid-auto-resize
  ui-grid-empty-base-layer
  ui-grid-grouping
  ui-grid-move-columns
  ui-grid-resize-columns
  ui-grid-selection
>
  <div class="ui-grid-overlay ng-cloak">
    <spinner ng-if="isLoading"></spinner>
    <h1 ng-show="!isLoading && !gridOptions.data.length">
      No data available!
    </h1>
  </div>
</div>
<div class="error-page-parent">
  <div class="error" ng-if="errorMessage">
    <p>Failed to load list: [[errorMessage]]</p>
  </div>
  <div class="page-selection">
    <p ng-click="prevPage()"><</p><p>Page [[page+1]] of [[totalPages]]</p><p ng-click="nextPage()">></p>
  </div>
  <div class="break"></div>
  <div class="nr-per-page">
    <p># per page: <label>
      <input type="number" ng-model="pageSize" />
    </label></p>
  </div>

</div>

<style>
.ui-grid {
  height:80%
}
.error {
  color: red
}
.page-selection {
  display: flex;
  margin-left: auto;
  margin-right: 30px;
}
.nr-per-page {
  display: flex;
  margin-left: auto;
  margin-right: 30px;
}
.break {
  flex-basis: 100%;
  height: 0;
}
.error-page-parent {
  display: flex;
  flex-wrap: wrap;
}
</style>