<div class="toolbar">
    <div class="control-group">
        <span class="legend">Mode:</span>
        <label class="radio-inline" ng-repeat="item in outvm.mode.options">
            <input type="radio" ng-model="outvm.mode.value" value="[[item.id]]" ng-change="outvm.modeChanged()" name="mode" />
            [[item.name]]
        </label>
    </div>
    <div class="control-group">
        <span class="legend">Actions:</span>
        <div class="btn-group" ng-repeat="action in outvm.actions">
            <button ng-disabled="action.disabled(outvm.selection)"
                    ng-if="action.visible()"
                    ng-click="action.action(outvm.selection)"
                    class="btn btn-sm btn-success"
            >[[action.title]]</button>
        </div>
    </div>
    <span class="legend">Include low confidence Outliers:</span>
    <div class="control-group">
        <input type="checkbox" ng-model="outvm.checkboxModel.lowConfidence"
               ng-true-value="true" ng-false-value="false" ng-change="outvm.lowConfidenceChanged()" name="checkboxModel">
        <br/>
    </div>
    </span>
    <span>Currently selected: [[outvm.selection.length]]</span>
</div>

<div
        class="grid"
        ui-grid="outvm.gridOptions"
        ui-grid-auto-resize
        ui-grid-empty-base-layer
        ui-grid-grouping
        ui-grid-move-columns
        ui-grid-resize-columns
        ui-grid-selection
>
    <div class="ui-grid-overlay ng-cloak">
        <spinner ng-if="outvm.isLoading"></spinner>
        <h1 ng-show="!outvm.isLoading && !outvm.gridOptions.data.length">
            No data available!
        </h1>
    </div>
</div>
