<div class="toolbar">
    <div class="control-group">
        <span class="legend">WhiteList:</span>
        <div class="btn-group" ng-repeat="action in rejectvm.actions">
            <button ng-disabled="action.disabled(rejectvm.selection)"
                    ng-click="action.action(rejectvm.selection)"
                    class="btn btn-sm btn-success"
            >[[action.title]]</button>
        </div>
    </div>
    <span>Currently selected: [[rejectvm.selection.length]]</span>
</div>

<div
        class="grid"
        ui-grid="rejectvm.gridOptions"
        ui-grid-auto-resize
        ui-grid-empty-base-layer
        ui-grid-grouping
        ui-grid-move-columns
        ui-grid-resize-columns
        ui-grid-selection
>
    <div class="ui-grid-overlay ng-cloak">
        <spinner ng-if="rejectvm.isLoading"></spinner>
        <h1 ng-show="!rejectvm.isLoading && !rejectvm.gridOptions.data.length">
            No data available!
        </h1>
    </div>
</div>
