<form name="form" class="toolbar">
  <label class="legend">
    Lookback days:
    <input class="input-2-char" type="number" min="0" max="45" ng-model="pwvm.lookBackDays" />
  </label>
  <button class="btn btn-sm"
          ng-class="{'btn-primary': form.$dirty && form.$valid}"
          ng-disabled="!form.$dirty && form.$invalid"
          ng-click="pwvm.applyFiltering()"
  >Go</button>
  <span ng-show="form.$invalid" class="warning-message">The value of 'look back' should be in 0 - 45 range</span>
</form>
<div
  class="grid"
  ui-grid="pwvm.gridOptions"
  ui-grid-auto-resize
  ui-grid-resize-columns
  ui-grid-move-columns
  ui-grid-auto-resize
  ui-grid-empty-base-layer
>
  <div class="ui-grid-overlay ng-cloak">
    <md-progress-circular
      mode="indeterminate"
      md-diameter="70"
      ng-show="pwvm.isLoading"
    >
    </md-progress-circular>
    <h1 ng-show="!pwvm.isLoading && !pwvm.gridOptions.data.length">
      No data available!
    </h1>
  </div>
</div>
