---
version: 2
updates:
  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: weekly
      time: "06:00"
      timezone: "America/New_York"
    open-pull-requests-limit: 5
    commit-message:
      prefix: "CHORE: "
    groups:
      otel-dependencies:
        applies-to: version-updates
        patterns:
          - go.opentelemetry.io/*
      aws-dependencies:
        applies-to: version-updates
        patterns:
          - github.com/aws/aws-sdk-go-v2*
