# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*~
*.DS_Store
*.swp
*.swo
*.swn

.gopath

*.js.map

# Folders
_obj
_test
bin
.vscode
# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

tags

*.tar.gz

mci_testing_env
/executables
logs
public/node_modules/
artifacts-*

# directory for gvp
.godeps

npm-debug.log
clients
creds.yml

fabfile.py
fab_common.py
*.pyc
.idea
test-endpoints.pid
source-patch-1*
evergreen 
!cmd/evergreen


# ag and ripgrep ignore file
.ignore
