# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*~
*.DS_Store
*.swp
*.swo
*.swn

.gopath

vendor/src/labix.org/v2/mgo/.bzr
vendor/pkg

# Folders
_obj
_test
bin
# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

tags

*.tar.gz

mci_testing_env
/executables
logs
public/node_modules/
*testlog*
archive/testdata/artifacts_out/
archive/testdata/artifacts_test/
command/testdata/tmp/
plugin/builtin/archive/testdata/output/
plugin/builtin/archive/testdata/target.tgz
plugin/builtin/s3Plugin/testdata/

# directory for gvp
.godeps

npm-debug.log
clients
testdata/target.tgz
!command/testdata/archive/artifacts.tar.gz
!util/testdata/artifacts.tar.gz
command/testdata/archive/output/
command/testdata/archive/target.tgz
command/testdata/target.tgz
creds.yml

fabfile.py
*.pyc
.idea
evergreen
