
func {{.RestType}}BuildFromService(t {{shortenpackage .ModelType }}) *{{.RestType}} {
    m := {{.RestType}}{}
    {{.BfsConversions}}
    return &m
}

func {{.RestType}}ToService(m {{.RestType}}) *{{shortenpackage .ModelType}} {
    out := &{{shortenpackage .ModelType}}{}
    {{.TsConversions}}
    return out
}
