<div class="eventlog">
  <div class="timestamp">[[e.timestamp | convertDateToUserTimezone:userTz:'MMM D, YYYY h:mm:ss a']]</div>
  <div class="event_details">
    <div ng-switch="e.event_type">
      <span ng-switch-when="BANNER_CHANGED">[[e.data.user]] changed banner from '[[e.data.old_val]]' to '[[e.data.new_val]]'</span>
      <span ng-switch-when="SERVICE_FLAGS_CHANGED">[[e.data.user]] changed service flags from [[e.data.old_flags]] to [[e.data.new_flags]]</span>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
