
<div class="row">
 <div class="col-lg-12">
   <div>
     <ul class="nav nav-pills">
       <li ng-class="{active: selection=='all'}" ng-click="setRestartSelection('all')"><a data-toggle="pill" style="padding:3px 8px">All</a></li>
       <li ng-class="{active: selection=='failures'}" ng-click="setRestartSelection('failures')"><a data-toggle="pill" style="padding:3px 8px">Failures</a></li>
       <li ng-class="{active: selection=='system-failures'}" ng-click="setRestartSelection('system-failures')"><a data-toggle="pill" style="padding:3px 8px">System Failures</a></li>
       <li ng-class="{active: selection=='none'}" ng-click="setRestartSelection('none')"><a data-toggle="pill" style="padding:3px 8px">None</a></li>
     </ul>
   </div>
   <ul style="max-height:250px; overflow-y:scroll">
     <li ng-repeat="build in version.Builds" style="list-style:none;" >
       <h4 ng-click="collapsedBuilds[build.Build._id] = !collapsedBuilds[build.Build._id]"><i class="fa" style="cursor:pointer" ng-class="collapsedBuilds[build.Build._id] | conditional:'fa-caret-down':'fa-caret-right'"></i> [[build.Build.display_name]]
         <span class="muted">[[numToBeRestarted(build.Build._id)]] of [[build.Build.tasks.length]] selected</span>
       </h4>
       <ul ng-show="collapsedBuilds[build.Build._id]">
         <li ng-repeat="task in build.Build.tasks" style="list-style:none;" >
           <input type="checkbox" ng-model="task.checkedForRestart" ng-change="setRestartSelection('')"/> &nbsp;
           <span ng-class="task | statusFilter" style="width:12px;height:12px;display:inline-block;vertical-align:middle">&nbsp;</span> [[task.display_name]]
         </li>
       </ul>
     </li>
   </ul>
 </div>
</div>
<hr/>
<div class="row">
  <div class="col-lg-12">
    <div class="pull-left">
      <div ng-show="numToBeRestarted() == 0" class="pull-left">Select at least one task to restart</div>
      <div ng-show="numToBeRestarted() > 0" class="pull-left" style="font-size:1.3em;">
        Restart <b>[[numToBeRestarted()]]</b> selected [[numToBeRestarted() != 1 ? "tasks" : "task"]]?
        <div>
          <input type="checkbox" id="passed" name="passed" ng-model="adminOptionVals.abort" class="ng-valid ng-dirty">
          <label for="passed" style="font-weight:normal;font-size:.8em;">Abort in-progress tasks</label>
        </div>
      </div>
    </div>
    <div class="pull-right">
      <button type="button" class="btn btn-danger" style="float: right;" data-dismiss="modal">Cancel</button>
      <button type="button" class="btn btn-primary" style="float: right; margin-right: 10px;" ng-click="restart()" ng-disabled="numToBeRestarted()==0">Restart</button>
    </div>
  </div>
</div>

