  <div ng-show="validHostStatuses.length != 0">
    <div>
      <button class="btn btn-link btn-dropdown" data-toggle="dropdown" href="#" id="status">
        <span>
          <i class="fa fa-desktop" style="margin-right:10px"></i>Update status to
        </span>
        <strong>
          [[newStatus]]
          <span class="fa fa-caret-down"></span>
        </strong>
      </button>
      <ul class="dropdown-menu host-dropdown" role="menu" aria-labelledby="status">
        <li role="presentation" class="dropdown-header">Available Statuses</li>
        <li role="presentation" ng-repeat="hostStatus in validHostStatuses">
          <a role="menuitem" ng-click="setHostStatus(hostStatus);">
          [[hostStatus]]
          </a>
        </li>
      </ul>
    </div>
    <div>
      <span>
        <input type="text" placeholder="Notes" ng-model="notes.text" style="margin-left:10px"/>
        <button type="button" class="btn btn-info host-button" style="float:right; margin-top:-8px;" ng-click="updateStatus()">
        Update
        </button>
      </span>
    </div>
  </div>
