<div class="patch">
  <span class="one-liner patch-header">
    <span class="title">Patch Applied</span>
    <span class="muted">by</span>
    <a href="/patches/user/[[patchinfo.Patch.Author]]">[[patchinfo.Patch.Author]]</a>
    <span class="muted">at [[patchinfo.Patch.CreateTime | convertDateToUserTimezone:timezone:"MMM D, YYYY h:mm:ss a"]]</span>
  </span>

  <div class="one-liner patch-message" ng-show="base">
    <span class="text-muted">on base commit</span>
    <a class="base-link" ng-href="[[baselink]]/[[base]]">[[basecommit.gitspec.substr(0, 10)]]</a>
  </div>

  <div class="description-box" ng-show="patchinfo.Patch.Description != ''">
    <p>[[patchinfo.Patch.Description]]</p>
  </div>

  <div class="patch" ng-init="showAllChanges = false;">
    <div ng-click="showAllChanges = !showAllChanges" class="pointer semi-muted">
      <i ng-class="showAllChanges | conditional:'icon-caret-down':'icon-caret-right'"></i>
      [[showAllChanges | conditional:'Hide':'Show']] All Changes
      
      <span ng-show='!showAllChanges' class="toggle-message">
        <span class="additions">+[[totals.additions]]</span>
        <span class="deletions">-[[totals.deletions]]</span>
      </span>
    </div>

    <div class="extra-patch-info" ng-show="showAllChanges">
      <div class="patch-iterator" ng-repeat="patch in patchinfo.Patch.Patches">
        <div class="patch-message patch-changes-line">
          <span ng-show="patch.ModuleName">Changes on [[patch.ModuleName]] module:</span>
          <span ng-show="!patch.ModuleName">Changes on [[patchinfo.Patch.Project]] project:</span>
          <span class="pull-right">
            View Diff:
            <a ng-href="/filediff/[[patchinfo.Patch.Id]]?patch_number=[[$index]]">HTML</a>
            |
            <a ng-href="/rawdiff/[[patchinfo.Patch.Id]]?patch_number=[[$index]]">Raw</a>
          </span>
        </div>

        <table class="table table-new" ng-init="patchNum=$index">
          <thead>
            <tr>
              <th class="col-lg-2">Additions</th>
              <th class="col-lg-2">Deletions</th>
              <th class="col-lg-8">File</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="file in patch.PatchSet.Summary">
              <td class="col-lg-4 additions">+[[file.Additions]]</td>
              <td class="col-lg-4 deletions">-[[file.Deletions]]</td>
              <td class="col-lg-4">
                <a ng-href="/filediff/[[patchinfo.Patch.Id]]?file_name=[[file.Name | encodeUri]]&patch_number=[[patchNum]]">[[file.Name]]</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
