<md-dialog style="width:650px">
    <md-dialog-content>
        <form>
            <md-card style="width:97.5%">
                <md-card-title>
                    <div ng-bind="modalTitle()"></div>
                </md-card-title>
                <md-card-content>
                    <section layout="row" flex>
                        <md-input-container flex=50>
                            <label>Interval:</label>
                            <input type="number" step="1" min="1" ng-model="periodic_build.interval_hours" ng-required="true">
                        </md-input-container>
                        <md-input-container flex=50>
                            <label>Config File:</label>
                            <input type="text" ng-model="periodic_build.config_file" placeholder=".evergreen.yml" ng-required="true">
                        </md-input-container>
                    </section>
                    <section layout="row" flex>
                        <md-input-container flex=50>
                            <label>Patch Alias:</label>
                            <input type="text" ng-model="periodic_build.alias" placeholder="my_task_alias">
                        </md-input-container>
                        <md-input-container flex=50>
                            <label>Message:</label>
                            <input type="text" ng-model="periodic_build.message" placeholder="A periodic build">
                        </md-input-container>
                    </section>
                    <section layout="row" flex>
                        <md-input-container flex=50>
                            <label>Start Date/Time:</label>
                            <md-datepicker ng-model="periodic_build.start_date" md-placeholder="Date"></md-datepicker>
                            <md-time-picker class="inline" ng-model="periodic_build.start_time" message="message"></md-time-picker>
                        </md-input-container>
                        <md-input-container flex=50>
                            <label>Time Zone:</label>
                            <md-select ng-model="periodic_build.timezone">
                                <md-option ng-repeat="tz in data.timezones" ng-value="tz.value">[[tz.str]]</md-option>
                            </md-select>
                        </md-input-container>
                    </section>
                </md-card-content>
            </md-card>
            <md-button type="submit" class="md-raised" ng-click="closeDialog(true)" style="width:20%;float:right">Save
                Changes</md-button>
            <md-button class="md-raised" ng-show="periodicBuildIndex!=undefined" ng-click="deleteDefinition()" style="width:20%;float:right">Delete
                Definition</md-button>
            <md-button class="md-raised" ng-click="closeDialog(false)" style="width:20%;float:right">Cancel</md-button>
        </form>
    </md-dialog-content>
</md-dialog>