<md-dialog style="width:650px">
    <md-dialog-content>
        <form ngSubmit="addTrigger()">
            <md-card style="width:97.5%">
                <md-card-title>
                    <div ng-bind="modalTitle()"></div>
                </md-card-title>
                <md-card-content>
                    <section layout="row" flex>
                        <md-input-container flex=50>
                            <label>Project:</label>
                            <input type="text" ng-model="trigger.project" ng-required="true">
                        </md-input-container>
                        <md-input-container flex=50>
                            <label>Date cutoff:</label>
                            <input type="number" step="1" min="0" ng-model="trigger.date_cutoff" placeholder="Commits older than # days will not trigger">
                        </md-input-container>
                    </section>
                    <section layout="row" flex>
                        <md-input-container flex=50>
                            <label>Level:</label>
                            <md-select ng-model="trigger.level">
                                <md-option value="task">Task</md-option>
                                <md-option value="build">Build</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex=50>
                            <label>Status:</label>
                            <md-select ng-model="trigger.status">
                                <md-option value="all">All</md-option>
                                <md-option value="success">Success</md-option>
                                <md-option value="failed">Failed</md-option>
                            </md-select>
                        </md-input-container>
                    </section>
                    <section layout="row" flex>
                        <md-input-container flex=50>
                            <label>Variant regex:</label>
                            <input type="text" ng-model="trigger.variant_regex" placeholder="Only matching variant identifiers will trigger">
                        </md-input-container>
                        <md-input-container flex=50>
                            <label>Task regex:</label>
                            <input type="text" ng-model="trigger.task_regex" placeholder="Only matching task names will trigger">
                        </md-input-container>
                    </section>
                    <section layout="row" flex>
                        <md-input-container flex=50>
                            <label>Definition file:</label>
                            <input type="text" ng-model="trigger.config_file" ng-required="true" placeholder=".evergreen.yml">
                        </md-input-container>
                        <md-input-container flex=50>
                            <label>Alias:</label>
                            <input type="text" ng-model="trigger.alias" placeholder="Patch alias to filter variants/tasks">
                        </md-input-container>
                    </section>
                </md-card-content>
            </md-card>
            <md-button type="submit" class="md-raised" ng-click="closeDialog(true)" style="width:20%;float:right">Save
                Changes</md-button>
            <md-button class="md-raised" ng-show="triggerIndex!=undefined" ng-click="deleteTrigger()" style="width:20%;float:right">Delete
                Trigger</md-button>
            <md-button class="md-raised" ng-click="closeDialog(false)" style="width:20%;float:right">Cancel</md-button>
        </form>
    </md-dialog-content>
</md-dialog>
