<a ng-href="/[[ linkType ]]/[[ linkId ]]#[[$parent.$parent.tab]]"
   class="history-status-marker"
   ng-class="showStatus ? classFromStatus(revision.exec.status) : ''" > </a>

<div class="history-status-marker" ng-class="classFromStatus(revision.exec.status)" ng-if="!!revision.exec.status && linkType=='task'"></div>
<div class="row">
  <div class="col-lg-12 drawer-message-wrapper">
    <a ng-href="/[[linkType]]/[[linkId]]#[[$parent.$parent.tab]]" ng-if="revision.exec.status" class="history-item-info">
      <span class="btn btn-default btn-hash history-item-revision">[[ revision.revision.substring(0, 5) ]]</span>
      <span class="history-item-message" title="[[ revision.message ]]">[[ revision.message ]]</span>
    </a>

    <div class="history-item-info" ng-if="!linkId">
      <span class="btn btn-default btn-hash history-item-revision">[[ revision.revision.substring(0, 5) ]]</span>
      <span class="history-item-message" title="[[ revision.message ]]">[[ revision.message ]]</span>
    </div>

    <div class="history-item-time">[[ revision.push_time | date:'h:mm a' | uppercase ]]</div>
  </div>
</div>

<div class="row history-item-failures failed-text" 
     title="[[ failuresTooltip(revision.failures) ]]"
     ng-if="revision.exec.failures">
  <div class="col-lg-12">
    <span ng-repeat="failure in revision.exec.failures">[[ failure | endOfPath ]]<span ng-if="!$last">, </span></span>
  </div>
</div>
