<a ng-href="/task/[[ revision.defaultExecution.id ]]"
   ng-if="revision.defaultExecution.id"
   class="history-status-marker"
   ng-class="classFromStatus(revision.defaultExecution.status)">
</a>

<div class="history-status-marker" ng-class="classFromStatus(revision.defaultExecution.status)" ng-if="!revision.defaultExecution.id"></div>
<div class="row">
  <div id="message-[[ revision.revision.substring(0, 8) ]]" class="col-lg-12 drawer-message-wrapper">
    <a ng-href="/task/[[ revision.defaultExecution.id ]]"
       ng-if="revision.defaultExecution.id"
       class="history-item-info">
      <span class="history-item-revision">[[ revision.revision.substring(0, 8) ]]</span>
      <span class="history-item-message" title="[[ revision.message ]]">[[ revision.message ]]</span>
    </a>

    <div class="history-item-info" ng-if="!revision.defaultExecution.id">
      <span class="history-item-revision">[[ revision.revision.substring(0, 8) ]]</span>
      <span class="history-item-message" title="[[ revision.message ]]">[[ revision.message ]]</span>
    </div>

    <div class="history-item-time">[[ revision.push_time | date:'h:mm a' | uppercase ]]</div>
  </div>
</div>

<div id="failures-[[ revision.revision.substring(0, 8) ]]"
      class="row history-item-failures failed-text" 
      title="[[ failuresTooltip(revision.defaultExecution.failures) ]]"
      ng-if="revision.defaultExecution.failures">

  <div class="col-lg-12">
    <span ng-repeat="failure in revision.defaultExecution.failures">[[ failure | endOfPath ]]<span ng-if="!$last">, </span></span>
  </div>
</div>
