<md-dialog>
    <form ng-submit="valid() && closeDialog(true)">
        <md-dialog-content>
            <div class="modal-header">
                <h4>[[ c.verb ]] Subscription</h4>
            </div>
            <div class="modal-body" style="padding-left:10px; padding-right:10px;">
                <p>when
                <select ng-model="trigger" ng-change="bindTrigger()" ng-options="t as t.label for t in c.triggers"></select>
                </p>
                <p ng-show="extraFields">
                  <div ng-repeat="field in extraFields">
                    <span>[[field.text]]</span>
                    <input type="text" ng-show="field.type!='select'" ng-model="extraData[field.key]"/>
                    <select ng-show="field.type=='select'" ng-model="extraData[field.key]" ng-options="key as value for (key, value) in field.options"></select>
                  </div>
                </p>
                <div ng-show="regexSelectorOptions.length > 0">
                  <div ng-show="hasSelectors()">
                    <p>and:</p>
                      <ul style="list-style-type: circle !important;" >
                          <li ng-repeat="(type, field) in regexSelectors"><b>[[field.type_label]]</b> matches regex <span style="font-family: monospace;">/[[field.data]]/</span>
                          <md-button ng-click="deleteRegexSelector(type)">
                            <i class="fa fa-trash"></i>
                          </md-button>
                        </li>
                      </ul>
                  </div>
                  <div>
                    <p>Add Additional Criteria:</p>
                    <select ng-model="tempRegexSelector.type">
                      <option ng-disabled="selectorDisabled(field)" ng-value="field.type" ng-repeat="field in regexSelectorOptions">[[field.type_label]]</option>
                    </select>
                    <label>matches regex</label>
                    <input type="text" ng-model="tempRegexSelector.data"/>
                    <md-button ng-click="addRegexSelector()">
                      <i class="fa fa-plus"></i>
                    </md-button>
                  </div>
                  <hr />
                </div>
                <p>
                then notify by:
                <select ng-model="method" ng-options="t as t.label for t in subscription_methods track by t.value"></select>
                </p>
                <div id="methods">
                    <div ng-show="method.value === 'jira-comment'">
                        <label for="issue-id">JIRA Issue</label>
                        <input id="issue-id" ng-model="targets['jira-comment']" placeholder="ABC-123"></input>
                    </div>
                    <div ng-show="method.value === 'jira-issue'">
                        <md-list-item>
                            <label for="project">JIRA Project</label>
                            <input id="project" ng-model="targets['jira-issue']['project']" placeholder="ABC"></input>
                        </md-list-item>
                        <md-list-item>
                            <label for="issue-type">Issue Type</label>
                            <input id="issue-type" ng-model="targets['jira-issue']['issue_type']" placeholder="Build Failure"></input>
                        </md-list-item>
                    </div>
                    <div ng-show="method.value === 'slack'">
                        <label for="slack">Slack Username or Channel</label>
                        <input id="slack" ng-model="targets['slack']" placeholder="MEMBERID, @user or #channel"></input>
                    </div>
                    <div ng-show="method.value === 'email'">
                        <label for="email">Email Address</label>
                        <input id="email" ng-model="targets['email']" placeholder="someone@example.com"></input>
                    </div>
                    <div ng-show="method.value === 'evergreen-webhook'">
                        <md-list>
                            <md-list-item>
                                <label for="webhook-url">Webhook URL</label>
                                <input id="webhook-url" ng-model="targets['evergreen-webhook'].url" placeholder="https://example.com"></input>
                            </md-list-item>
                            <md-list-item>
                                <label for="webhook-secret">Webhook Secret</label>
                                <input id="webhook-secret" ng-model="targets['evergreen-webhook'].secret" ng-disabled="true"></input>
                            </md-list-item>
                            <md-list-item>
                              <label>HTTP Headers:</label>
                            </md-list-item>
                            <md-list-item ng-repeat="header in targets['evergreen-webhook'].headers track by $index">
                              <div>
                                <label>Key:</label>
                                <input ng-model="header.key"/>
                                <label>Value:</label>
                                <input ng-model="header.value"/>
                                <md-button ng-click="deleteHeader($index)">
                                  <i class="fa fa-trash"></i>
                                </md-button>
                              </div>
                            </md-list-item>
                            <md-list-item>
                              <div>
                                <label>Key:</label>
                                <input ng-model="newHeader.key"/>
                                <label>Value:</label>
                                <input ng-model="newHeader.value"/>
                              </div>
                              <md-button ng-click="addHeader()">
                                <i class="fa fa-plus"></i>
                              </md-button>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>
                <div id="validationErrors" style="margin-top:6px;">
                  <span ng-repeat="error in validationErrors" style="color:#d0073b">[[error]]</span>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-disabled="!valid()" class="md-primary" type="submit">
                Save and Close
            </md-button>
            <md-button ng-click="closeDialog(false)" class="md-warn">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
