<div class="variables">
    <div class="form-group">
        <div class="col-header col-lg-8 form-control-static"> <h3>Notifications</h3></div>
    </div>
    <div ng-show="show_build_break" id="build-break-enabled" class="form-group">
        <div class="col-lg-6">
            <input type="checkbox" id="build-break" ng-model="settingsFormData.notify_on_failure" />
            <label for="build-break">Enable <a href="https://github.com/evergreen-ci/evergreen/wiki/Event-Driven-Notifications#build-break-notifications">Build-break</a> notifications</label>
        </div>
    </div>

    <div id="subscription-section" class="form-group col-lg-6" ng-show="triggers.length > 0">
        <h4>Subscriptions
            <button class="pull-right plus-button btn btn-primary" type="button" ng-click="addSubscription()">
                <i class="fa fa-plus"></i>
            </button>
            <div class="muted small" >
                Private slack channels may require further Slack configuration.
            </div>
            <div class="muted small" ng-show="slackAppName">
                Invite evergreen to your private Slack channels by running 'invite [[slackAppName]]' in the channel.
            </div>
        </h4>
        <div ng-show="subscriptions.length === 0">
            No event subscriptions. Click the plus to add some.
        </div>
        <ul class="notifications-list" ng-repeat="v in subscriptions">
            <li class="triggerinfo">
                <div>
                    <div class="trigger-display-wrapper">
                        When <span class="trigger-description">[[v.trigger_label]]</span> &hellip;
                        <div class="add-action pull-right">
                            <a href="javascript:void(0)" ng-click="editSubscription($index)">edit</a>
                        </div>
                    </div>
                    <ul class="trigger-actions">
                        <li class="action-config">&nbsp;&bull;&nbsp;[[v.subscriber.label]]
                            <div class="btn btn-danger btn-xs pull-right" ng-click="removeSubscription($index)">
                                <i class="fa fa-trash" style="font-size:1.3em;">&nbsp;</i>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
