<div ng-controller="LiteVersionController" ng-init="load(task.version)">
  <div ng-show="loading">
    Loading...
  </div>
  <div ng-show="!loading && !error">
    <h4>
      <a ng-href="/task/[[task.id]]">
        [[version.Version.message]]
      </a>
    </h4>
    <div>[[version.Version.author]]</div>
    <hr>
    <h5>Started At: [[task.moment.start_time]]</h5>
    <h5>Finished At: [[task.moment.finish_time]]</h5>
  </div>
  <div ng-show="!loading && error">
    Can't load version for this task. Click
    <a ng-href="/task/[[task.id]]">here</a> to see it.
  </div>
</div>