<div class="panel">
    <div class="panel-body row">
      <span class="semi-muted">
        Delete volume <strong>[[ concatName(curVolumeData.volume_id, curVolumeData.display_name) ]]</strong>?
      </span>
      <br>
      <div style="float: right">
        <button type="button" class="btn btn-primary" style="margin-right: 10px;" data-dismiss="modal" ng-click="updateVolume('deleteVolume')">Yes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>
</div>