<div class="panel">
    <div class="panel-body row">
      <span class="semi-muted">
        Delete volume <strong>[[ concatName(curVolumeData.volume_id, curVolumeData.display_name) ]]</strong>?
      </span>
      <div ng-show="curVolumeData.no_expiration" style="margin-bottom:5px">
        <span class="semi-muted">
          Volume is unexpirable. If you'd really like to delete, please type "delete":
        </span>
        <input type="text" id="input-type"  ng-model="curVolumeData.checkDelete"/>
      </div>
      <br>
      <div style="float: right">
        <button type="button" class="btn btn-primary" style="margin-right: 10px;" data-dismiss="modal" ng-disabled="invalidDelete(curVolumeData)" ng-click="updateVolume('deleteVolume')">Yes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>
</div>