<form name="updateForm" novalidate ng-submit="updateForm.$valid && updateRDPPassword()">
  <div class="panel">
    <div class="panel-body row">
      <span class="semi-muted">New Password:&nbsp;
	      <input id="password-input" name="uPassword" style="float: right;" type="password" ng-model="curHostData.password" placeholder='Password' ng-minlength="6" equals="{{curHostData.cPassword}}" complexity required></input>
		</span>
      <br>
    </div>
    <div class="panel-body row">
      <span class="semi-muted">Confirm Password:&nbsp;
	      <input id="cPassword-input" name="cPassword" style="float: right;" type="password" ng-model="curHostData.cPassword" placeholder="Confirm Password" ng-minlength="6" equals="{{curHostData.password}}" required></input>
		</span>
    </div>
    <div class="panel-body row">
      <button type="button" class="btn btn-danger" style="float: right;" data-dismiss="modal">Cancel</button>
      <button type="submit" class="btn btn-primary" style="float: right; margin-right: 10px;" ng-disabled="updateForm.$invalid">Update</button>
    </div>
    <div class="semi-muted invalid" ng-show="updateForm.uPassword.$dirty && updateForm.uPassword.$error.minlength">
      Too short (password must be at least 6 characters)
    </div>
    <div class="semi-muted invalid" ng-show="updateForm.uPassword.$dirty && updateForm.uPassword.$error.complexity">
      <span>
        Password must contain characters from three of the following four categories: Uppercase, Lowercase, Base 10 digits and ~!@#$%^&*_-+=`|\(){}[]:;"'<>,.?/ 
      </span>
      <span><br>
        <a ng-href="http://technet.microsoft.com/en-us/library/cc786468(v=ws.10).aspx">Details</a>
      </span>
    </div>
    <div class="semi-muted invalid" ng-show="updateForm.cPassword.$dirty && (updateForm.uPassword.$error.equals || updateForm.cPassword.$error.equals)">
      Password mismatched
    </div>
  </div>
</form>