<form name="spawnHostForm" novalidate ng-submit="spawnHostForm.$valid && spawnHost()">
  <fieldset>
    <div style="margin-left: 10px;">
      <span class="dropdown" style="float: left" ng-show="spawnableDistros.length > 0">
        <button class="btn btn-link btn-dropdown" data-toggle="dropdown" href="#" id="distro">
          <span class="semi-muted">
           Distro:

          </span>
          <strong>
            [[spawnInfo.distroId]]
            <span class="fa fa-caret-down"></span>
          </strong>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="distro">
        <li role="presentation" class="dropdown-header">Spawnable Distros</li>
        <li role="presentation" ng-repeat="spawnableDistro in spawnableDistros">
          <a role="menuitem" ng-click="setSpawnableDistro(spawnableDistro.distro);">
            [[spawnableDistro.distro.name]]
          </a>
        </li>
      </ul>
      </span>
      <span class="dropdown" style="margin: 10px">
        <button class="btn btn-link btn-dropdown" data-toggle="dropdown">
          <span class="semi-muted">
           Public Key:
          </span>
          <strong>
            [[selectedKey.name]]
            <span class="fa fa-caret-down"></span>
          </strong>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="key">
          <li role="presentation">
          <a role="menuitem" ng-click="updateSelectedKey(newKey);">
            New Key...
          </a>
          </li>
          <li role="presentation" class="dropdown-header" ng-show="userKeys.length != 0">Saved Keys</li>
          <li role="presentation" ng-repeat="userKey in userKeys">
            <a role="menuitem" ng-click="updateSelectedKey(userKey);">
              [[userKey.name]]
            </a>
          </li>
        </ul>
      </span>
      <span class="dropdown" ng-show="selectedDistro.regions.length > 1">
        <button class="btn btn-link btn-dropdown" data-toggle="dropdown" href="#" id="regions">
          <span class="semi-muted">
           Region:
          </span>
          <strong>
            [[selectedRegion]]
            <span class="fa fa-caret-down"></span>
          </strong>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="regions">
        <li role="presentation" class="dropdown-header">Spawnable Regions</li>
        <li role="presentation" ng-repeat="region in selectedDistro.regions">
          <a role="menuitem" ng-click="setRegion(region)">
            [[region]]
          </a>
        </li>
      </ul>
      </span>
    </div>
    <br />
    <span class="semi-muted invalid" ng-show="saveKey && (spawnHostForm.keyname.$error.required || spawnHostForm.keyname.$error.keyNameUnique)">
      Please enter a unique key name for your new key<br />
    </span>
    <span class="semi-muted invalid" ng-show="spawnHostForm.pubkey.$dirty && (spawnHostForm.pubkey.$error.required || spawnHostForm.pubkey.$error.keyBaseValid)">
      Key is invalid. It must begin with 'ssh-rsa' or 'ssh-dss' or 'ssh-ed25519' or 'ecdsa-sha2-nistp256'. Ensure you have copied the public half of the key.<br />
    </span>
    <span class="semi-muted invalid" ng-show="!spawnableDistros || spawnableDistros.length === 0">
      You cannot spawn a host because there are no spawnable distros.<br />
    </span>
    <div ng-show="currKeyName == newKey.name">
      <p class="textarea">
        <textarea id="input-key-val" name="pubkey" placeholder="Enter public key here..." required key-base-valid ng-model="selectedKey.key"></textarea>
      </p>
      <p class="checkbox">
        <input type="checkbox" id="input-key-chk" ng-click="toggleSaveKey()" />&nbsp;&nbsp;Save public key&nbsp;&nbsp;
        <input type="text" id="input-key-name" name="keyname" ng-model="selectedKey.name" ng-disabled="!saveKey"; placeholder="mykey.pub" key-name-unique />
      </p>
    </div>
    <div style="padding-bottom:5px;" ng-show="selectedDistro.virtual_workstation_allowed">
      <input type="checkbox" ng-disabled="$parent.spawnTaskChecked" ng-model="$parent.isVirtualWorkstation" /> Virtual Workstation
      <div ng-show="$parent.isVirtualWorkstation">
        <div class="dropdown" style="padding-left: 10px">
          <button class="btn btn-link btn-dropdown" style="padding-left: 0" data-toggle="dropdown">
            <span class="semi-muted">
             Volume:
            </span>
            <strong>
              [[ getHomeVolumeDisplayName() ]]
              <span class="fa fa-caret-down"></span>
            </strong>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="volumes">
            <li role="presentation" class="dropdown-header">Home Volume</li>
            <li role="presentation">
              <a role="menuitem" ng-click="setHomeVolume()">
                New Volume
              </a>
            </li>
            <li role="presentation" ng-repeat="volume in $parent.volumes | filter:{status:'free', home_volume: true}">
              <a role="menuitem" ng-click="setHomeVolume(volume)">
                [[ concatName(volume.volume_id, volume.display_name) ]]
              </a>
            </li>
          </ul>
          <div ng-show="!$parent.homeVolumeID">
            <label> Volume size (GB) </label>
            <input type="number" ng-model="$parent.homeVolumeSize"/>
            <span class="warning-text" ng-show="invalidVolumeSize($parent.homeVolumeSize)"><i class="fa fa-warning"></i>
                [[ $parent.homeVolumeSize > 0 ? availableVolumeSize() + "GiB of " + maxVolumeSizePerUser + "GiB remaining" : "Size must be greater than 0" ]]
                <span ng-show="$parent.homeVolumeSize > 0">(<a class="pointer" ng-click="goToPage('volumes')">Volumes Page</a>)</span>
            </span>
          </div>
          <div>
            <input type="checkbox" style="padding-left:15px;" ng-disabled="availableUnexpirableHosts() <= 0" ng-model="$parent.noExpiration" /> Set Never Expire
            <span class="warning-text" ng-show="availableUnexpirableHosts() <= 0"><i class="fa fa-warning"></i>
          Can have at most [[ maxUnexpirableHostsPerUser ]] unexpirable hosts
            </span>
          </div>
        </div>
      </div>
    </div>
    <div id="userData" style="padding-bottom:5px;">
      <input type="checkbox" ng-model="$parent.use_userdata" /> Run Userdata script on start
      <p class="textarea" ng-show="$parent.use_userdata">
        <textarea placeholder="Enter Userdata script" ng-model="$parent.userdata"></textarea>
      </p>
    </div>
    <div id="projectSetupScript" style="padding-bottom:5px;" ng-show="!!$parent.setupScriptPath" >
      <input type="checkbox" ng-disabled="$parent.add_setup_script" ng-model="$parent.use_project_setup_script"\>
      Use project-specific setup script defined at [[ $parent.setupScriptPath ]]
    </div>
    <div id="setupScript" style="padding-bottom:5px;">
      <input type="checkbox" ng-model="$parent.add_setup_script" ng-disabled="$parent.use_project_setup_script"/> Define setup script to run after host is configured (i.e. task data and artifacts are loaded)
      <p class="textarea" ng-show="$parent.add_setup_script && !$parent.use_project_setup_script">
        <textarea placeholder="Enter Setup script" ng-model="$parent.setup_script"></textarea>
      </p>
    </div>
    <div class="spawn-task-options" ng-show="!!spawnTask">
      <input type="checkbox" ng-disabled="$parent.isVirtualWorkstation" ng-model="$parent.spawnTaskChecked" />
        Load data for <strong>[[spawnTask.display_name]]</strong> on <strong>[[spawnTask.build_variant]]</strong> @ <strong class="mono">[[spawnTask.gitspec | limitTo:5]]</strong> onto host at startup
      <br/>
      <div ng-show="spawnTask.can_sync">
      <input type="checkbox" ng-disabled="$parent.isVirtualWorkstation || !spawnTask.can_sync || !$parent.spawnTaskChecked" ng-model="$parent.spawnTaskSyncChecked" />
        Load from task sync
      </div>
      <br/>
      <input type="checkbox" ng-disabled="$parent.isVirtualWorkstation" ng-model="$parent.useTaskConfig" />
        Also start any hosts this task started (if applicable)
    </div>
    <div>
      <button type="submit" class="btn btn-primary" style="float: left; margin-left: 10px;" ng-disabled="!spawnHostForm.$valid || invalidHostOptions() || spawnReqSent">Spawn</button>
      <button type="button" class="btn btn-danger" style="float: left; margin-left: 30px;" data-dismiss="modal">Cancel</button>
    </div>
  </fieldset>
</form>
