<div class="panel">
    <div class="panel-body row">
        <span class="dropdown" style="float: left" ng-show="hosts.length > 0">
            <button class="btn btn-link btn-dropdown" data-toggle="dropdown" href="#" id="hostList">
              <span class="semi-muted">
               Target Host:
              </span>
              <strong>
                [[volumeAttachHostId]]
                <span class="fa fa-caret-down"></span>
              </strong>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="hostList">
            <li role="presentation" class="dropdown-header">Hosts</li>
            <li role="presentation" ng-repeat="host in hosts">
              <a role="menuitem" ng-click="setAttachToHostID(host.id);">
                [[host.id + (host.display_name ? " (" + host.display_name + ")" : "")]]
              </a>
            </li>
          </ul>
        </span>
      <br>
      <button type="button" class="btn btn-danger" style="float: right;" data-dismiss="modal">Cancel</button>
      <button type="button" class="btn btn-primary" style="float: right; margin-right: 10px;" ng-click="updateVolume('attachVolume')">Attach</button>
    </div>
</div>