<div class="panel">
    <div class="panel-heading">
      <h2 style="display:inline-block; padding-right:15px">
        <i class="fa fa-desktop" style="margin-right:10px"></i>Details
      </h2>
    </div>
    <div class="panel-body" style="min-height: 233px">
      <md-card style="width:99%">
        <md-card-content>
          <md-card>
            <md-card-content>
              <div class="entry">
                <strong>ID</strong>
                <span>[[curVolumeData.volume_id]] </span>
              </div>
              <div class="entry" ng-hide="curVolumeData.no_expiration">
                <strong>Expires at</strong> <span>[[curVolumeData.expiration | convertDateToUserTimezone:userTz:"MMM D, YYYY h:mm:ss a"]]</span>
              </div>
              <div class="entry">
                <strong>Status</strong> <span>[[curVolumeData.status]]</span>
              </div>
              <div class="entry">
                <strong>Type</strong> <span>[[curVolumeData.type]]</span>
              </div>
              <div class="entry">
                <strong>Size</strong> <span>[[curVolumeData.size]] GiB</span>
              </div>
              <div class="entry">
                <strong>Availability Zone</strong> <span>[[curVolumeData.zone]]</span>
              </div>
              <div class="entry">
                <strong>Home Volume</strong> <span>[[curVolumeData.home_volume]]</span>
              </div>
              <div class="entry" ng-show="curVolumeData.host_id">
                <strong>Mounted On</strong> <span> <a class="pointer" ng-click="goToHost(curVolumeData.host_id)">[[ getHostDisplayName(curVolumeData.host_id) ]]</a> </span>
              </div>
            </md-card-content>
          </md-card>

          <md-card ng-show="curVolumeData.status == 'free'">
            <md-card-content>
              <strong>Expiration:</strong>
              <md-datepicker  ng-disabled="curVolumeData.no_expiration" ng-model="curVolumeData.current_expiration" md-min-date="curVolumeData.original_expiration" md-placeholder="Date"></md-datepicker>
              <md-time-picker read-only="curVolumeData.no_expiration"   ng-model="curVolumeData.current_expiration" class="inline" message="message"></md-time-picker>
              <md-checkbox id="no-volume-expiration" class="inline" ng-model="curVolumeData.no_expiration" ng-disabled="!unexpirableVolumeEnabled()" style="margin-left:25px">Never</md-checkbox>
              <em ng-class="{'text-muted': unexpirableVolumeEnabled(), 'text-error': !unexpirableVolumeEnabled()}" style="margin-left: 5px;" ng-cloak>
                [[availableUnexpirableVolumes()]] [[availableUnexpirableVolumes() | pluralize:'unexpirable volume']] remaining
              </em>
            </md-card-content>
            <md-card-footer>
              <md-button type="button" class="btn-info md-raised" ng-disabled="!updateVolumeExpirationEnabled()" ng-click="updateVolume('extendVolumeExpiration')">
                Update Expiration
              </md-button>
            </md-card-footer>
          </md-card>
        </md-card-content>
      </md-card>
    </div>
  </div>
  