<div class="panel">
    <div class="panel-body row">
      <span class="semi-muted">
        Detach volume <strong>[[concatName(curVolumeData.volume_id, curVolumeData.display_name)]]</strong> from host [[getHostDisplayName(curVolumeData.host_id)]]?
      </span>
      <br>
      <button type="button" class="btn btn-danger" style="float: right;" data-dismiss="modal">Cancel</button>
      <button type="button" class="btn btn-primary" style="float: right; margin-right: 10px;" data-dismiss="modal" ng-click="updateVolume('detachVolume')">Yes</button>
    </div>
</div>
  