<form name="form" novalidate ng-submit="form.$valid && createVolume()">
  <fieldset>
    <div style="margin-left: 10px;">
      <div style="margin-bottom:5px">
        <label> Volume size (GB) </label>
        <input type="number" ng-model="createVolumeInfo.size" min="1" max="availableVolumeSize()"/>
        <span class="warning-text" ng-show="invalidVolumeSize(createVolumeInfo.size)"><i class="fa fa-warning"></i>
      Can have at most [[ maxVolumeSizePerUser ]] GiB per user
        </span>
      </div>
      <div style="margin-bottom:5px">
        <label> Availability Zone</label>
        <input type="text" id="input-zone"  ng-model="createVolumeInfo.zone"/>
      </div>
      <div style="margin-bottom:5px">
        <label> Type </label>
        <input type="text" id="input-type"  ng-model="createVolumeInfo.type"/>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-primary" style="float: left; margin-left: 10px;" data-dismiss="modal" ng-disabled="!form.$valid || invalidVolumeSize(createVolumeInfo.size)">Spawn</button>
      <button type="button" class="btn btn-danger" style="float: left; margin-left: 30px;" data-dismiss="modal">Cancel</button>
    </div>
  </fieldset>
</form>
