<div class="panel">
  <div class="panel-body row">
    <span class="semi-muted">
      Terminate <strong>[[curHostData.distro._id]]</strong> host <strong>[[concatName(curHostData.id, curHostData.display_name)]]</strong>?
	</span>
    <div ng-show="curHostData.no_expiration" style="margin-bottom:5px">
      <span class="semi-muted">
        Host is unexpirable. If you'd really like to terminate, please type "delete":
      </span>
      <input type="text" id="input-type"  ng-model="checkDelete"/>
    </div>
    <br>
    <button type="button" class="btn btn-danger" style="float: right;" data-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-primary" style="float: right; margin-right: 10px;" ng-disabled="invalidDelete(checkDelete)" ng-click="updateHostStatus('terminate')">Yes</button>
  </div>
</div>
