{{define "scripts"}}
<script src="{{Static "js" "build_variant_history.js"}}?hash={{ StaticsMD5 }}"></script>

<script type="text/javascript">
  window.buildVariant = '{{.Data.Variant}}';
  window.tasksByCommit = {{.Data.Tasks}};
  window.taskNames = {{.Data.TaskNames}};
  window.versions = {{.Data.Versions}};
  window.project = '{{.Data.Project}}';
</script>
{{end}}

{{define "title"}}
Evergreen - Build Variant History
{{end}}

{{define "content"}}
<div id="content" ng-controller="BuildVariantHistoryController" class="container-fluid">
  <div class="row">
    <div class="gridtable-timeline">
      <div class="gridtable-small">
        <h4 class="one-liner task-history-title-header">
          [[buildVariant]]
        </h4>
        <div class="top-header-row locked" style="top: 50px; width: 1200px">
          <div  class="header-cell"
                ng-repeat="taskName in taskNames"
                id="[['taskName' + $index]]">
            <span class="header-text">
              <a ng-href="/task_history/[[project]]/[[taskName]]">
                [[ taskName ]]
              </a>
            </span>
          </div>
        </div>
        <div class="tablebody locked" style="padding-top: 0px">
          <div  class="tablerow"
                ng-repeat="taskGroup in tasksByTaskNameByCommit"
                style="margin-bottom: 0px;">
            <div class="header">
              <div>
                <a href="/version/[[ versionsByRevision[taskGroup._id].id ]]">
                  [[ versionsByRevision[taskGroup._id].message ]]
                </a>
              </div>
              <div class="commit-msg pull-right">
                [[ versionsByRevision[taskGroup._id].create_time | date:"medium" ]]
              </div>
            </div>
            <div class="cells" style="height: 50px; margin-left: 9px">
              <div  ng-repeat="taskName in taskNames"
                    class="task-history-cell-wrapper column-[[$index]]">
                <a href="/task/[[ taskGroup.tasksByTaskName[taskName]._id ]]">
                  <span>
                    <div ng-class="'cell ' + getGridClass(taskGroup.tasksByTaskName[taskName])"></div>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-offset-2">
      <button type="button" class="btn btn-info" ng-click="loadMore()">
        Load More
      </button>
    </div>
  </div>
  <div class="row">
    &nbsp;
  </div>

  <script type="text/javascript">
    // Add `highlight-column` class to all elements with a given column class
    // when mouseenter fires on one of them. Makes it so the build variant
    // that you've moused over has a guideline to the build variant axis.
    $(document).ready(function() {
      $("div[class*='column-']").each(function(i, el) {
        var elClasses = $(el).attr("class").split(' ');
        var columnClass = null;
        _.each(elClasses, function(c) {
          if (c.indexOf('column-') === 0) {
            columnClass = c;
          }
        });

        if (!columnClass) {
          return;
        }

        $(el).on("mouseenter", function() {
          $('.' + columnClass).addClass('highlight-column');
        });

        $(el).on("mouseleave", function() {
          $('.' + columnClass).removeClass('highlight-column');
        });
      });

      // Lock the header row to the top of the page, but without using position:fixed so that it can scroll horizontally
      $(window).scroll(function(){$(".gridtable-small .top-header-row.locked").css({'position':'absolute','top':$(window).scrollTop()+80})});
    });
  </script>
</div>
{{end}}

