{{define "scripts"}}
<script type="text/javascript" src="{{Static "js" "distros.js"}}?hash={{ StaticsMD5 }}"></script>
<script type="text/javascript">
  window.distros = {{ .Distros }};
  window.keys = {{ .Keys }};
</script>
{{end}}
{{define "title"}}
Evergreen - Distros
{{end}}
{{define "content"}}
<div class="container" ng-controller="DistrosCtrl" style="margin-bottom: 15px;">
  {{template "flash" . }}
  <div ng-show="distros.length == 0">
    <h2>No Distros</h2>
    <div class="row">
      <button type="button" class="btn btn-primary" style="margin-left: 15px" ng-click="newDistro()" ng-disabled="activeDistro.new"><i class="icon-plus"></i>&nbsp;New Distro</button>
    </div>
  </div>
  <div ng-form="form" class="row">
    <div id="nav-container" class="col-md-2" ng-show="distros.length != 0">
      <div>
        <div>
          <h2 style="text-align: center;">Distros<span ng-show="distros.length != 0">&nbsp;([[distros.length]])&nbsp;</span></h2>
        </div>
        <div class="row" style="text-align: center;">
          <button type="button" class="btn btn-primary col-lg-8" style="margin-bottom: 10px; margin-left: 35px" ng-click="newDistro()" ng-disabled="activeDistro.new"><i class="icon-plus"></i>&nbsp;New Distro</button>
        </div>
        <div id="distros-list-container">
          <ul id="distros-list">
            <li ng-repeat="distro in distros" ng-click="form.$setPristine();setActiveDistro(distro)"
              ng-class="{'active-distro': distro._id == activeDistro._id}">
              [[distro._id]]
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-6 col-lg-offset-1" ng-show="distros.length != 0">
      <div ng-init="initOptions()">
        <div ng-show="activeDistro">
          <h2>Configure
          </h2>
        </div>
        <div style="padding-top: -25px;" class="panel-body panel-default">
          <div>
            <label class="distro-label">Identifier:</label>
            <input required ng-readonly="!activeDistro.new" id="identifier" name="id" type="text" class="form-control" ng-model="activeDistro._id" placeholder="Unique identifier for this distro">
            <label class="icon icon-warning-sign distro-error" ng-show="form.id.$dirty && form.id.$error.required">&nbsp;Distro identifier is required<br></label>
            <label class="icon icon-warning-sign distro-error" ng-show="form.id.$dirty && form.id.$error.unsique || (activeDistro.new && form.id.$error.unique)">&nbsp;Distro identifier already exists</label>
          </div>
          <br>

          <div class="panel-body panel panel-default">
            <div class="dropdown">
              <span class="distro-menu-title">Agent Architecture:</span>
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
              <strong class="distro-menu-item">[[activeDistro.arch | archDisplay:this]]&nbsp;<span class="icon-caret-down"></span></strong>
              </button>
              <ul class="dropdown-menu" style="margin-left: 125px; align: left;" role="menu">
                <li ng-click="form.$setDirty();setKeyValue('arch', arch.id)" required name="agentArch" ng-repeat="arch in architectures" role="presentation"><a role="menuitem" tabindex="-1">[[arch.display]]</a></li>
              </ul>
              <div class="icon icon-warning-sign distro-error" ng-show="form.agentArch.$dirty && form.agentArch.$error.required || form.agentArch.$invalid">&nbsp;Agent architecture is required</div>
            </div>
            <div>
              <label class="distro-label">Working Directory:</label>
              <input required name="workDir" type="text" class="form-control" ng-model="activeDistro.work_dir" placeholder="Absolute path in which agent runs tasks on host machine">
              <div class="icon icon-warning-sign distro-error" ng-show="form.workDir.$dirty && form.workDir.$error.required || form.workDir.$invalid">&nbsp;Working Directory is required</div>
            </div>
          </div>
          <br>
          <div class="panel-body panel panel-default">
            <div class="dropdown">
              <span class="distro-menu-title">Provider:</span>
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
              <strong class="distro-menu-item">[[activeDistro.provider | providerDisplay:this]]&nbsp;<span class="icon-caret-down"></span></strong>
              </button>
              <ul class="dropdown-menu" role="menu" style="margin-left: 60px; align: left;">
                <li ng-click="form.$setDirty();setKeyValue('provider', provider.id)" required name="providerForm" ng-repeat="provider in providers" role="presentation"><a role="menuitem" tabindex="-1">[[provider.display]]</a></li>
              </ul>
              <div class="icon icon-warning-sign distro-error" ng-show="form.providerForm.$dirty && form.providerForm.$error.required">&nbsp;Distro provider is required</div>
            </div>
            <div ng-show="activeDistro.provider == 'docker'">
              <div>
                <label class="distro-label">Host:</label>
                <input type="text" ng-required="activeDistro.provider == 'docker'" name="hostIP" class="form-control" ng-model="activeDistro.settings.host_ip" placeholder="Machine DNS name">
                <div class="icon icon-warning-sign distro-error" ng-show="form.hostIP.$dirty && form.hostIP.$error.required || form.hostIP.$invalid">&nbsp;Host DNS is required</div>
              </div>
              <div>
                <label class="distro-label">Image ID:</label>
                <input type="text" ng-required="activeDistro.provider == 'docker'" name="imageName" class="form-control" ng-model="activeDistro.settings.image_name">
                <div class="icon icon-warning-sign distro-error" ng-show="form.imageName.$dirty && form.imageName.$error.required || form.imageName.$invalid">&nbsp;Image ID is required</div>
              </div>
              <div>
                <label class="distro-label">Bind Address:</label>
                <input type="text" ng-required="activeDistro.provider == 'docker'" name="bindIP" class="form-control" ng-model="activeDistro.settings.bind_ip" placeholder="e.g. localhost">
                <div class="icon icon-warning-sign distro-error" ng-show="form.bindIP.$dirty && form.bindIP.$error.required || form.bindIP.$invalid">&nbsp;An address for the container to bind a port to is required</div>
              </div>

              <div>
                <label class="distro-label">Docker Client Port:</label>
                <input ng-required="activeDistro.provider == 'docker'" name="clientPort" class="form-control" type="number" ng-model="activeDistro.settings.client_port" placeholder="Port for connecting to docker client, e.g. 2376">
                <div class="icon icon-warning-sign distro-error" ng-show="form.clientPort.$dirty && form.clientPort.$error.required || form.clientPort.$invalid || form.clientPort.$modelValue < 0">&nbsp;Non-negative numeric Client Port is required</div>
              </div>
              <div id="port-table" class="distro-table-scroll">
                <label class="distro-label">Container Port Range:</label>
                <table style="margin-left: -8px;" ng-form name="portRange" class="table distro-table" ng-init="form.devName=''; form.devSize=''">
                  <tr>
                    <td style="padding-left: 10px;"><input ng-required="activeDistro.settings.port_range.max_port" name="minPort" type="number" ng-model="activeDistro.settings.port_range.min_port" class="col-md-10" placeholder="Min Port"></td>
                    <td><input  ng-required="activeDistro.settings.port_range.min_port" name="maxPort" type="number" ng-model="activeDistro.settings.port_range.max_port" class="col-md-10" placeholder="Max Port"></td>
                  </tr>
                </table>
                <div class="icon icon-warning-sign distro-error" ng-show="!checkPortRange(form.portRange.minPort.$modelValue, form.portRange.maxPort.$modelValue)">&nbsp;A non-negative, increasing port range is required</div>
              </div>
              <div>
                <label class="distro-label">Cert.pem:</label>
                <textarea ng-required="activeDistro.provider == 'docker'" name="cert" type="text" wrap="off" class="form-control" rows="5" ng-model="activeDistro.settings.auth.cert" style="margin-left: 0px;" placeholder="Paste your (PEM formatted) certificate here"></textarea>
                <div class="icon icon-warning-sign distro-error" ng-show="form.cert.$dirty && form.cert.$error.required || form.cert.$invalid">&nbsp;Valid certificate is required</div>
              </div>
              <div>
                <label class="distro-label">Key.pem:</label>
                <textarea ng-required="activeDistro.provider == 'docker'" name="key" type="text" wrap="off" class="form-control" rows="5" ng-model="activeDistro.settings.auth.key" style="margin-left: 0px;" placeholder="Paste your (PEM formatted) private key here"></textarea>
                <div class="icon icon-warning-sign distro-error" ng-show="form.key.$dirty && form.key.$error.required || form.key.$invalid">&nbsp;Valid key is required</div>
              </div>
              <div>
                <label class="distro-label">Ca.pem:</label>
                <textarea ng-required="activeDistro.provider == 'docker'" name="ca" type="text" wrap="off" class="form-control" rows="5" ng-model="activeDistro.settings.auth.ca" style="margin-left: 0px;" placeholder="Paste your (PEM formatted) certificate authority here"></textarea>
                <div class="icon icon-warning-sign distro-error" ng-show="form.ca.$dirty && form.ca.$error.required || form.ca.$invalid">&nbsp;Valid certificate authority is required</div>
              </div>
            </div>
            <div ng-show="activeDistro.provider == 'digitalocean'">
              <div>
                <label class="distro-label">Image ID:</label>
                <input ng-required="activeDistro.provider == 'digitalocean'" name="imageID" type="number" class="form-control" ng-model="activeDistro.settings.image_id">
                <div class="icon icon-warning-sign distro-error" ng-show="form.imageID.$dirty && form.imageID.$error.required || form.imageID.$invalid">&nbsp;Numeric image ID is required</div>
              </div>
              <div>
                <label class="distro-label">Size ID:</label>
                <input ng-required="activeDistro.provider == 'digitalocean'" name="sizeID" type="number" class="form-control" ng-model="activeDistro.settings.size_id">
                <div class="icon icon-warning-sign distro-error" ng-show="form.sizeID.$dirty && form.sizeID.$error.required || form.sizeID.$invalid">&nbsp;Numeric size ID is required</div>
              </div>
              <div>
                <label class="distro-label">Region ID:</label>
                <input ng-required="activeDistro.provider == 'digitalocean'" name="regionID" type="number" class="form-control" ng-model="activeDistro.settings.region_id">
                <div class="icon icon-warning-sign distro-error" ng-show="form.regionID.$dirty && form.regionID.$error.required || form.regionID.$invalid">&nbsp;Numeric region ID is required</div>
              </div>
              <div>
                <label class="distro-label">SSH Key ID:</label>
                <input ng-required="activeDistro.provider == 'digitalocean'" name="sshKeyID" type="number" class="form-control" ng-model="activeDistro.settings.ssh_key_id">
                <div class="icon icon-warning-sign distro-error" ng-show="form.sshKeyID.$dirty && form.sshKeyID.$error.required || form.sshKeyID.$invalid">&nbsp;Numeric SSH Key ID is required</div>
              </div>
            </div>
            <div ng-show="activeDistro.provider == 'ec2' || activeDistro.provider == 'ec2-spot'">
              <div>
                <label class="distro-label">AMI ID:</label>
                <input type="text" ng-required="activeDistro.provider == 'ec2' || activeDistro.provider == 'ec2-spot'" name="ami" class="form-control" ng-model="activeDistro.settings.ami" placeholder="EC2 image identifier e.g. ami-1ecae776">
                <div class="icon icon-warning-sign distro-error" ng-show="form.ami.$dirty && form.ami.$error.required || form.ami.$invalid">&nbsp;AMI ID is required</div>
              </div>
              <div>
                <label class="distro-label">Instance Type:</label>
                <input type="text" ng-required="activeDistro.provider == 'ec2' || activeDistro.provider == 'ec2-spot'" name="instanceType" class="form-control" ng-model="activeDistro.settings.instance_type" placeholder="EC2 instance type for the AMI e.g t1.micro (must be available)">
                <div class="icon icon-warning-sign distro-error" ng-show="form.instanceType.$dirty && form.instanceType.$error.required || form.instanceType.$invalid">&nbsp;Instance type is required</div>
              </div>
              <div ng-show="activeDistro.provider == 'ec2-spot'">
                <label class="distro-label">Bid Price:</label>
                <input ng-required="activeDistro.provider == 'ec2-spot'" name="bidPrice" type="number" class="form-control" ng-model="activeDistro.settings.bid_price" placeholder="Maximum amount you're willing to pay per hour (dollars)">
                <div class="icon icon-warning-sign distro-error" ng-show="form.bidPrice.$dirty && form.bidPrice.$error.required || form.bidPrice.$invalid">&nbsp;Numeric bid price is required</div>
              </div>
              <div>
                <label class="distro-label">Key Name:</label>
                <input type="text" ng-required="activeDistro.provider == 'ec2' || activeDistro.provider == 'ec2-spot'" name="keyName" class="form-control" ng-model="activeDistro.settings.key_name" placeholder="SSH Key (public part in EC2) to add on host machine">
                <div class="icon icon-warning-sign distro-error" ng-show="form.keyName.$dirty && form.keyName.$error.required || form.keyName.$invalid">&nbsp;EC2 key name is required</div>
              </div>
              <div>
                <label class="distro-label">Security Group:</label>
                <input type="text" ng-required="activeDistro.provider == 'ec2' || activeDistro.provider == 'ec2-spot'" name="securityGroup" class="form-control" ng-model="activeDistro.settings.security_group" placeholder="EC2 security group (must already exist)">
                <div class="icon icon-warning-sign distro-error" ng-show="form.securityGroup.$dirty && form.securityGroup.$error.required || form.securityGroup.$invalid">&nbsp;Security group is required</div>
              </div>
              <div ng-show="activeDistro.provider == 'ec2' || activeDistro.provider == 'ec2-spot'">
                <div id="mounts-table" class="distro-table-scroll">
                  <label class="distro-label">Mount Points:</label>
                  <table style="margin-left: -8px;" ng-form name="mountPoints" class="table distro-table" ng-show="activeDistro.settings.mount_points" ng-init="form.devName=''; form.devSize=''">
                    <thead class="muted">
                      <tr>
                        <th>Device Name</th>
                        <th>Virtual Name</th>
                        <th>Size</th>
                      </tr>
                    </thead>
                    <tbody ng-repeat="mount_point in activeDistro.settings.mount_points">
                      <tr>
                        <td style="padding-left: 10px;"><input required name="devName" type="text" ng-model="mount_point.device_name" class="col-md-10"></td>
                        <td><input  ng-required="!mount_point.size" name="virtName" type="text" ng-model="mount_point.virtual_name" class="col-md-10"></td>
                        <td><input ng-required="!mount_point.virtual_name" name="devSize" type="text" ng-model="mount_point.size" class="col-md-10">
                          &nbsp;<a ng-click="form.$setDirty();removeMount(mount_point)"><i class="icon-trash distro-trash-icon"></i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div>
                <div class="icon icon-warning-sign distro-error" ng-show="mountPoints.devName.$dirty && mountPoints.devName.$error.required">&nbsp;Device name is required<br /></div>
                <div class="icon icon-warning-sign distro-error" ng-show="mountPoints.devName.$dirty && mountPoints.virtName.$error.required && mountPoints.devSize.$error.required">&nbsp;Must specify either virtual device name or device size<br /></div>
                <button type="button" ng-disabled="mountPoints.devName.$dirty && mountPoints.$invalid || mountPoints.devName.$error.required" class="btn btn-primary" ng-click="form.$setDirty();addMount()"><i class="icon-plus"></i>&nbsp;Add Mount Point</button>
              </div>
            </div>
            <div ng-show="activeDistro.provider != 'static'">
              <label class="distro-label">Max Pool Size:</label>
              <input type="number" ng-required="activeDistro.provider != 'static'" name="poolSize" class="form-control" ng-model="activeDistro.pool_size" placeholder="Maximum number of hosts allowed for this distro">
              <div class="icon icon-warning-sign distro-error" ng-show="form.poolSize.$dirty && form.poolSize.$error.required || form.poolSize.$invalid">&nbsp;Numeric pool size is required</div>
            </div>
            <div ng-form name="hostProviderForm" ng-show="activeDistro.provider == 'static'">
              <label class="distro-label">Hosts<span ng-show="activeDistro.settings.hosts && activeDistro.settings.hosts.length != 0">&nbsp;([[activeDistro.settings.hosts.length]])</span>:</label>
              <div id="hosts-table" class="distro-table-scroll">
                <table style="margin-left: -8px;" class="table table-bordered distro-table" ng-show="activeDistro.settings.hosts">
                  <tbody id="hosts-table" ng-repeat="host in activeDistro.settings.hosts">
                    <tr>
                      <td><input required name="hostName" type="text" ng-model="host.name" class="col-md-10" placeholder="Machine DNS name">&nbsp;<a ng-click="form.$setDirty();removeHost(host)"><i class="icon-trash distro-trash-icon"></i></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div>
                <div class="icon icon-warning-sign distro-error" ng-show="hostProviderForm.hostName.$dirty && hostProviderForm.hostName.$error.required">&nbsp;Static host can not be blank<br /></div>
                <br />
                <button type="button" ng-disabled="hostProviderForm.hostName.$dirty && hostProviderForm.$invalid || hostProviderForm.hostName.$error.required" class="btn btn-primary" ng-click="form.$setDirty();addHost()"><i class="icon-plus"></i>&nbsp;Add Host</button>
              </div>
            </div>
          </div>
          <div>
            <label class="distro-label">User:</label>
            <input required name="userName" type="text" class="form-control" ng-model="activeDistro.user" placeholder="Username with which to SSH into host machine">
            <div class="icon icon-warning-sign distro-error" ng-show="form.userName.$dirty && form.userName.$error.required || form.userName.$invalid">&nbsp;SSH user is required</div><br>
          </div>
          <div class="dropdown">
            <span class="distro-menu-title">SSH Key:</span>
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <strong class="distro-menu-item">[[activeDistro.ssh_key]]&nbsp;<span class="icon-caret-down"></span></strong>
            </button>
            <ul class="dropdown-menu" role="menu" style="margin-left: 63px; align: left;">
              <li required name="sshKeyForm" ng-click="form.$setDirty();setKeyValue('ssh_key', key.name)" ng-repeat="key in keys" role="presentation"><a role="menuitem" tabindex="-1">[[key.name]] - [[key.location]]</a></li>
            </ul>
            <br>
            <div class="icon icon-warning-sign distro-error" ng-show="!activeDistro.ssh_key">&nbsp;SSH keys must be configured</div>
          </div>
          <div ng-form name="sshForm">
            <label class="distro-label">SSH Options:</label>
            <div id="ssh-options-table" class="distro-table-scroll">
              <table style="margin-left: -8px;" class="table distro-table">
                <tbody ng-repeat="opt in activeDistro.ssh_options track by $index">
                  <tr>
                    <td style="padding-left: 10px;"><input required name="opt" type="text" ng-model="activeDistro.ssh_options[$index]" class="col-md-10" placeholder="e.g. BatchMode=yes">&nbsp;<a ng-click="form.$setDirty();removeSSHOption(opt)"><i class="icon-trash distro-trash-icon"></i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="icon icon-warning-sign distro-error" ng-show="sshForm.opt.$dirty && sshForm.opt.$error.required">&nbsp;SSH option can not be blank<br /></div>
            <button type="button" class="btn btn-primary" ng-disabled="sshForm.opt.$dirty && sshForm.$invalid || sshForm.opt.$error.required" ng-click="form.$setDirty();addSSHOption()"><i class="icon-plus"></i>&nbsp;Add SSH Option</button>
          </div>
          <div>
            <div>
              <span style="float: right; margin-top: 20px;" class="distro-checkbox checkbox"><input type="checkbox" ng-model="activeDistro.setup_as_sudo">Run as sudo</span><label class="distro-label">Setup Script:
              </label>
            </div>
            <textarea name="script" type="text" wrap="off" class="form-control" rows="15" ng-model="activeDistro.setup" style="margin-left: 0px; font-family: monospace"></textarea>
          </div>
          <div>
            <div ng-form name="expansions">
              <label class="distro-label">Expansions</label>
              <div id="expansions-table" class="distro-table-scroll">
                <table style="margin-left: -8px;" class="table distro-table" ng-show="activeDistro.expansions">
                  <thead class="muted">
                    <tr>
                      <th>Key</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody ng-repeat="expansion in activeDistro.expansions">
                    <tr>
                      <td style="padding-left: 10px;"><input type="text" required name="expKey" ng-model="expansion.key" class="col-md-10"></td>
                      <td><input type="text" ng-model="expansion.value" class="col-md-10">&nbsp;<a ng-click="form.$setDirty();removeExpansion(expansion)"><i class="icon-trash distro-trash-icon"></i></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div>
                <div class="icon icon-warning-sign distro-error" ng-show="expansions.expKey.$dirty && expansions.expKey.$error.required">&nbsp;Expansion key can not be blank<br /></div>
                <button type="button" ng-disabled="(expansions.expKey.$dirty && expansions.$invalid) || expansions.expKey.$error.required" class="btn btn-primary" ng-click="form.$setDirty();addExpansion()"><i class="icon-plus"></i>&nbsp;Add Expansion</button>
              </div>
            </div>
            <div>
              <p class="distro-checkbox checkbox"><input type="checkbox" ng-model="activeDistro.spawn_allowed">Allow users to spawn these hosts for personal use</p>
            </div>
          </div>
        </div>
        <div>
          <br><br>
          <button type="button" class="btn btn-primary" style="float: left; margin-left: 5px;" ng-disabled="form.$pristine || (form.$dirty && form.$invalid)" ng-click="saveConfiguration()">Save Configuration</button>
          <button type="button" class="btn btn-danger" style="float: right; margin-right: 5px;" ng-click="openConfirmationModal('removeDistro')" ng-disabled="activeDistro.new">Remove Configuration</button>
          <admin-modal>
            <remove-distro ng-show="confirmationOption == 'removeDistro'"></remove-distro>
          </admin-modal>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}
