{{define "base"}}
<html>
  <script src="/static/js/jquery.js"></script>
  <style type="text/css">
    .addition{ background-color: #9f9; }
    .deletion{ background-color: #faa; }
    .filestat{ font-weight:bold; }
    .rawdiff{ display:none; }
  </style>
  <script type="text/javascript">
    var patches = {{.Data.Patches}};
    var filename = {{.FileName}};
    var patchNumber = {{.PatchNumber}};

    var handlePatchNumber = function(i) {
      var outputBlock = $('<code></code>');
      $('#output').append($('<pre></pre>').append(outputBlock));

      var found = false;
      var lines = patches[i].PatchSet.Patch.split('\n');
      var prevClass = undefined;
      var prevElement = undefined;

      for (var j = 0; j < lines.length; ++j) {
        var line = lines[j];

        var isNewFile = (line.indexOf('diff --git') === 0);

        if (isNewFile && found) {
          break;
        }

        if (filename && isNewFile && line.indexOf(filename) != -1) {
          found = true;
        }

        if (line.substring(0, 3) == "+++") {
          classname = "filestat";
        } else if (line.substring(0, 3) == "---") {
          classname = "filestat";
        } else if (line[0] == "+") {
          classname = "addition";
        } else if (line[0] == '-') {
          classname = 'deletion';
        } else {
          classname = undefined;
        }

        if (classname == prevClass && prevElement) {
          var x = $(prevElement).text(
            $(prevElement).text() + line + "\n");
        } else {
          if (found || !filename) {
            var newSpan = $('<span></span>').text(lines[j] + "\n");
            if (classname) {
              newSpan.addClass(classname);
            }
            outputBlock.append(newSpan);
            prevElement = newSpan;
            prevClass = classname;
          }
        }
      }
    };

    $(document).ready(function() {
      if (patchNumber || patchNumber === 0) {
        handlePatchNumber(patchNumber);
      } else {
        for (var i = 0; i < patches.length; ++i) {
          handlePatchNumber(i);
        }
      }
    });
  </script>

  <body>
    <div id="filename">{{.FileName}}</div>
    <div id="output">
      
    </div>
  </body>

</html>
{{end}}
