{{define "scripts"}}
<script src="{{Static "js" "grid.js"}}?hash={{ StaticsMD5 }}"></script>
<script type="text/javascript">
  var baseVersion = {{.ProjectData.Version}};
  var baseRef = {{.ProjectData.ProjectRef}};
  var gridCells = {{.GridCells}};
  var allVersions = {{.Versions}};
  var versionFailures = {{.Failures}}
  var userTz = {{GetTimezone $.User}};
</script>
{{end}}
{{define "title"}}
Evergreen - Grid
{{end}}
{{define "content"}}
<div id="content" class="container-fluid" ng-controller="VersionMatrixController">
  <div class="container" style="margin-top:20px;">
    <div class="row">
      {{if .ProjectData.Version}}
      <div class="col-lg-8 col-lg-offset-1">
        <github-commit-panel commit="revision" timezone="{{GetTimezone .User}}">
        </github-commit-panel>
      </div>
      {{else}}
      <p class="text-center">There are no builds of this project</p>
      {{end}}
    </div>
  </div>
  <div class="mci-pod failure-list">
    <ul class="nav nav-tabs">
    <li ng-class="{active:tab == 0}"><a href="#" ng-click="setTab(0)">Grid</a></li>
    <li ng-class="{active:tab == 1}"><a href="#" ng-click="setTab(1)">Failures</a></li>
    <div class="row" ng-hide="tab != 1 ">
      <div class="gridtable-small">
        <h3 ng-show="!versionFailures.length">Hooray! There are no recent test failures</h3>
        <h3 ng-show="versionFailures.length">Recent test failures ([[numFailures]]):</h3>
        <div ng-repeat="failure in versionFailures | orderBy:['-variants.length', 'name | endOfPath']" class="failure-name" ng-show="versionFailures.length">
          <span class="failure-title"><a ng-href="/task_history/[[baseRef.identifier]]/[[failure.task]]?#[[failure.name | endOfPath]]=fail">[[failure.name | endOfPath]]</a></span> in <span class="failure-title">[[failure.task]] ([[failure.variants.length]])</span>
          <p class="test-failures" ng-repeat="bv in failure.variants | orderBy:'name'" >
            &ndash;<a ng-href="/task/[[bv.task_id]]"> [[bv.name]]</a>
          </p>
        </div>
      </div>
    </div>
    <div class="row" ng-hide="tab != 0">
      <div class="col-lg-offset-1">
        <div id="popover"></div>
        <div class="gridtable-small">
          <div class="top-header-row">
            <div class="header-cell" ng-repeat="task in taskNames" id="[['buildVariant' + $index]]">
              <span class="header-text">
              <a ng-href="/task_history/[[project]]/[[task]]">[[task]]</a>
              </span>
            </div>
          </div>
          <div class="tablerow" ng-repeat="buildVariant in buildVariants">
            <div class="header">
              <div class="taskNames" id="[['task' + $index]]">[[buildVariant]]</div>
            </div>
            <div class="cells">
              <div ng-repeat="task in taskNames" ng-class="'cell ' + getGridClass(buildVariant, task)" ng-mouseover="highlightHeader($parent.$parent.$index, $index)" bs-popover="'/static/partials/popover_content.html'" data-container="#popover" data-unique="1" ng-click="showTaskPopover(buildVariant, task, $event.target);">&nbsp;</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}