{{define "scripts"}}
<script src="{{Static "js" "grid.js"}}?hash={{ StaticsMD5 }}"></script>
<script type="text/javascript">
  var baseVersion = {{.ProjectData.Version}};
  var baseRef = {{.ProjectData.ProjectRef}};
  var gridCells = {{.GridCells}};
  var allVersions = {{.Versions}};
  var failures = {{.Failures}}
  var userTz = {{GetTimezone $.User}};
</script>
{{end}}
{{define "title"}}
Evergreen - Grid
{{end}}
{{define "content"}}
<div id="content" class="container-fluid" ng-controller="VersionMatrixController">
  <header class="clearfix">
    <h1>Summary</h1>
  </header>
  <div class="row">
    {{if not .ProjectData.Version}}
    <p class="text-center">There are no builds of this project</p>
    {{end}}
  </div>
  <ul class="nav nav-tabs">
  <li ng-class="{active:tab == 0}"><a href="#" ng-click="setTab(0)">Grid</a></li>
  <li ng-class="{active:tab == 1}"><a href="#" ng-click="setTab(1)">Recent Failures</a></li>
  <div class="row summary" ng-hide="tab != 1">
    <div class="gridtable-small">
      <h3 ng-show="failures.length == 0">Hooray! There are no recent test failures.</h3>
      <ul ng-repeat="failure in failures" ng-show="failures.length != 0">
        <div class="failure-task">[[failure.task]]</div>
        <li class="failure-tab failure-test strong" ng-repeat="(name, variants) in failure.variants | orderBy:['-variants.length', 'name']">
          <a ng-href="/task_history/[[baseRef.identifier]]/[[failure.task]]?#[[name]]=fail">[[name]]</a></span>&nbsp;on&nbsp;<span ng-repeat="variant in variants | orderBy:'name'"><a ng-href="/task/[[variant.task_id]]">[[variant.name]]</a>[[$last ? '' : ',&nbsp;']]</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="row" ng-hide="tab != 0">
    <div class="row"></div>
      <div id="popover"></div>
      <div class="gridtable-small">
        <div class="top-header-row">
          <div class="header-cell" ng-repeat="task in taskNames" id="[['buildVariant' + $index]]">
            <span class="header-text">
            <a ng-href="/task_history/[[project]]/[[task]]">[[task]]</a>
            </span>
          </div>
        </div>
        <div class="tablerow" ng-repeat="buildVariant in buildVariants">
          <div class="header">
            <div class="taskNames" id="[['task' + $index]]">[[buildVariant]]</div>
          </div>
          <div class="cells">
            <div ng-repeat="task in taskNames" ng-class="'cell ' + getGridClass(buildVariant, task)" ng-mouseover="highlightHeader($parent.$parent.$index, $index)" bs-popover="'/static/partials/popover_content.html'" data-container="#popover" data-unique="1" ng-click="showTaskPopover(buildVariant, task, $event.target);">&nbsp;</div>
          </div>
        </div>
    </div>
  </div>
</div>
{{end}}
