{{define "scripts"}}
<script type="text/javascript" src="{{Static "js" "projects.js"}}?hash={{ StaticsMD5 }}"></script>
<script>
{{if .User}}
var isSuperUser = {{IsSuperUser .User.Id}};
{{else}}
var isSuperUser = false;
{{end}}
</script>
{{end}}

{{define "title"}}
Evergreen Projects
{{end}}

{{define "content"}}
<div id="content" class="container-fluid row" ng-controller="ProjectCtrl">
    <div class="row" style="text-align: center; margin-top:50px;" ng-cloak>
        <h1 ng-if="allProjects.length == 0">Hmm... We can't find any projects for you.</h1>

        <h1 ng-if="allProjects.length > 0">Oops! We can't find the project you specified.</h1>
        <h2 ng-if="allProjects.length > 0">Please click one of the projects in the top menu.</h2>

        <div class="row" style="text-align: center; margin-top: 20px;">
            <img src='/static/img/evergreen_grey.png' height="250"/>
        </div>

        <h2 ng-if="isSuperUser && allProjects.length > 0">Or create one here:</h2>
        <h2 ng-if="isSuperUser && allProjects.length == 0">Would you like to create one?</h2>
        <div class="row" style="text-align: center; margin-top:20px;" ng-show="isSuperUser" >
            <a href="/projects" type="submit" class="btn btn-primary">Create Project</a>
        </div>

        <h2 ng-if="!isSuperUser && allProjects.length == 0">Please contact your Evergreen administrator to add a project.</h2>

        <h2 ng-if="!isSuperUser && allProjects.length > 0">If you're looking for something else,</h2>
        <h2 ng-if="!isSuperUser && allProjects.length > 0">please contact your Evergreen administrator.</h2>

    </div>
</div>
{{end}}
