{{define "scripts"}}
<script type="text/javascript" src="{{Static "js" "settings.js"}}?hash={{ StaticsMD5 }}"></script>
<script type="text/javascript">
    var user_tz = {{.Data.Timezone}};
	var userApiKey = {{.User.APIKey}}
    var userConf = {{.Config}}
</script>
{{end}}

{{define "title"}}
Settings for {{.User.Id}}
{{end}}


{{define "content"}}
<div id="content" class="container" ng-controller="SettingsCtrl">
  {{template "flash" . }}
  <div class="row">
    <div class="col-lg-4">
      <h3>Local Settings</h3>
      <form novalidate class="css-form">
        <div>
          <label>Timezone <select ng-model="new_tz" ng-options="t.value as t.str for t in timezones"></select></label>
        </div>
        <br />
        <div style="text-align:center">
          <button ng-click="updateUserSettings(new_tz)" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row" ng-controller="SettingsCtrl">
    <div class="col-lg-8">
      <h3>Authentication</h3>
      <div>Copy and paste these settings into ~/.evergreen.yml to authenticate the command line client.</div>
      <textarea readonly style="font-family:monospace" id="conf"  ng-click="selectConf()">
user: "[[userConf.user]]"
api_key: "[[userConf.api_key]]"
api_server_host: "[[userConf.api_server_host]]"
ui_server_host: "[[userConf.ui_server_host]]"
</textarea>
      <div><button ng-click="newKey()" class="btn btn-primary">Reset API Key</button> </div>
    </div>
  </div>
</div>
{{end}}
