{{define "scripts"}}
<script type="text/javascript" src="{{Static "js" "settings.js"}}?hash={{ StaticsMD5 }}"></script>
<script type="text/javascript">
  var user_tz = {{.Data.Timezone}};
  var userApiKey = {{.User.APIKey}};
  var userConf = {{.Config}};
  var binaries = {{.Binaries}};
</script>
<style type="text/css">
  body{ background: #f5f6f7; }
</style>
{{end}}

{{define "title"}}
Settings for {{.User.Id}}
{{end}}


{{define "content"}}
<div id="content" class="container-fluid" ng-controller="SettingsCtrl">
  <notify-box ng-init="destination='errorHeader'"></notify-box>
  {{template "flash" . }}
  <div class="col-lg-12">
    <div class="row" ng-controller="SettingsCtrl">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="section-heading"><i class="fa fa-key"></i> Authentication</h3>
            <div class="mci-pod">
              <div>
                <p>Copy and paste these settings into ~/.evergreen.yml to authenticate the command line client.</p>
                <pre readonly style="font-family:monospace" id="conf">
user: "[[userConf.user]]"
api_key: "[[userConf.api_key]]"
api_server_host: "[[userConf.api_server_host]]"
ui_server_host: "[[userConf.ui_server_host]]"</pre>
                <div><button ng-click="newKey()" class="btn btn-primary">Reset API Key</button></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="section-heading"><i class="fa fa-download"></i> Command Line Client</h3>
            <div class="mci-pod">
              <div class="row">
                <div class="col-lg-3">
                  <div ng-repeat="bin in binaries">
                    <a ng-href="[[bin.url]]"> [[bin.os]]/[[bin.arch]]</a>
                  </div>
                </div>
                <div class="col-lg-9">
                  <p>The latest Evergreen command line client is available for download on these platforms.</p>
                  <p>
                  The command line client lets you run patch builds and debug project configuration files from your terminal.
                  View the <a href="https://github.com/evergreen-ci/evergreen/wiki/Using-the-command-line-tool">documentation</a> or run <code>evergreen --help</code> or <code>evergreen [command] --help</code> for additional assistance.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h3 class="section-heading"><i class="fa fa-globe"></i> User Settings</h3>
            <div class="mci-pod">
              <form novalidate class="form-horizontal">
                <div class="form-group">
                  <label for="timezone" class="col-sm-4 control-label">Timezone</label>
                  <div class="col-sm-8">
                    <select class="form-control" ng-model="new_tz" ng-options="t.value as t.str for t in timezones"></select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="patchbeta" class="col-sm-4 control-label">Enable Patch Config Beta</label>
                  <div class="col-sm-8">
                    <input type="checkbox" class="form-control" ng-model="patchbeta"/>
                  </div>
                </div>
                <div><button ng-click="updateUserSettings(new_tz, patchbeta)" class="btn btn-primary">Save</button></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{{end}}
