{{define "scripts"}}
<script src="{{Static "js" "task_history.js"}}?hash={{ StaticsMD5 }}"></script>
<script type="text/javascript">
  var failedTasks = {{.Data.FailedTests}}
  var taskName = {{.Data.TaskName}}
  var tasksByCommit = {{.Data.Tasks}}
  var variants = {{.Data.Variants}}
  var versions = {{.Data.Versions}}
  var exhaustedBefore = {{.Data.ExhaustedBefore}}
  var exhaustedAfter = {{.Data.ExhaustedAfter}}
  var selectedRevision = {{.Data.SelectedRevision}}
</script>
{{end}}

{{define "title"}}
Evergreen - Task History
{{end}}

{{define "content"}}
<div id="content" class="container-fluid" ng-controller="TaskHistoryController" ng-init="init(project);">
  <div class="row">
    <div class="gridtable-timeline">
      <div class="task-history-gridtable gridtable-small" style="padding-top: 60px">
        <div class="col-lg-1">
          <button type="button" class="btn btn-info" ng-click="loadMore(false)"
                  ng-hide="exhaustedAfter">
            Load Newer Entries
          </button>
        </div>
        <div class="top-header-row locked" style="margin-top: -124px; padding-top: 124px; width: 60%">
          <div  class="header-cell"
                ng-repeat="bv in variants"
                id="[['bv' + $index]]"
                ng-class="variantInFilter(taskHistoryFilter.filter, bv) | conditional:'full-opacity':'semi-transparent'">
            <span class="header-text">
              <a ng-href="/build_variant/[[project]]/[[bv]]">
                [[ bv ]]
              </a>
            </span>
          </div>
        </div>
        <div class="tablebody locked">
          <div  class="tablerow"
                ng-repeat="taskGroup in tasksByVariantByCommit"
                style="margin-bottom: 0px;">
            <div ng-hide="hideInactiveVersions.get() && isTaskGroupInactive[taskGroup._id]">
              <div  class="header"
                    ng-class="taskGroupHasTaskMatchingFilter(taskHistoryFilter.filter, variants, taskGroup) | conditional:'full-opacity':'semi-transparent'">
                <div ng-class="{'highlight-bg': taskGroup._id == selectedRevision}">
                  <a href="/version/[[getVersionForCommit(taskGroup._id).id]]">
                    [[ getVersionForCommit(taskGroup._id).message ]]
                  </a>
                </div>
                <div class="revision-date">
                  [[ getVersionForCommit(taskGroup._id).create_time | date:"medium" ]]
                </div>
              </div>
              <div class="cells" style="height: 50px; margin-left: 9px">
                <div  ng-repeat="bv in variants"
                      class="task-history-cell-wrapper column-[[$index]]">
                  <a  href="/task/[[getTestForVariant(taskGroup, bv)._id]]"
                      data-element-tooltip="getTaskTooltip(taskGroup, bv)"
                      data-animation=""
                      ng-class="variantInFilter(taskHistoryFilter.filter, bv) |
                                conditional:'full-opacity':'transparent'">
                    <span ng-class="taskMatchesFilter(taskHistoryFilter.filter, getTestForVariant(taskGroup, bv)) |
                                    conditional:'full-opacity':'semi-transparent'">
                      <div ng-class="'cell ' + getGridClass(getTestForVariant(taskGroup, bv)) + ' ' + (taskMatchesFilter(taskHistoryFilter.filter, getTestForVariant(taskGroup, bv)) | conditional:'':'task-doesnt-match')"></div>
                    </span>
                  </a>
                </div>
                <div style="clear: both"></div>
              </div>
            </div>
            <div ng-show="hideInactiveVersions.get() && inactiveTaskGroupCount[$index]">
              <div class="header muted" style="text-align: center; position: relative">
                <div class="task-history-divider-line">
                </div>
                <div class="task-history-inactive-count-wrapper">
                  [[ inactiveTaskGroupCount[$index] ]] inactive
                </div>
              </div>
              <div class="cells" style="height: 25px; margin-left: 9px">
                <div  ng-repeat="bv in variants"
                      class="task-history-cell-wrapper column-[[$index]]"
                      style="height: 31px !important;">
                </div>
                <div style="clear: both"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="filter-table">
        <div style="position: relative">
          <div>
            <h3>Filter</h3>
            <h5>By Tests:</h5>

            <input  ng-model="taskHistoryFilter.testsSearchString"
                    ng-change="taskHistoryFilter.searchTestNames()"
                    mci-focus="taskHistoryFilter.showTestNameResults()"
                    mci-blur="taskHistoryFilter.hideTestNameResults()"
                    mci-key-return="taskHistoryFilter.filterTest(taskHistoryFilter.testsSearchString, 'fail')">
            <i  class="icon-plus"
                style="cursor: pointer"
                ng-click="taskHistoryFilter.filterTest(taskHistoryFilter.testsSearchString, 'fail')"></i>
            <div  class="autocomplete-container" ng-show="taskHistoryFilter.testsSearchDisplay">
              <div  class="autocomplete-element"                  
                    ng-repeat="testName in taskHistoryFilter.testsSearchResults"
                    ng-click="taskHistoryFilter.filterTest(testName, 'fail')">
                [[ testName ]]
              </div>
            </div>
            <div  ng-repeat="(test, status) in taskHistoryFilter.filter.tests" class="filter-atom">
              <span ng-click="taskHistoryFilter.removeTestFilter(test)" style="cursor: pointer">
                <i class="icon-remove"></i>
              </span>
              [[ test ]]
              <select ng-options="status for status in ['pass', 'fail', 'ran']"
                      ng-model="taskHistoryFilter.filter.tests[test]"
                      ng-change=" taskHistoryFilter.setLocationHash();
                                  taskHistoryFilter.queryServer();"></select>
            </div>

            <h3>Options</h3>

            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="hideInactiveVersions.v">
                Hide Inactive Versions
              </label>
            </div>
          </div>
          <br>
          <div style="display: none">
            <h4>Build Variants</h4>

            <input  ng-model="taskHistoryFilter.buildVariantSearchString"
                    ng-change="taskHistoryFilter.searchBuildVariants(variants)"
                    mci-focus="taskHistoryFilter.showBuildVariantResults()"
                    mci-blur="taskHistoryFilter.hideBuildVariantResults()"
                    mci-key-return="taskHistoryFilter.filterBuildVariant(taskHistoryFilter.buildVariantSearchString)">
            <i  class="icon-plus"
                style="cursor: pointer"
                ng-click="taskHistoryFilter.filterBuildVariant(taskHistoryFilter.buildVariantSearchString)"></i>
            <div  class="autocomplete-container"
                  ng-show="taskHistoryFilter.buildVariantSearchDisplay">
              <div  class="autocomplete-element"                  
                    ng-repeat="variant in taskHistoryFilter.buildVariantSearchResults"
                    ng-click="taskHistoryFilter.filterBuildVariant(variant)">
                [[ variant ]]
              </div>
            </div>
            <div  ng-repeat="variant in taskHistoryFilter.filter.buildVariants"
                  class="filter-atom">
              <span ng-click="taskHistoryFilter.removeBuildVariant($index)" style="cursor: pointer">
                <i class="icon-remove"></i>
              </span>
              [[ variant ]]
            </div>
          </div>
          <div ng-show="taskHistoryFilter.testsLoading">
            <div class="label label-info">Loading...</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 10px">
    <div class="col-lg-2">
      <button type="button" class="btn btn-info" ng-click="loadMore(true)" ng-hide="exhaustedBefore">Load Older Entries</button>
    </div>
  </div>
  <div class="row">&nbsp;</div>
</div>
{{end}}

