{{define "scripts"}}
<style type="text/css">
  body{ background: #f5f6f7; }
</style>
<script type="text/javascript">
  window.version = {{ .Version }};
  window.plugins = {{.PluginContent.Data}}
</script>
<script type="text/javascript" src="{{Static "js" "version.js"}}?hash={{ StaticsMD5 }}"></script>
{{if .User}}
  <script type="text/javascript" src="{{Static "js" "version_admin.js"}}?hash={{ StaticsMD5 }}"></script>
{{end}}
  {{range .PluginContent.Includes}}
    {{.}}
  {{end}}
{{end}}

{{define "title"}}
  {{ if .Version.PatchInfo }}
Evergreen - Version Patch {{.Version.PatchInfo.Patch.PatchNumber}} by {{.Version.PatchInfo.Patch.Author}}
  {{else}}
Evergreen - Version {{Trunc .Version.Version.Revision 10}}
  {{end}}
{{end}}

{{define "content"}}
<span ng-controller="VersionController">
{{ if not .ProjectData.Patch }}
<div ng-controller="VersionHistoryDrawerCtrl" id="drawer">
  <div id="drawer-contents">
    <div id="drawer-filled">
      <div ng-repeat="revisionsForDate in groupedRevisions">
        <div class="drawer-section-header">
          <span class="history-date-header-words">[[revisionsForDate.date | date:'MMM d']]</span>
          <span class="history-date-header-numbers history-date-header-slash">&nbsp;</span>
          <span class="history-date-header-numbers">[[revisionsForDate.date | date:'M/d/yyyy']]</span>
        </div>

        <div ng-repeat="revision in revisionsForDate.revisions" class="drawer-item"
            ng-class="{ 'drawer-item-highlighted': isCurrent(revision), }">
          <revision-blurb  linktype="'version'" linkid="revision.version_id" revision="revision" hash="getTab()"><revision-blurb>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="page-content" class="container-fluid">
{{template "flash" . }}

{{ else }}

<div id="content" class="container-fluid">
{{template "flash" . }}

{{ end }}

<div id="content" class="container-fluid">
  {{template "flash" . }}
  <ol class="breadcrumb">
    <li>
      <span>
        <span ng-show="version.PatchInfo">
          Patch [[version.PatchInfo.Patch.PatchNumber]]
          by [[version.PatchInfo.Patch.Author]]
        </span>
        <span class="gitspec" ng-hide="version.PatchInfo">
          [[version.Version.revision.substr(0, 10)]]
        </span>
      </span>
    </li>
  </ol>

  <div class="row">
    <div class="col-lg-7">
      <div class="row">
        <div class="col-lg-10">
          <br>
          {{if .Version.PatchInfo}}
            <patch-commit-panel patchinfo="version.PatchInfo" basecommit="version" timezone="{{GetTimezone .User}}" baselink="/version" base="{{.Version.PatchInfo.BaseVersionId}}"></patch-commit-panel>
          {{else}}
            <github-commit-panel commit="commit" timezone="{{GetTimezone .User}}"></github-commit-panel>
          {{end}}
          <div ng-show="[[version.Version.errors.length]]">
            <i class="icon-warning-sign" style="color:red"></i>
            [[version.Version.errors.length]]  [[version.Version.errors.length | pluralize:'error']] in configuration file
            <div style="color:red" ng-repeat="error in version.Version.errors">- [[error]]</div>
          </div>
        </div>
        <div class="col-lg-2">
          {{if .User}}
            <div ng-controller="AdminOptionsCtrl">
              <div id="admin-dropdown" class="dropdown pull-right page-actions">
                <a id="admin-options" class="btn btn-default" data-toggle="dropdown">
                  <i class="icon-gear"></i>
                  <i class="icon-caret-down"></i>
                </a>

                <ul class="dropdown-menu" role="menu">
                  <li><a tabindex="-1" href="#" ng-click="openAdminModal('schedule')">Schedule all</a></li>
                  <li><a tabindex="-1" href="#" ng-click="openAdminModal('unschedule')">Unschedule all</a></li>
                  <li><a tabindex="-1" href="#" ng-click="openAdminModal('priority')">Set priority</a></li>
                </ul>
              </div>
              <admin-modal>
                  <admin-schedule-all ng-show="adminOption=='schedule'"></admin-schedule-all>
                  <admin-unschedule-all ng-show="adminOption=='unschedule'"></admin-unschedule-all>
                  <admin-set-priority ng-show="adminOption=='priority'"></admin-set-priority>
              </admin-modal>
            </div>
          {{end}}
        </div>
      </div>

      <h3 class="section-heading">Status</h3>
      <div class="mci-pod">
        <ul class="nav nav-tabs">
          <li ng-class="{active:tab==0}"><a href="#" ng-click="setTab(0)">By Variant</a></li>
          <li ng-class="{active:tab==1}"><a href="#" ng-click="setTab(1)">Grid</a></li>
        </ul>
        <div class="row" ng-hide="tab!=0">
          <div ng-repeat="build in version.Builds" class="col-lg-4">
            <h4 class="one-liner" style="margin-bottom: 5px;">
              <a ng-href="/build/[[build.Build._id]]" class="semi-muted">[[build.Build.display_name]]</a>
            </h4>
            <div class="progress" results-bar="taskStatuses[build.Build._id]" results-bar-tooltips="taskStatusTitles[build.Build._id]"></div>
          </div>
        </div>
        <div class="row" ng-hide="tab!=1">
          <div class="gridtable-small">  
            <div class="top-header-row">
              <div class="header-cell" ng-repeat="task in taskNames" id="[['bv' + $index]]">
                <span class="header-text">[[task]]</span>
              </div>
            </div>
            <div class="tablerow" ng-repeat="build in version.Builds">
              <div class="header">
                <div class="testname" id="[['test' + $index]]">[[build.Build.display_name]]</div>
              </div>
              <div class="cells">
                <a ng-href="[[getGridLink(build.Build.display_name, task)]]" ng-repeat="task in taskNames" ng-class="'cell ' + getGridClass(build.Build.display_name, task)">&nbsp;</a>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-lg-12">
          {{range .PluginContent.Panels.Left}}
            {{.}}
          {{end}}
        </div>
      </div>
    </div>

    <div class="col-lg-5" ng-show="version.PatchInfo.StatusDiffs">
      <patch-diff-panel type="Task"
                        baselink="/task/"
                        diffs="version.PatchInfo.StatusDiffs"
                        ng-show="version.PatchInfo.StatusDiffs">
      </patch-diff-panel>
    </div>
    <div class="col-lg-5">
      {{range .PluginContent.Panels.Right}}
        {{.}}
      {{end}}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      {{range .PluginContent.Panels.Center}}
        {{.}}
      {{end}}
    </div>
  </div>
</div>
</span>

{{end}}
