{{define "scripts"}}
<script type="text/javascript" src="{{Static "js" "waterfall.js"}}?hash={{ StaticsMD5 }}"></script>
<script type="text/javascript">
  window.serverData = {{ .Data }}; 
</script>
{{end}}

{{define "title"}}
Evergreen - Waterfall
{{end}}

{{define "content"}}
<div id="content" class="container-fluid" ng-controller="WaterfallCtrl">
  {{if .Data.Versions}}
  <header class="clearfix">
    <h1>Waterfall</h1>
    <!-- the filter inputs -->
    <form class="form-inline header-form force-inline" role="form">
      <div class="form-group">
        <input id="variant-filter" class="form-control input-sm" type="text" ng-model="filter.variant" placeholder="Filter variant..." />
      </div>
      <div class="form-group">
        <input id="task-filter" class="form-control input-sm" type="text" ng-model="filter.task" placeholder="Filter task..." />
      </div>
    </form>

    <!-- pagination buttons -->
    <div class="btn-group btn-group-sm header-pagination">
      <a ng-if="!disablePreviousLink" class="btn btn-default" ng-href="[[previousPage()]]">Newer</a>
      <a ng-if="disablePreviousLink" class="btn btn-default" disabled="disabled">Newer</a>

      <a ng-if="!disableNextLink" class="btn btn-default" ng-href="[[nextPage()]]">Older</a>
      <a ng-if="disableNextLink" class="btn btn-default" disabled="disabled">Older</a>
    </div>

  </header>

<!-- the row of titles -->
  <div class="row version-header">
      <!-- build variants title -->
    <div id="build-variant-col" class="col-xs-2">
      <div class="row version-header-full text-right">Variant</div>
    </div>
   <div class="col-xs-2" ng-repeat="version in versions" ng-model="showFullMessage">
      <!-- header -->
      <version-header>
        <div class="row version-header-full" ng-show="version.rolled_up">
        <popover-section>
          [[version.rolled_header]]
        </popover-section>
        </div>
        <div ng-show="!version.rolled_up" class="version-header-expanded">
          <div>
            <span class="btn btn-default btn-hash history-item-revision">
              <a href=[[version.id_link]]> [[version.commit]]</a>
            </span>
            [[version.create_time]]
          </div>
          <strong>[[version.author]] - </strong>
              [[version.message]]<!--
          --><span ng-show="version.messages[0].length > 35"><!--
          --><span ng-show="!showFullMessage">... <button ng-click="flipExpand()" class="btn-link version-header-button-link">more</button></span><!--
          --><span ng-show="showFullMessage">[[version.messages[0].substring(35)]]
              <button ng-click="flipExpand()" class="btn-link version-header-button-link">less</button>
            </span>
          </span>
        </div>
      </version-header>
    </div>
  </div>

  <!-- the actual waterfall display -->
  <div id="wrapper" class="row">
    
    <!-- column of build variant names -->
    <div id="build-variant-col" class="col-xs-2">
      <div class="row waterfall-cell build-variant-name" ng-repeat="variant in buildVariants | filter:filter.variant">[[variant]]</div>
    </div>

    <!-- version columns -->
    <div class="col-xs-2" ng-repeat="version in versions">

      <!-- build cells -->
      <div class="row waterfall-cell" ng-class="{ 'inactive-build': version.rolled_up }"
        ng-repeat="build in version.builds | filter:{ build_variant: filter.variant }">

        <!-- build result - either a summary of the build, or 'inactive build' striping -->
        <div ng-switch="version.rolled_up">

          <div ng-switch-when="false">
            <build-result>
              <task-result ng-repeat="task in build.tasks | filter:{ display_name: filter.task }">
              </task-result>
            </build-result>
            <build-summary>
            </build-summary>
          </div>
          <div ng-switch-when="true" class="inactive-build">inactive build</div>

        </div>

      </div>

    </div>

  </div>
  {{else}}
  <p>There are no builds of this project</p>
  {{end}}
</div>
{{end}}
