.content-container, .grid {
  height: 100%;
}

.ui-grid-overlay {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  text-align: center;
}

.ui-grid-overlay > * {
  display: inline-block;
  margin: 0;
}
