{{define "content"}}
<tr><td colspan="3" height="10" bgcolor="#3b291f"></td></tr>
<tr><td colspan="3" height="20"></td></tr>
<tr>
  <td width="20"></td>
  <td align="left">
    <!-- table lvl 2 -->
    <table cellpadding="0" cellspacing="0" width="100%">
      {{ range .FailedTests }}
        <tr>
          <td width="90%">
            <span style="font-family:Arial,sans-serif;font-weight:bold;font-size:10px;color:#999999" class="label">TEST</span>
          </td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td width="90%">
            <span style="font-family:Arial,sans-serif;font-weight:bold;font-size:36px;line-height:28px;color:#333333" class="task">
              {{ .TestFile }}
            </span>
          </td>
          <td style="padding:0 10px;background-color:#ed1c24;"><span style="font-family:Arial,sans-serif;font-weight:bold;font-size:18px;color:#ffffff" class="status">FAILED</span></td>
        </tr>
        <tr><td colspan="2" height="10"></td></tr>
        <tr>
          <td width="90%">
            <a href="{{ .URL }}" style="font-family:Arial,sans-serif;font-weight:normal;font-size:13px;color:#006cbc" class="link">view logs</a>
          </td>
          <td>&nbsp;</td>
        </tr>
      {{end}}

      <tr><td colspan="2" height="30"></td></tr>
      <tr>
        <td width="90%"><span style="font-family:Arial,sans-serif;font-weight:bold;font-size:10px;color:#999999" class="label">BRANCH</span></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="90%">
          <span style="font-family:Arial,sans-serif;font-weight:bold;font-size:36px;line-height:28px;color:#333333" class="task">
            {{ .ProjectRef.DisplayName }}
          </span>
        </td>
      </tr>
      <tr><td colspan="2" height="30"></td></tr>
      <tr>
        <td width="90%"><span style="font-family:Arial,sans-serif;font-weight:bold;font-size:10px;color:#999999" class="label">TASK</span></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="90%">
          <span style="font-family:Arial,sans-serif;font-weight:bold;font-size:36px;line-height:28px;color:#333333" class="task">
            {{ .Task.DisplayName }}
          </span>
        </td>
        {{ if .Task.Details.TimedOut }}
        <td style="padding:0 10px;background-color:#ed1c24;">
          <span style="font-family:Arial,sans-serif;font-weight:bold;font-size:18px;color:#ffffff" class="status">
            TIMED OUT
          </span>
        </td>
        {{ else }}
          <td>&nbsp;</td>
        {{ end }}
      </tr>
      <tr><td colspan="2" height="10"></td></tr>
      <tr>
        <td width="90%">
          <a href="{{.Settings.Ui.Url}}/task/{{.Task.Id}}" style="font-family:Arial,sans-serif;font-weight:normal;font-size:13px;color:#006cbc" class="link">view task</a>
        </td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td colspan="2" height="30"></td>
      </tr>
      <tr>
        <td colspan="2"><span style="font-family:Arial,sans-serif;font-weight:bold;font-size:10px;color:#999999" class="label">BUILD VARIANT</span></td>
      </tr>
      <tr>
        <td colspan="2">
          <span style="font-family:Arial,sans-serif;font-weight:bold;font-size:36px;color:#333333" class="build">
            {{ .Build.DisplayName }}
          </span>
        </td>
      </tr>
    </table>
  </td>
  <td width="20"></td>
</tr>

{{end}}
