{{define "scripts"}}
<script src="{{Static "js" "admin_events.js"}}?hash={{ StaticsMD5 }}"></script>
<script src="{{Static "js" "deep-diff.min.js"}}?hash={{ StaticsMD5 }}"></script>
<script type="text/javascript">
window.userTz = {{GetTimezone .User}};
window.events = {{.Data}};
</script>
<style type="text/css">
body{ background-color: rgb(250,250,250); }
</style>
{{end}}

{{define "title"}}
Admin Events
{{end}}

{{define "content"}}
<div ng-controller="AdminEventsController" layout="column" ng-cloak>
  <notify-box ng-init="destination='errorHeader'"></notify-box>
  <md-card ng-repeat="event in Events" style="overflow:scroll; overflow-wrap: break-word;">
    <md-card-content>
      <div>
        <h3> [[event.ts | convertDateToUserTimezone:userTz:'MMM D, YYYY h:mm:ss a']] </h3>
        <h5> User: [[event.user]] </h5>
        <h5> Section: [[event.section]] </h5>
        <table class="eventsTable">
          <thead>
            <tr>
              <td> Property </td>
              <td> Before </td>
              <td> After </td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="diffLine in event.diff">
              <td> [[diffLine.text.property]] </td>
              <td> [[diffLine.text.before]] </td>
              <td> [[diffLine.text.after]] </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="padding-top:8px">
        <a ng-click="revertEvent(event.guid)" class="link"> Revert this event </a>
      </div>
    </md-card-content>
  </md-card>
</div>
{{end}}
