{{define "scripts"}}
<script src="{{Static "js" "admin.js"}}?hash={{ StaticsMD5 }}"></script>
<style type="text/css">
  body{ background-color: rgb(250,250,250); }
</style>
{{end}}

{{define "title"}}
Admin Settings
{{end}}


{{define "content"}}
<div ng-controller="AdminSettingsController" style="{height: 100%}" ng-cloak>
  <notify-box ng-init="destination='errorHeader'"></notify-box>
  <md-content class="md-padding" >
    <div class="admin-columnLayout">

      <md-card>
        <md-card-title>
          <i class="fa fa-gears"></i>
          <md-card-title-text>
            <span>Services</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          Placeholder content
          <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        </md-card-content>
      </md-card>

      <md-card>
        <md-card-title>
          <i class="fa fa-bullhorn"></i>
          <md-card-title-text>
            <span>Announcements</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <md-input-container class="control">
            <label>Site-wide banner:</label>
            <input type="text" ng-model="Settings.banner" placeholder="(Leave blank to remove banner)">
          </md-input-container>
        </md-card-content>
        <md-card-footer>
          <md-button class="md-raised" ng-click="saveSettings()">Save Changes</md-button>
        </md-card-footer>
      </md-card>

    </div>

    <div class="admin-columnLayout">

      <md-card>
        <md-card-title>
          <i class="fa fa-refresh"></i>
          <md-card-title-text>
            <span>Restart Tasks</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          Placeholder content
          <br/><br/><br/><br/><br/>
        </md-card-content>
      </md-card>

    </div>

  </md-content>
</div>
{{end}}
