{{ define "base" }}
<!DOCTYPE html>
<html lang="en" ng-app="MCI">

    <head>
        <meta charset="utf-8">
        <title>{{ template "title" .}}</title>

        <link rel="shortcut icon" href="/static/img/favicon.ico">

        <!-- mongostrap (Bootstrap + MongoDB) + angular material styles -->
        <link href="/static/css/mongostrap.min.css?hash={{ BuildRevision }}" rel="stylesheet" />
        <link href="/static/css/angular-material.min.css" rel="stylesheet" />
        <link href="/static/css/md-time-picker.css" rel="stylesheet" />

        <!-- icons -->
        <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="/static/material-design-icons/material-icons.css" rel="stylesheet" />

        <!-- our css -->
        <link href="/static/dist/css/styles.min.css?hash={{ BuildRevision }}" rel="stylesheet" />

        <!-- underscore.js js v1.4.4 js -->
        <script type="text/javascript" src="/static/thirdparty/underscore-min.js"></script>

        <!-- d3.js v3.5.3 -->
        <script type="text/javascript" src="/static/thirdparty/d3.min.js"></script>

        <!-- angular.js v1.2.18 js -->
        <script type="text/javascript" src="/static/thirdparty/angular.min.js"></script>
        <script type="text/javascript" src="/static/thirdparty/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="/static/thirdparty/angular-aria.min.js"></script>
        <script type="text/javascript" src="/static/thirdparty/angular-messages.min.js"></script>
        <script type="text/javascript" src="/static/thirdparty/angular-animate.min.js"></script>
        <script type="text/javascript" src="/static/thirdparty/angular-material.min.js"></script>
        <script type="text/javascript" src="/static/thirdparty/angular-route.min.js?hash={{ BuildRevision }}"></script>
        <script type="text/javascript" src="/static/thirdparty/ansi_up-6.0.6.js"></script>
        <script type="text/javascript" src="/static/thirdparty/angular-md5.js?hash={{ BuildRevision }}"></script>
        <script type="text/javascript" src="/static/thirdparty/md-date-range-picker.min.js?hash={{ BuildRevision }}"></script>
        <link href="/static/thirdparty/md-date-range-picker.min.css?hash={{ BuildRevision }}" rel="stylesheet"/>
        <script type="text/javascript" src="/static/js/filters/filters.common.js?hash={{ BuildRevision }}"></script>
        <script type="text/javascript" src="/static/js/directives/directives.drawer.js?hash={{ BuildRevision }}"></script>
        <script type="text/javascript" src="/static/js/directives/directives.visualization.js?hash={{ BuildRevision }}"></script>
        <script type="text/javascript" src="/static/js/directives/directives.badges.js?hash={{ BuildRevision }}"></script>
        <script type="text/javascript" src="/static/js/directives/directives.tristateCheckbox.js?hash={{ BuildRevision }}"></script>
        <script type="text/javascript" src="/static/js/directives/directives.github.js?hash={{ BuildRevision }}"></script>
        <script type="text/javascript" src="/static/js/directives/directives.patch.js?hash={{ BuildRevision }}"></script>
        <script type="text/javascript" src="/static/js/directives/directives.spawn.js?hash={{ BuildRevision }}"></script>
        <script type="text/javascript" src="/static/js/directives/directives.events.js?hash={{ BuildRevision }}"></script>
        <script type="text/javascript" src="/static/js/directives/directives.svg.js?hash={{ BuildRevision }}"></script>
        <script type="text/javascript" src="/static/js/directives/directives.confirm.js?hash={{ BuildRevision }}"></script>
        <script type="text/javascript" src="/static/thirdparty/md-time-picker.js"></script>
        <script type="text/javascript" src="/static/js/services/location_hash.js?hash={{ BuildRevision }}"></script>
        <script type="text/javascript" src="/static/js/services/rest.js?hash={{ BuildRevision }}"></script>
        <script type="text/javascript" src="/static/js/mci_module.js?hash={{ BuildRevision }}"></script>
        <script type="text/javascript" src="/static/js/controllers/project_controller.js?hash={{ BuildRevision }}"></script>
        <script type="text/javascript" src="{{Static "js" "notifybox.js"}}?hash={{ BuildRevision }}"></script>
        <script type="text/javascript" src="{{Static "js" "events.js"}}?hash={{ BuildRevision }}"></script>

        <!-- Angular UI-Grid -->
        <script type="text/javascript" src="/static/thirdparty/ui-grid.min.js?hash={{ BuildRevision }}"></script>
        <link href="/static/css/ui-grid.min.css?hash={{ BuildRevision }}" rel="stylesheet"/>

        <!-- Angular UI-Select -->
        <script type="text/javascript" src="/static/thirdparty/select.min.js?hash={{ BuildRevision }}"></script>
        <link href="/static/css/select.min.css?hash={{ BuildRevision }}" rel="stylesheet"/>

        <!-- Stitch -->
        <script type="text/javascript" src="/static/thirdparty/stitch.min.js?hash={{ BuildRevision }}"></script>

        <!-- APP -->
        <script type="text/javascript" src="/static/app/common/constants.js?hash={{ BuildRevision }}"></script>
        <script type="text/javascript" src="/static/app/common/Settings.js?hash={{ BuildRevision }}"></script>
        <script type="text/javascript" src="/static/app/common/Stitch.js?hash={{ BuildRevision }}"></script>
        <script type="text/javascript" src="/static/app/common/templates.js?hash={{ BuildRevision }}"></script>
        <script type="text/javascript" src="/static/app/common/tagInput.js?hash={{ BuildRevision }}"></script>
        <script type="text/javascript" src="/static/app/common/spinner.js?hash={{ BuildRevision }}"></script>
        <script type="text/javascript" src="/static/app/common/EvgUtil.js?hash={{ BuildRevision }}"></script>
        <script type="text/javascript" src="/static/app/common/RestartUtil.js?hash={{ BuildRevision }}"></script>
        <script type="text/javascript" src="/static/app/common/PointsDataService.js?hash={{ BuildRevision }}"></script>
        <script type="text/javascript" src="/static/app/common/OutliersDataService.js?hash={{ BuildRevision }}"></script>
        <script type="text/javascript" src="/static/app/common/MuteDataService.js?hash={{ BuildRevision }}"></script>

        <style type="text/css">
          #footer{ font-size:.8em; color:#888; }
        </style>

        <script type="text/javascript">
        {{if .ProjectData}}
            {{if .ProjectData.ProjectRef}}
                var project = {{.ProjectData.ProjectRef.Identifier}};
                var projectName = {{.ProjectData.ProjectRef.DisplayName}};
            {{end}}
                // allProjects only has the identifier and display name properties
                var allProjects = {{.ProjectData.AllProjects}};
                var redirect = {{.ProjectData.AuthRedirect}};

            {{if .ProjectData.PluginNames}}
                var appPlugins = {{.ProjectData.PluginNames}}
            {{else}}
                var appPlugins = [];
            {{end}}
        {{end}}
        </script>
        {{.Csrf}}
    </head>

    <body ng-controller="ProjectController">
        {{template "menu" .}}
        <script src="/static/js/common.js"></script>
        <script src="/static/thirdparty/jquery.js"></script>
        <script src="/static/thirdparty/mongostrap.min.js"></script>
        <script src="/static/thirdparty/moment.min.js"></script>
        <script src="/static/thirdparty/moment-timezone-with-data.min.js"></script>

        <!-- our scripts -->
        {{ template "scripts" .}}

        <!-- insert the actual content -->
        {{template "content" .}}
    </body>
</html>
{{end}}
{{define "flash"}}
  {{range .Flashes}}
    <div class="alert alert-{{.Severity}} alert-dismissable">
      <button type="button" class="alert-close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{.Message}}
    </div>
  {{end}}
{{end}}
