{{ define "base" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{template "title" .}}</title>
  <link rel="shortcut icon" href="/static/img/favicon.ico">


  <!-- mongostrap (Bootstrap + MongoDB Theme) -->
  <link href="/static/css/mongostrap.min.css?hash={{ BuildRevision }}" rel="stylesheet" />

  <!-- fontawesome icons -->
  <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

  <!-- our css -->
  <link href="/static/dist/css/styles.min.css?hash={{ BuildRevision }}" rel="stylesheet" />
</head>

<body>
  {{template "menu" .}}
  
  <script src="/static/js/common.js"></script>
  <script src="/static/thirdparty/jquery.js"></script>
  <script src="/static/thirdparty/mongostrap.min.js"></script>
  <script src="/static/thirdparty/moment.min.js"></script>
  <script src="/static/thirdparty/moment-timezone.min.js"></script>
  <script src="/static/thirdparty/moment-timezone-data.js"></script>

  <!-- our scripts -->
  {{ template "scripts" .}}

  <div id="content" class="container-fluid">
    {{template "content" .}}
  </div>
</body>
</html>
{{end}}
