{{ define "base" }}
<!DOCTYPE html>
<html lang="en" ng-app="MCI">

    <head>
        <meta charset="utf-8">
        <title>{{ template "title" .}}</title>

        <link rel="shortcut icon" href="/static/img/favicon.ico">

        <!-- mongostrap (Bootstrap + MongoDB) + angular material styles -->
        <link href="/static/css/mongostrap.min.css?hash={{ StaticsMD5 }}" rel="stylesheet" />
        <link href="/static/css/angular-material{{if IsProd }}.min{{end}}.css" rel="stylesheet" />
        <link href="/static/css/md-time-picker.css" rel="stylesheet" />

        <!-- icons -->
        <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="/static/material-design-icons/material-icons.css" rel="stylesheet" />

        <!-- our css -->
        <link href="/static/dist/css/styles{{if IsProd }}.min{{end}}.css?hash={{ StaticsMD5 }}" rel="stylesheet" />

        <!-- underscore.js js v1.4.4 js -->
        <script type="text/javascript" src="/static/js/underscore-min.js"></script>

        <!-- d3.js v3.5.3 -->
        <script type="text/javascript" src="/static/js/d3.min.js"></script>

        <!-- angular.js v1.2.18 js -->
        <script type="text/javascript" src="/static/js/angular{{if IsProd }}.min{{end}}.js"></script>
        <script type="text/javascript" src="/static/js/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="/static/js/angular-aria{{if IsProd }}.min{{end}}.js"></script>
        <script type="text/javascript" src="/static/js/angular-messages{{if IsProd }}.min{{end}}.js"></script>
        <script type="text/javascript" src="/static/js/angular-animate{{if IsProd }}.min{{end}}.js"></script>
        <script type="text/javascript" src="/static/js/angular-material{{if IsProd }}.min{{end}}.js"></script>
        <script type="text/javascript" src="/static/js/ansi_up.js"></script>
        <script type="text/javascript" src="/static/js/angular-md5.js?hash={{ StaticsMD5 }}"></script>
        <script type="text/javascript" src="/static/js/filters/filters.common.js?hash={{ StaticsMD5 }}"></script>
        <script type="text/javascript" src="/static/js/directives/directives.drawer.js?hash={{ StaticsMD5 }}"></script>
        <script type="text/javascript" src="/static/js/directives/directives.eventlogs.js?hash={{ StaticsMD5 }}"></script>
        <script type="text/javascript" src="/static/js/directives/directives.visualization.js?hash={{ StaticsMD5 }}"></script>
        <script type="text/javascript" src="/static/js/directives/directives.badges.js?hash={{ StaticsMD5 }}"></script>
        <script type="text/javascript" src="/static/js/directives/directives.admin.js?hash={{ StaticsMD5 }}"></script>
        <script type="text/javascript" src="/static/js/directives/directives.tristateCheckbox.js?hash={{ StaticsMD5 }}"></script>
        <script type="text/javascript" src="/static/js/directives/directives.github.js?hash={{ StaticsMD5 }}"></script>
        <script type="text/javascript" src="/static/js/directives/directives.patch.js?hash={{ StaticsMD5 }}"></script>
        <script type="text/javascript" src="/static/js/directives/directives.spawn.js?hash={{ StaticsMD5 }}"></script>
        <script type="text/javascript" src="/static/js/directives/directives.events.js?hash={{ StaticsMD5 }}"></script>
        <script type="text/javascript" src="/static/js/directives/directives.svg.js?hash={{ StaticsMD5 }}"></script>
        <script type="text/javascript" src="/static/js/directives/directives.confirm.js?hash={{ StaticsMD5 }}"></script>
        <script type="text/javascript" src="/static/js/md-time-picker.js"></script>
        <script type="text/javascript" src="/static/js/services/location_hash.js?hash={{ StaticsMD5 }}"></script>
        <script type="text/javascript" src="/static/js/services/rest.js?hash={{ StaticsMD5 }}"></script>
        <script type="text/javascript" src="/static/js/mci_module.js?hash={{ StaticsMD5 }}"></script>
        <script type="text/javascript" src="/static/js/controllers/project_controller.js?hash={{ StaticsMD5 }}"></script>
        <script type="text/javascript" src="{{Static "js" "login.js"}}?hash={{ StaticsMD5 }}"></script>
        <script type="text/javascript" src="{{Static "js" "notifybox.js"}}?hash={{ StaticsMD5 }}"></script>

        <!-- Angular UI-Grid -->
        <script type="text/javascript" src="/static/js/ui-grid.min.js?hash={{ StaticsMD5 }}"></script>
        <link href="/static/css/ui-grid.min.css?hash={{ StaticsMD5 }}" rel="stylesheet"/>

        <style type="text/css">
          #footer{ font-size:.8em; color:#888; }
        </style>

        <script type="text/javascript">
        {{if .ProjectData}}
            {{if .ProjectData.ProjectRef}}
                var project = {{.ProjectData.ProjectRef.Identifier}};
                var projectName = {{.ProjectData.ProjectRef.DisplayName}};
            {{end}}
                // allProjects only has the identifier and display name properties
                var allProjects = {{.ProjectData.AllProjects}};
                var redirect = {{.ProjectData.AuthRedirect}};

            {{if .ProjectData.PluginNames}}
                var appPlugins = {{.ProjectData.PluginNames}}
            {{else}}
                var appPlugins = [];
            {{end}}
        {{end}}
        </script>
        {{.Csrf}}
    </head>

    <body ng-controller="ProjectController">
        {{template "menu" .}}
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/mongostrap.min.js"></script>
        <script src="/static/js/common.js"></script>
        <script src="/static/js/moment.min.js"></script>
        <script src="/static/js/moment-timezone.min.js"></script>
        <script src="/static/js/moment-timezone-data.js"></script>

        <!-- our scripts -->
        {{ template "scripts" .}}

        <!-- insert the actual content -->
        {{template "content" .}}
    </body>
	<login-modal></login-modal>
</html>
{{end}}
{{define "flash"}}
  {{range .Flashes}}
    <div class="alert alert-{{.Severity}} alert-dismissable">
      <button type="button" class="alert-close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{.Message}}
    </div>
  {{end}}
{{end}}
