{{define "base"}}
<html>
	<script src="/static/js/jquery.js"></script>
  <style type="text/css">
    .addition{ background-color:#9f9; }
    .deletion{ background-color: #faa; }
    .filestat{ font-weight:bold; }
    .rawdiff{ display:none; }
  </style>
  <script type="text/javascript">
    $(document).ready(function(){
        inputBlocks = $('code.rawdiff')
        for(var i=0;i<inputBlocks.length;i++){
          var outputBlock = $('<code></code>')
          $('#output').append($('<pre></pre>').append(outputBlock))
          lines = $(inputBlocks[i]).text().split('\n')
          var prevclass = undefined
          var prevelement = undefined
          for(var j = 0; j < lines.length; ++j){
              if(lines[j].substring(0,3) == "+++"){
                  classname = "filestat"
              }else if(lines[j].substring(0,3) == "---"){
                  classname = "filestat"
              }else if(lines[j][0] == "+"){
                  classname = "addition"
              }else if(lines[j][0] == '-'){
                  classname = 'deletion'
              }else{
                  classname = undefined
              }
              if(classname == prevclass && prevelement != undefined){
                  var x = $(prevelement)
                  x.text(x.text() + lines[j] + "\n")
              }else{
                  var newspan = $('<span></span>').text(lines[j] + "\n")
                  if(classname){
                      newspan.addClass(classname)
                  }
                  outputBlock.append(newspan)
                  prevelement = newspan
                  prevclass = classname
              }
          }
        }
        $('#input_code').remove()
    })
  </script>

  <body>
    <div id="output">
      {{range .Patches}}
        <code class="rawdiff">{{.PatchSet.Patch}}</code>
      {{end}}
    </div>
  </body>

</html>
{{end}}
