{{define "menu"}}
{{end}}
{{define "title"}}
Events
{{end}}
{{define "scripts"}}
<script type="text/javascript">
  var events = {{.Data}}.reverse()
  var host = {{.Data}}
  var userTz = {{GetTimezone $.User}}
  var jiraHost = {{.JiraHost}}

mciModule.controller('LogController', function($scope, $window) {
  $scope.userTz = $window.userTz;
  $scope.events = $window.events.reverse();
  $scope.jiraHost = $window.jiraHost;
})
</script>
{{end}}

{{define "content"}}
<div id="content" class="container-fluid" ng-controller="LogController">
    <div ng-repeat="event in events">
        <div ng-show="event.resource_type === 'HOST' || event.data.resource_type === 'HOST'">
          <hostevent event="event" tz="userTz"></hostevent>
        </div>
        <div ng-show="event.resource_type === 'ADMIN' || event.data.resource_type === 'ADMIN'">
          <adminevent event="event" tz="userTz"></adminevent>
        </div>
    </div>
</div>
{{end}}
