{{define "scripts"}}
<style type="text/css">
  body{ background: #f5f6f7; }
</style>
<script type="text/javascript" src="{{Static "js" "host.js"}}?hash={{ StaticsMD5 }}"></script>
{{if .User }}
<script type="text/javascript" src="{{Static "js" "host_admin.js"}}?hash={{ StaticsMD5 }}"></script>
{{end}}
<script type="text/javascript">
  var host = {{.Host}}
  var events = {{.Events}}.reverse()
  var userTz = {{GetTimezone $.User}}
  var runningTask = {{.RunningTask}}
</script>
{{end}}

{{define "title"}}
Evergreen - Host {{.Host.Id}}
{{end}}

{{define "content"}}
<div id="content" class="container-fluid" ng-controller="HostCtrl">
  {{template "flash" . }}
  <header class="clearfix">
  <div class="row">
    <div class="col-lg-12">
    <h1>
      <span class="label status-label" ng-class="getStatusLabel(host)" style="margin-right: 10px">
        [[host.status]]
      </span>
      Host:
      <strong>
        [[host.id]]
      </strong>
    </h1>
    {{if .User }}
      <div ng-controller="AdminOptionsCtrl" ng-init="setHost(host)" class="pull-right page-actions">
        <div id="admin-dropdown" class="dropdown pull-right">
          <a id="admin-options" class="btn btn-default" data-toggle="dropdown">
            <i class="fa fa-gear"></i>
            <i class="fa fa-caret-down"></i>
          </a>

          <ul class="dropdown-menu" role="menu">
            <li><a tabindex="-1" href="#" ng-click="openAdminModal('statusChange')">Update Status</a></li>
          </ul>
        </div>
        <admin-modal>
          <admin-update-status ng-if="adminOption=='statusChange'"></admin-update-status>
        </admin-modal>
      </div>
    {{end}}
      </div>
    </div>
  </header>
  <div class="row">
    <div class="col-lg-7 col-md-7">
      <div class="mci-pod">
        <div class="row">
          <div class="host-info col-lg-3 col-md-3 col-sm-3"><b>User</b> </div>
          <div class="host-info col-lg-9 col-md-9 col-sm-9">[[host.user]]</div>
        </div>
        <div class="row">
          <div class="host-info col-lg-3 col-md-3 col-sm-3"><b>Hostname</b> </div>
          <div class="host-info col-lg-9 col-md-9 col-sm-9">[[host.host]]</div>
        </div>
        <div class="row">
          <div class="host-info col-lg-3 col-md-3 col-sm-3" style="margin-top: 5px;"><b>SSH Command</b> </div>
          <div class="entry col-lg-9 col-md-9 col-sm-9" ng-show="!host.isTerminated && host.host.length > 0">
            <pre readonly>ssh [[host.user]]@[[host.host]]</pre>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-5">
      <div class="mci-pod">
        <div class="row">
          <div class="host-info col-lg-4 col-md-4 col-sm-3"><b>Started By</b> </div>
          <div class="host-info col-lg-8 col-md-8 col-sm-9">[[host.started_by]]</div>
        </div>
        <div class="row">
          <div class="host-info col-lg-4 col-md-4 col-sm-3"><b>Cloud Provider</b> </div>
          <div class="host-info col-lg-8 col-md-8 col-sm-9">[[host.host_type]]</div>
        </div>
        <div class="row">
          <div class="host-info col-lg-4 col-md-4 col-sm-3"><b>Distro</b> </div>
          <a ng-href="/distros##[[host.distro._id]]">
            <div class="host-info col-lg-8 col-md-8 col-sm-9">[[host.distro._id]]</div>
          <a>
        </div>
      </div>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-7 col-md-7" ng-show="(running_task && running_task.id) || host.elapsed != 'N/A' || host.uptime != 'N/A'">
      <div class="mci-pod">
        <div class="row" ng-show="running_task && running_task.id">
          <div class="host-info col-lg-3 col-md-3 col-sm-3"><b>Running Task</b> </div>
          <div class="host-info col-lg-9 col-md-9 col-sm-9">
          <a ng-href="/task/[[running_task.id]]"> [[running_task.display_name]]</a>
          <span class="muted">| [[running_task.branch]]</span>
        </div>
        </div>
        <div class="row" ng-show="host.elapsed != 'N/A'">
          <div class="host-info col-lg-3 col-md-3 col-sm-3"><b>Elapsed</b> </div>
          <div class="host-info col-lg-9 col-md-9 col-sm-9">[[host.elapsed]]</div>
        </div>
        <div class="row" ng-show="host.uptime != 'N/A'">
          <div class="host-info col-lg-3 col-md-3 col-sm-3"><b>Uptime</b> </div>
          <div class="host-info col-lg-9 col-md-9 col-sm-9">[[host.uptime]]</div>
        </div>
        <div class="row" ng-show="host.termination_time > 0">
          <div class="host-info col-lg-3 col-md-3 col-sm-3"><b>Terminated at</b></div>
          <div class="host-info col-lg-9 col-md-9 col-sm-9">[[host.termination_time | dateFromNanoseconds | convertDateToUserTimezone:userTz:"MMM D, YYYY h:mm:ss a"]]</div>
        </div>
      </div>
    </div>
  </div>

  <div class="mci-pod">
    <div>
      <span class="h3">Recent Events</span>
      &nbsp;<a ng-href="/event_log/host/[[host.id]]">view all</a>
    </div>

    <div>
      <div ng-repeat="event in events">
         <hostevent event="event" tz="userTz"></hostevent>
      </div>
    </div>
  </div>

</div>
{{end}}
