{{define "title"}}
MongoDB Continuous Innovation
{{end}}

{{define "menu"}}
{{end}}

{{define "scripts"}}
{{end}}

{{define "content"}}
<div class="container content" ng-controller="LoginCtrl">
  <div class="row">
    <div class="col-md-offset-3 col-md-6 media bg-brand">
      <img src='/static/img/mongodb_logo.png' class="pull-left"/>
      <div class="media-body title">
        <h2>Log in to Evergreen</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6 well well-large">
      <div ng-show="errorMessage" class="alert alert-danger">[[errorMessage]]</div>
      <form class="form-signin">
        <div class="form-group">
          <label for="user">Username:</label>
          <input class="form-control" type="text" name="username" ng-model="credentials.username"> 
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input class="form-control" type="password" name="password" ng-model="credentials.password">
        </div>
        <button class="btn btn-primary" type="submit" ng-click="authenticate()" >Login</button>
      </form>
    </div>
  </div>
</div>
{{end}}
