{{define "scripts"}}
<script src="{{Static "js" "notifications.js"}}?hash={{ BuildRevision }}"></script>
<script type="text/javascript">
  var user = {{.User.Id}};
</script>
<style type="text/css">
  body, html { background: rgb(250,250,250); }
</style>
{{end}}

{{define "title"}}
Notifications Preferences
{{end}}

{{define "content"}}
<notify-box ng-init="destination='errorHeader'"></notify-box>

<div ng-controller="NotificationsController" layout="row" ng-cloak>
    <div layout="column" flex="40">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            Notification Preferences
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <md-input-container style="width:50%;">
            <label>Github Username</label>
            <input type="text" placeholder="octocat" ng-model="settings.github_user.last_known_as" />
          </md-input-container>
          <md-input-container style="width:50%;">
            <md-tooltip md-direction="top" md-delay="500">Check https://mongodb.slack.com/account/settings#username. Usually your default Google account (firstname.lastname).</md-tooltip>
            <label>Slack Username</label>
            <input type="text" placeholder="john.doe" ng-model="settings.slack_username">
          </md-input-container>
            <md-input-container style="width:50%;">
              <md-tooltip md-direction="top" md-delay="500">Click on the three dots next to "set a status" in your slack profile, and then "Copy member ID"</md-tooltip>
              <label>Slack MemberId</label>
              <input type="text" placeholder="UKQLX35TA" ng-model="settings.slack_member_id">
            </md-input-container>
          <table class="notificationTable">
            <thead>
              <tr><th/><th>Email</th><th>Slack</th><th>None</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>Patch Finish</td>
                <td colspan="3">
                  <md-radio-group layout="row" style="width:100%" ng-model="settings.notifications.patch_finish" md-no-ink="true">
                    <md-radio-button value="email"></md-radio-button>
                    <md-radio-button value="slack" ng-disabled='!settings.slack_username || settings.slack_username == ""'></md-radio-button>
                    <md-radio-button value="none"></md-radio-button>
                  </md-radio-group>
                </td>
              </tr>
              <tr>
                <td>Patch First Task Failure</td>
                <td colspan="3">
                  <md-radio-group layout="row" style="width:100%" ng-model="settings.notifications.patch_first_failure" md-no-ink="true">
                    <md-radio-button value="email"></md-radio-button>
                    <md-radio-button value="slack" ng-disabled='!settings.slack_username || settings.slack_username == ""'></md-radio-button>
                    <md-radio-button value="none"></md-radio-button>
                  </md-radio-group>
                </td>
              </tr>
              <tr>
                <td>Spawn Host Outcome</td>
                <td colspan="3">
                  <md-radio-group layout="row" style="width:100%" ng-model="settings.notifications.spawn_host_outcome" md-no-ink="true">
                    <md-radio-button value="email"></md-radio-button>
                    <md-radio-button value="slack" ng-disabled='!settings.slack_username || settings.slack_username == ""'></md-radio-button>
                    <md-radio-button value="none"></md-radio-button>
                  </md-radio-group>
                </td>
              </tr>
              <tr>
                <td>Spawn Host Expiration</td>
                <td colspan="3">
                  <md-radio-group layout="row" style="width:100%" ng-model="settings.notifications.spawn_host_expiration" md-no-ink="true">
                    <md-radio-button value="email"></md-radio-button>
                    <md-radio-button value="slack" ng-disabled='!settings.slack_username || settings.slack_username == ""'></md-radio-button>
                    <md-radio-button value="none"></md-radio-button>
                  </md-radio-group>
                </td>
              </tr>
              <tr>
                <td>Build Break</td>
                <td colspan="3">
                  <md-radio-group layout="row" style="width:100%" ng-model="settings.notifications.build_break" md-no-ink="true">
                    <md-radio-button value="email"></md-radio-button>
                    <md-radio-button value="slack" ng-disabled='!settings.slack_username || settings.slack_username == ""'></md-radio-button>
                    <md-radio-button value="none"></md-radio-button>
                  </md-radio-group>
                </td>
              </tr>
              <tr>
                <td>Commit Queue</td>
                <td colspan="3">
                  <md-radio-group layout="row" style="width:100%" ng-model="settings.notifications.commit_queue" md-no-ink="true">
                    <md-radio-button value="email"></md-radio-button>
                    <md-radio-button value="slack" ng-disabled='!settings.slack_username || settings.slack_username == ""'></md-radio-button>
                    <md-radio-button value="none"></md-radio-button>
                  </md-radio-group>
                </td>
              </tr>
            </tbody>
          </table>
        </md-card-content>

        <md-card-footer>
          <md-button class="md-raised" ng-click="updateUserSettings()">Save</md-button>
        </md-card-footer>
      </md-card>
    </div>

    <div layout="column" flex="60">
      <md-card>
        <md-card-title>
          <md-card-title-text>Manage Subscriptions</md-card-title-text>
        </md-card-title>
        <md-card-content>
          <table class="table table-new">
            <thead>
              <tr>
                <th class="col-lg-3">Selectors</th>
                <th class="col-lg-3">Event</th>
                <th class="col-lg-3">Notify by</th>
                <th class="col-lg-1"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="subscription in subscriptions"
                  class="test-result-row">
                <td class="col-lg-3">
                    <span ng-repeat="s in subscription.selectors">
                      <p ng-show="s.type === 'object'">when a [[s.data]] with:</p>
                      <p ng-show="s.type !== 'object' && (s.type === 'id' || s.type.startsWith('in-'))"><b>[[s.type]]</b> of
                        <span style="width: 50%; display: block; overflow: hidden; text-overflow: ellipsis;"><a href="javascript:void(0);" ng-click="selectorClick([[subscription.selectors]])">[[s.data]]</a></span>
                      </p>
                      <p ng-show="s.type !== 'object' && s.type !== 'id' && !s.type.startsWith('in-')"><b>[[s.type]]</b> of
                        <span style="width: 50%; display: block; overflow: hidden; text-overflow: ellipsis;">[[s.data]]</span>
                      </p>
                    </span>
                    <span ng-show="subscription.regex_selectors.length > 0" ng-repeat="s in subscription.regex_selectors">
                        <span><b>[[s.type]]</b> matching regex <span style="font-family: monospace;">/[[s.data]]/</span>
                    </span>
                </td>
                <td class="col-lg-3">
                  [[subscription.trigger]]
                </td>
                <td class="col-lg-3">
                  <div ng-bind="subscriberText([[subscription.subscriber]])" />
                </td>
                <td class="col-lg-1">
                  <i class="fa fa-trash" style="cursor:pointer" ng-click="deleteSubscription([[subscription.id]])")></i>
                </td>
              </tr>
            </tbody>
          </table>
          <md-input-container style="width:50%;" ng-show="subscriptions.length > 0">
            <md-button class="md-raised md-warn" type="submit" ng-click="clearAllSubscriptions()">Clear all Subscriptions</md-button>
          </md-input-container>
        </md-card-content>
      </md-card>
    </div>
</div>
{{end}}
