
{{define "scripts"}}
<script type="text/javascript" src="{{Static "js" "patch_new.js"}}?hash={{ StaticsMD5 }}"></script>
<script type="text/javascript">
  var userTz = {{GetTimezone $.User}}
  var variants = {{.Variants}}
  var tasks = {{.Tasks}}
  var patch= {{.ProjectData.Patch}}
  window.hasBanner = {{ne .Banner ""}}
</script>
{{end}}

{{define "title"}}
Evergreen - Configure Patch
{{end}}

{{define "content"}}
<div ng-controller="PatchController">
<div class="variants-drawer" id="drawer">
  <div class="col-xs-3 variants-list-panel">
    <div class="list-group small noselect variants-list-container">
      <a ng-click="selectVariant($event, $index)" ng-repeat="variant in variants"  ng-class="{active:variant.checked}" class="list-group-item noselect">
        [[variant.name]]<span class="badge" ng-show="numSetForVariant(variant.id)>0">[[numSetForVariant(variant.id)]]</span>
      </a>
    </div>
  </div>
</div>
<div id="content" class="patch-content">
  <notify-box ng-init="destination='errorHeader'"></notify-box>
  <div class="row" ng-show="patch.Version.length > 0">
    <div class="col-xs-9 alert alert-warning already-scheduled" style="margin-bottom:0px">
      <h5>
      Tasks for this patch have already been scheduled. <br/>
      Modifying the configuration will update the patch to include additional tasks and variants.<br/>
      <a href="/version/[[patch.Version]]">View Existing Tasks&hellip;</a>
      </h5>
    </div>
  </div>
  <div class="row">
    <div>
      <div class="row">
        <div class="col-xs-12"><h3>Configure Patch</h3></div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div class="row">
            <div class="col-xs-12">
              <input type="text" style="width:100%" ng-model="patch.Description" placeholder="Patch description"></input>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <patch-commit-panel patchinfo="patchContainer" timezone="{{GetTimezone .User}}"/>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="row">
            <div class="btn btn-lg btn-primary" ng-class="[[patch.Version.length > 0 ? 'btn-xs' :'btn-lg']]" ng-click="save()" ng-disabled="selectionCount().numTasks==0 || disableSubmit">
              [[patch.Version.length > 0 ? "Update Patch" : "Schedule Patch"]]
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 muted" style="padding-right:25px">[[selectionCount().numTasks]] tasks across [[selectionCount().numVariants]] variants </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-xs-6" ng-show="getActiveTasks(allVariants).length == 0">
        <h3 style="margin-top:40px">
          Click a variant to edit the set of tasks it will run.<br/>
          Shift+Click or [[isMac() ? "Cmd" : "Ctrl"]]+Click to edit multiple variants simultaneously.
        </h3>
    </div>
    <div class="col-xs-7" ng-show="getActiveTasks(allVariants).length > 0">
      <div style="border-bottom:1px solid #eee; margin-bottom:3px">Select <a ng-click="changeStateAll(true)" class="change-all">all</a> &bull; <a ng-click="changeStateAll(false)" class="change-all">none</a></h5></div>
      <ul id="tasks">
        <li ng-repeat="task in getActiveTasks() | orderBy" class="task-name" title="[[task]]">
          <label>
            <input type="checkbox" tristate-checkbox ng-model="tasks[task]" ng-model-options="{ getterSetter: true }" ng-disabled="checkDisabledState(task)"></input>
            &nbsp;[[task]]
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>
</span>
{{end}}
