{{define "scripts"}}
<script type="text/javascript">
  window.userTz = {{GetTimezone .User}};
  window.isSuperUser = {{IsSuperUser .User.Id}};

  {{if .Author}}
    window.patchesForUsername = '{{.Author}}';
  {{end}}
</script>
<script type="text/javascript" src="{{Static "js" "patches.js"}}?hash={{ BuildRevision }}"></script>
{{end}}

{{define "title"}}
Evergreen - Patches
{{end}}

{{define "content"}}
<div id="content" class="container-fluid" ng-controller="PatchesController">
  <header>
    <h1>
      Patches
      <span ng-if="patchesForUsername">
        submitted by [[patchesForUsername]]
      </span>
    </h1>

    <div ng-if="patchesError">
      Error loading data from server: [[patchesError]]
    </div>

    <div class="form-inline">
      <div class="btn-group btn-group-sm header-pagination">
        <input type="checkbox" id="queue" ng-model="filterCommitQueue">
        <label for="queue" style="font-weight:normal;margin-right: 10px;">Filter Commit Queue</label>
        <span ng-if="currentPage > 0">
          <a  class="btn btn-default"
              style="cursor: pointer"
              ng-click="previousPage()">
            Newer
          </a>
        </span>
        <span ng-if="patches.length > 0">
          <a  class="btn btn-default"
              style="cursor: pointer"
              ng-click="nextPage()">
            Older
          </a>
        </span>
      </div>
    </div>
  </header>

  <div ng-repeat="patch in patches">
    <span ng-if="patch.version">
      <a ng-href="/version/[[patch.version]]">Activated</a>
        <span ng-show="patch.canEdit">
        [&nbsp;
        <a ng-href="/patch/[[patch.id]]" class="semi-muted">
          Reconfigure
        </a>
        &nbsp;]
      </span>
    </span>
    <span ng-if="!patch.version && patch.canEdit">
      <a ng-href="/patch/[[patch.id]]" class="btn btn-info btn-sm">
        Configure
      </a>
    </span>

    <span>
      Patch from
      <b><a ng-href="/patches/user/[[patch.author]]">[[patch.author]]</a></b>
      at [[patch.create_time | convertDateToUserTimezone:userTz:"MM/DD/YY h:mma"]]
      on [[patch.project]] applied to
      <a ng-href="/version/[[patch.base_version_id]]">
        [[patch.githash | limitTo:7]]
      </a>
    </span>

    <div ng-if="patch.description">
      <strong>[[patch.description | limitTo:140]]</strong>
    </div>

    <ul ng-if="patch.version">
      <li ng-repeat="build in buildsMap[patch.version] | orderBy:'display_name'" class="timeline-build">
        <a id="[[build.id]]" class="build-link" ng-class="build.tasks | buildStatus" ng-href="/build/[[build.id]]">
          [[build.display_name]]
        </a>
        <div class="tasks-list patches" results-bar="build.taskResults">
        </div>
      </li>
    </ul>
  </div>

  <div ng-if="(!patches || patches.length === 0) && !loading">
    <p>There are no patches on this project</p>
  </div>
</div>
{{end}}
