{{define "scripts"}}
<script type="text/javascript" src="/plugin/dashboard/static/js/dashboard.js?hash={{ StaticsMD5 }}"></script>
<link href="/plugin/dashboard/static/css/dashboard.css" rel="stylesheet"/>
<script>
  window.appData = {{.Data}}
</script>
{{end}}

{{define "title"}}
Dashboard
{{end}}

{{define "content"}}
<div id="perf-dashboard" ng-controller="DashboardController">


  <div class="container-fluid">
    <div class="row header-controls">
      <div class="col-lg-2">
        <h3> Perf Dashboard </h3>
      </div>
      <div class="col-lg-offset-4 col-lg-2 checkbox">
        <label> <input type="checkbox" ng-model="hidePassingTasks"> Hide Passing Tasks </label>
      </div>
      <div class="col-lg-offset-4 col-lg-2 checkbox">
        <label> <input type="checkbox" ng-model="showUnfinishedTasks"> Show Unfinished Tasks </label>
      </div>
      <div class="col-lg-2">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
              [[currentBranch]] <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pointer"> 
              <li ng-repeat="branch in branchNames" ng-show="branch != currentBranch" ng-click="setBranch(branch)"> [[branch]] </li>
            </ul>
          </div>  
      </div>
    </div>
    <div ng-class="getColWidth()" ng-repeat="project in dashboardProjects">
      <div class="row">
        <div class="col-lg-6">
          <h3> [[project]] </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10">
          <div class="progress dash-progress" ng-show="showProgress(project)">
            <div ng-repeat="state in status_list"  ng-class="getColor(state)" class="progress-bar" ng-style="{width: getWidth(state, project)}" data-element-tooltip="state + ': ' + counts[project][state]" ></div>
          </div>
        </div>
        <baseline-dropdown ng-model="project"></baseline-dropdown>
      </div>
      <div class="row">
        <div class="col-lg-1 history-item-revision btn btn-default btn-hash commit-info">
          <a ng-href="/version/[[getCommitInfo(project).version_id]]">[[getCommitInfo(project).revision.substring(0,5)]]</a>
        </div>
        <div class="col-lg-8">
          <span>
            [[getCommitInfo(project).message]] <span class="muted small"> [[getCommitInfo(project).create_time | date:'short']] </span> 
          </span>
        </div> 
        <page-buttons></page-buttons>
      </div>
      <div class="row">
        <div class="col-lg-11">
          <dashboard-table ng-model="project"></dashboard-table>
        </div>    
      </div> 
    </div>
  </div>
</div>
{{end}}
