{{define "scripts"}}
<script type="text/javascript">
  window.JiraHost = {{.JiraHost}}
</script>

<script type="text/javascript" src="/static/app/common/ApiV1.js?hash={{ BuildRevision }}"></script>
<script type="text/javascript" src="/static/app/common/ApiV2.js?hash={{ BuildRevision }}"></script>
<script type="text/javascript" src="/static/app/common/ApiTaskdata.js?hash={{ BuildRevision }}"></script>
<script type="text/javascript" src="/static/app/common/ApiBuildBaron.js?hash={{ BuildRevision }}"></script>
<script type="text/javascript" src="/static/app/common/ApiUtil.js?hash={{ BuildRevision }}"></script>
<script type="text/javascript" src="/static/app/common/EvgUiGridUtil.js?hash={{ BuildRevision }}"></script>
<script type="text/javascript" src="/static/app/common/httpParamDeserializer.js?hash={{ BuildRevision }}"></script>
<script type="text/javascript" src="/static/app/perfdiscovery/perfDiscoveryRatio.js?hash={{ BuildRevision }}"></script>
<script type="text/javascript" src="/static/app/perfdiscovery/versionDropdown.js?hash={{ BuildRevision }}"></script>
<script type="text/javascript" src="/static/app/perfdiscovery/PerformanceDiscoveryCtrl.js?hash={{ BuildRevision }}"></script>
<script type="text/javascript" src="/static/app/perfdiscovery/PerfDiscoveryDataService.js?hash={{ BuildRevision }}"></script>
<script type="text/javascript" src="/static/app/perfdiscovery/PerfDiscoveryStateService.js?hash={{ BuildRevision }}"></script>
<script type="text/javascript" src="/static/app/perfdiscovery/constants.js?hash={{ BuildRevision }}"></script>
<script type="text/javascript" src="/static/app/perfdiscovery/templates.js?hash={{ BuildRevision }}"></script>
<script type="text/javascript" src="/static/app/perfdiscovery/multiselectGridHeader.js?hash={{ BuildRevision }}"></script>
<script type="text/javascript" src="/static/app/perfdiscovery/microTrendChart.js?hash={{ BuildRevision }}"></script>

<link rel="stylesheet" href="/static/app/common/styles/ui-grid.css">
<link rel="stylesheet" href="/static/app/perfdiscovery/perfdiscovery.css">
{{end}}

{{define "title"}}
Performance Discovery
{{end}}

{{define "content"}}
<div ng-controller="PerformanceDiscoveryCtrl as $ctrl" class="content-container container-fluid">
  <div class="perf-discovery-header">

    <!-- The left dropdown -->
    <label class="perf-discovery-select perf-discovery-select-left">
      Your Results
      <version-dropdown model="$ctrl.fromSelect" />
    </label>

    <!-- The right dropdown -->
    <label class="perf-discovery-select perf-discovery-select-right">
      Baseline Results
      <version-dropdown model="$ctrl.toSelect" />
    </label>

    <label class="perf-discovery-select perf-discovery-select-right">
      <md-checkbox ng-model="$ctrl.excludeCanaries" type="checkbox">Exclude Canary Tests</md-checkbox>
    </label>

  </div>

  <div
    class="grid"
    ui-grid="$ctrl.gridOptions"
    ui-grid-auto-resize
    ui-grid-resize-columns
    ui-grid-move-columns
    ui-grid-empty-base-layer
  >
    <div class="ui-grid-overlay ng-cloak">
      <spinner ng-if="$ctrl.isLoading"></spinner>
      <h1 ng-show="!$ctrl.isLoading && !$ctrl.gridOptions.data.length">
        No data available!
      </h1>
    </div>
  </div>
</div>
{{end}}
