{{define "scripts"}}
<script type="text/javascript" src="/static/app/common/ApiV1.js?hash={{ StaticsMD5 }}"></script>
<script type="text/javascript" src="/static/app/common/ApiTaskdata.js?hash={{ StaticsMD5 }}"></script>
<script type="text/javascript" src="/static/app/common/ApiUtil.js?hash={{ StaticsMD5 }}"></script>
<script type="text/javascript" src="/static/app/common/constants.js?hash={{ StaticsMD5 }}"></script>
<script type="text/javascript" src="/static/app/common/EvgUiGridUtil.js?hash={{ StaticsMD5 }}"></script>
<script type="text/javascript" src="/static/app/perfdiscovery/perfDiscoveryRatio.js?hash={{ StaticsMD5 }}"></script>
<script type="text/javascript" src="/static/app/perfdiscovery/PerformanceDiscoveryCtrl.js?hash={{ StaticsMD5 }}"></script>
<script type="text/javascript" src="/static/app/perfdiscovery/PerfDiscoveryService.js?hash={{ StaticsMD5 }}"></script>
<script type="text/javascript" src="/static/app/perfdiscovery/constants.js?hash={{ StaticsMD5 }}"></script>
<script type="text/javascript" src="/static/app/perfdiscovery/templates.js?hash={{ StaticsMD5 }}"></script>
<script type="text/javascript" src="/static/app/perfdiscovery/multiselectGridHeader.js?hash={{ StaticsMD5 }}"></script>

<link rel="stylesheet" href="/static/app/perfdiscovery/perfdiscovery.css">
{{end}}

{{define "title"}}
Performance Discovery
{{end}}

{{define "content"}}
<div ng-controller="PerformanceDiscoveryCtrl as $ctrl" class="content-container">
  <ui-select ng-model="$ctrl.revisionSelect.selected"
             ng-change="$ctrl.updateData()"
             style="width: 250px; display: inline-block;"
             title="Choose revision...">
    <ui-select-match>
      <span ng-bind="$select.selected"></span>
    </ui-select-match>
    <ui-select-choices repeat="item in ($ctrl.getVersionOptions($select.search) | filter: $select.search)">
      <span ng-bind="item"></span>
    </ui-select-choices>
  </ui-select>

  <ui-select ng-model="$ctrl.tagSelect.selected"
             ng-change="$ctrl.updateData()"
             style="width: 250px; display: inline-block;"
             title="Choose tag...">
    <ui-select-match>
      <span ng-bind="$select.selected.name"></span>
    </ui-select-match>
    <ui-select-choices repeat="item in ($ctrl.tagSelect.options | filter: $select.search) track by item.name">
      <span ng-bind="item.name"></span>
    </ui-select-choices>
  </ui-select>

  <br/>

  <div
    class="grid"
    ui-grid="$ctrl.gridOptions"
    ui-grid-auto-resize
    ui-grid-resize-columns
    ui-grid-move-columns
    ui-grid-auto-resize
    ui-grid-empty-base-layer
  ></div>
</div>
{{end}}
