{{define "scripts"}}
<script>
  window.allTrackedProjects = {{.AllProjects}};
  {{if .User}}
  window.user = {{.User}};
  {{end}}
  window.canCreate = {{.CanCreate}};
  window.validDefaultLoggers = {{.ValidDefaultLoggers}};
  window.userTz = {{GetTimezone $.User}}
</script>
<script type="text/javascript" src="{{Static "thirdparty" "tablesorter.js"}}"></script>
<script type="text/javascript" src="{{Static "js" "alerts.js"}}?hash={{ BuildRevision }}"></script>
<script type="text/javascript" src="{{Static "js" "subscriptions.js"}}?hash={{ BuildRevision }}"></script>
<script type="text/javascript" src="{{Static "js" "projects.js"}}?hash={{ BuildRevision }}"></script>
<script type="text/javascript" src="/static/js/services/time.js?hash={{ BuildRevision }}"></script>
{{end}}
{{define "title"}}
Evergreen Projects
{{end}}
{{define "content"}}
<div id="content" class="container-fluid row" ng-controller="ProjectCtrl" ng-show="!(trackedProjects.length>0)">
  <div class="row" style="text-align: center; margin-top:50px;" ng-cloak>
    <h1>Looks like you don't have view permissions... awkward.</h1>
    <h2> If you need access, please contact your Evergreen administrator. </h2>
  </div>
</div>
<div id="content" class="container-fluid row" ng-controller="ProjectCtrl" ng-show="trackedProjects.length>0">
<div class="col-lg-2 col-lg-offset-1">
  <h1> Projects</h1>
  <div class="row" ng-show="create">
    <div class="col-lg-12">
      <button class="btn btn-primary" ng-click="openAdminModal('newProject')"> New Project </button>
      <label>[[newProjectMessage]] </label>
    </div>
  </div>
  <div class="row">
    <h3 class="col-lg-12" ng-show="showProject(enabledProjects)" > Enabled </h3>
  </div>
  <div class="row">
    <ul class="list-unstyled col-lg-offset-1" id="projects-table">
      <li ng-repeat="project in enabledProjects | orderBy:'identifier'" style="padding:3px">
        <a ng-click="loadProject(project.id)"  ng-class="{true:'current-project', false:''}[shouldHighlight(project)]" style="cursor:pointer;padding:5px;">
        [[project.identifier]]
        </a>
      </li>
    </ul>
  </div>
  <div class="row">
    <h3 class="col-lg-12" ng-show="showProject(disabledProjects)"> Disabled </h3>
  </div>
  <div class="row">
    <ul class="list-unstyled col-lg-offset-1">
      <li ng-repeat="project in disabledProjects | orderBy : 'identifier'" style="padding:3px">
        <a ng-click="loadProject(project.id)" ng-class="{true:'current-project', false:''}[shouldHighlight(project)]" style="cursor:pointer;padding:5px">
        [[project.identifier]]
        </a>
      </li>
    </ul>
  </div>
  <admin-modal>
    <admin-new-project></admin-new-project>
  </admin-modal>
</div>
<div class="col-lg-8" ng-show="projectView">
<div class="form-horizontal">
<h2> Settings for [[displayName]]</h2>
<div class="col-lg-8">
  <div class="panel panel-danger" ng-show="settingsFormData.repotracker_error.exists">
    <div class="panel-heading">
      <i class="fa fa-exclamation-circle"></i>
      The current base revision ([[settingsFormData.repotracker_error.invalid_revision]]) cannot be found on branch, [[settingsFormData.branch_name]]. In order to resume tracking the repository, please confirm or enter a new base revision.
    </div>
    <div class="panel-body">
      <div class="form-group">
        <div class="col-lg-3 col-header">
          <label class="control-label"> New Merge Base Revision </label>
        </div>
        <div class="col-lg-6">
          <input class="form-control" type="text" ng-model="settingsFormData.repotracker_error.merge_base_revision">
          <label class="icon fa fa-warning project-error" ng-show="!isValidMergeBaseRevision(settingsFormData.repotracker_error.merge_base_revision)">&nbsp;Merge Base Revision must be a valid SHA GitHub Revision </label>
        </div>
        <div class="col-lg-2">
          <button class="form-control btn btn-primary" type="button" ng-disabled="!isValidMergeBaseRevision(settingsFormData.repotracker_error.merge_base_revision)"ng-click="setLastRevision()">
          <i class="fa fa-check"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-danger" ng-show="!isValidGithubOrg(settingsFormData.owner_name)">
    <div class="panel-heading">
      <i class="fa fa-exclamation-circle"></i>
      The current owner name ([[settingsFormData.owner_name]]) is no longer valid. In order to resume tracking the repository, please change to a valid organization as listed in the Admin Settings.
    </div>
  </div>
</div>
<div class="panel panel-danger" ng-show="settingsFormData.use_repo_settings">
  <div class="panel-heading">
    <i class="fa fa-exclamation-circle"></i>
    Cannot modify project that is using repo settings. This page is the read-only merge of the repo and branch project.
    To modify the branch project with the legacy page, please unattach from the repo using the Spruce UI or the API.
  </div>
</div>
<div ng-show="trackedProjects.length>0"><a class="link" href="/project/[[projectRef.identifier]]/events">Event Log</a></div>
<form name="settingsForm" ng-submit="saveProject(settingsFormData)">
  <fieldset style="display:inline-block;" ng-disabled="permissions.project_settings<20">
    <div class ="form-group">
      <div class="col-lg-8">
        <div class="radio">
          <label class="control-label">
          <input type="radio" ng-model="settingsFormData.enabled" ng-value="true"> <strong> Enabled </strong>
          </label> <br>
          <label class="muted col-lg-offset-1">Enable testing</label>
        </div>
        <div class="radio" ng-hide="settingsFormData.enabled === null">
          <label class="control-label">
          <input type="radio" ng-model="settingsFormData.enabled" ng-value="false"> <strong> Disabled </strong>
          </label> <br>
          <label class="muted col-lg-offset-1">Suspend testing</label>
        </div>
        <div class="radio" ng-hide="settingsFormData.enabled != null">
          <label class="control-label">
          <input type="radio" ng-model="settingsFormData.enabled" ng-value="null"> <strong> Disabled </strong>
          </label> <br>
          <label class="muted col-lg-offset-1">Suspend testing</label>
        </div>
      </div>
    </div>
    <div id="dispatching-disabled" class="form-group">
      <div class="col-lg-6">
        <input type="checkbox" id="dispatching-disabled-checkbox" ng-model="settingsFormData.dispatching_disabled" />
        <label for="dispatching-disabled-checkbox">Disable Dispatching</label>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-2 col-header">
        <label class="control-label"> Display Name</label>
      </div>
      <div class="col-lg-4">
        <input class="form-control" type="text" ng-model="settingsFormData.display_name">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-2 col-header">
        <label class="control-label"> Identifier</label>
      </div>
      <div class="col-lg-4">
        <input class="form-control" type="text" ng-model="settingsFormData.identifier">
      </div>
    </div>
    <div class="muted small" style="padding-bottom:12px;width:60%;" ng-hide="settingsFormData.identifier==projectRef.identifier">
      Please be aware that changing identifier will change the project identifier used for the CLI, inter-project dependencies, etc.
      You will need to make any users of this project aware of this change, as using the old identifier will no longer work.</div>
    <div class="form-group">
      <div class="col-lg-2 col-header">
        <label class="control-label"> Config File</label>
      </div>
      <div class="col-lg-4">
        <input class="form-control" type="text" ng-model="settingsFormData.remote_path">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-2 col-header">
        <label class="control-label">Spawn Host Script Path</label>
        <div class="muted small">This is the bash setup script to optionally run on spawn hosts created from tasks.</div>
      </div>
      <div class="col-lg-4">
        <input class="form-control" type="text" ng-model="settingsFormData.spawn_host_script_path">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-2 col-header">
        <label class="control-label">Batch Time (min)</label>
      </div>
      <div class="col-lg-4">
        <input class="form-control" type="text" ng-model="settingsFormData.batch_time">
        <label class="icon fa fa-warning project-error" ng-show="!isBatchTimeValid(settingsFormData.batch_time)">&nbsp;Batch time must be a number, &gt;=0.</label>
      </div>
    </div>
    <div id="github-info">
      <div class="h3"> Repository Info </div>
      <div class="form-group">
        <div class="col-lg-3 col-header">
          <label class="control-label">Owner</label>
        </div>
        <div class="col-lg-5">
          <input class="form-control" type="text" ng-model="settingsFormData.owner_name" ng-change="repoChange()">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-3 col-header">
          <label class="control-label">Repo Name</label>
        </div>
        <div class="col-lg-6">
          <input class="form-control" type="text" ng-model="settingsFormData.repo_name" ng-change="repoChange()">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-3 col-header">
          <label class="control-label">Branch Name</label>
        </div>
        <div class="col-lg-6">
          <input  class="form-control" type="textarea" ng-model="settingsFormData.branch_name" ng-change="repoChange()">
        </div>
      </div>
    </div>
    <div id="access-info">
      <div class="h3">Access Settings</div>
      <div class ="form-group">
        <div class="col-lg-8">
          <div class="radio">
            <label class="control-label">
            <input type="radio" ng-model="settingsFormData.private" ng-value="true"> <strong> Private </strong>
            </label> <br>
            <label class="muted col-lg-offset-1">Users must be logged in to see this project.</label>
          </div>
          <div class="radio" ng-hide="settingsFormData.private == null">
            <label class="control-label">
            <input type="radio" ng-model="settingsFormData.private" ng-value="false"> <strong> Public </strong>
            </label> <br>
            <label class="muted col-lg-offset-1">Anyone can see this project.</label>
          </div>
          <div class="radio" ng-hide="settingsFormData.private != null">
            <label class="control-label">
            <input type="radio" ng-model="settingsFormData.private" ng-value="null"> <strong> Public </strong>
            </label> <br>
            <label class="muted col-lg-offset-1">Anyone can see this project.</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-8">
          <label class="control-label">Restricted Project&nbsp;&nbsp;
          <input type="checkbox" ng-model="settingsFormData.restricted"/>
          </label>
          <div class="muted small">Logged-in users by default will not be able to access this project. Access must be granted manually.</div>
        </div>
      </div>
    </div>
    <div class="admins">
      <div class="form-group">
        <div class="col-header col-lg-4 form-control-static">
          <h3> Admins </h3>
        </div>
      </div>
      <div id="adminsList" class="form-group" ng-repeat="(index, admin) in settingsFormData.admins">
        <div class="col-lg-4"> <label class="control-label">[[admin]]</label> </div>
        <div class="col-lg-2">
          <button class="btn btn-default btn-danger" type="button" ng-click="removeAdmin(index)">
          <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-4">
          <input ng-model="admin_name" class="form-control" type="text" placeholder="username">
          <div class="muted small" ng-show="!isValidAdmin(admin_name)">
            Can't duplicate.
          </div>
        </div>
        <div class="col-lg-2">
          <button class="plus-button btn btn-primary" ng-disabled="!(admin_name) || !isValidAdmin(admin_name)" type="button" ng-click="addAdmin()">
          <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
    <div id="scheduling-info">
      <div class="h3">Scheduling Settings</div>
      <div class="form-group">
        <div class="col-lg-4 col-header">
          <label class="control-label">Unschedule old tasks on success&nbsp;&nbsp;
          <input type="checkbox" name="deactivate_previous" ng-model="settingsFormData.deactivate_previous"/>
          </label>
          <div class="muted small">When checked, tasks from previous revisions will be unscheduled when the equivalent task in a newer commit finishes successfully.</div>
        </div>
      </div>
      <div class="h3">Repotracker Settings</div>
      <div class="project-error" ng-hide="github_webhooks_enabled">
        Webhooks must be enabled to run the repotracker. Webhooks are enabled after saving with a valid repository and branch.
      </div>
      <div class="form-group" ng-show="github_webhooks_enabled">
        <div class="col-lg-5 col-header">
          <div>
            <label class="control-label">Disable Repotracker&nbsp;&nbsp;
            <input type="checkbox" name="disable_repotracker" ng-model="settingsFormData.repotracker_disabled"/>
            </label>
            <div class="muted small">Ignore commits pushed to the repo</div>
          </div>
          <div ng-hide="settingsFormData.repotracker_disabled">
            <label class="muted col-lg-offset-1">Repotracker will be triggered from Github PushEvents sent via webhooks.</label>
            <div class="col-lg-8 col-header">
              <label class="control-label">Force run Repotracker on Save&nbsp;&nbsp;
              <input type="checkbox" name="force_repotracker_run" ng-model="settingsFormData.force_repotracker_run" ng-checked="repoChanged" />
              </label>
            </div>
          </div>
        </div>
        <br />
      </div>
    </div>
    <div id="logging-info">
      <div class="h3">Default Logger</div>
      <div style="left:-15px" class="col-lg-4">
        <select name="repeatSelect" id="repeatSelect" ng-model="settingsFormData.default_logger">
          <option ng-repeat="logger in validDefaultLoggers" value="[[logger]]">[[logger]]</option>
        </select>
      </div>
    </div>
    <div class="variables">
      <div class="form-group">
        <div class="col-header col-lg-8 form-control-static">
          <h3>Test Results</h3>
        </div>
      </div>
      <div id="enable-cedar-test-results" class="form-group">
        <div class="col-lg-6">
          <input type="checkbox" id="enable-cedar-test-results-checkbox" ng-model="settingsFormData.cedar_test_results_enabled"/>
          <label for="enable-cedar-test-results-checkbox">Enable Cedar Test Results</label>
        </div>
      </div>
    </div>
    <div ng-include="'static/partials/subscription_list.html'">
    </div>
    <div class="variables" ng-show="trackedProjects.length>0">
      <div class="form-group">
        <div class="col-header col-lg-8 form-control-static">
          <h3>Patch Settings</h3>
        </div>
      </div>
      <div id="patching-disabled" class="form-group">
        <div class="col-lg-6">
          <input type="checkbox" id="patching-disabled-checkbox" ng-model="settingsFormData.patching_disabled" />
          <label for="patching-disabled-checkbox">Disable Patching</label>
        </div>
      </div>
    </div>
    <div class="variables" ng-show="trackedProjects.length>0">
      <div class="form-group">
        <div class="col-header col-lg-8 form-control-static">
          <h3>Task Sync</h3>
        </div>
        <div class="col-lg-8">
          <input type="checkbox" id="task-sync-config-enabled-checkbox" ng-model="settingsFormData.task_sync.config_enabled" />
          <label for="task-sync-config-enabled-checkbox">Enable for Project Config Commands</label>
          <div class="muted small">Enable commands (e.g. s3.push, s3.pull) to sync the task directory in S3 from the config file.</div>
        </div>
        <div class="col-lg-8">
          <input type="checkbox" id="task-sync-patch-enabled-checkbox" ng-model="settingsFormData.task_sync.patch_enabled" />
          <label for="task-sync-patch-enabled-checkbox">Enable for Tasks in Patches</label>
          <div class="muted small">Users can create patches that sync the task directory to S3 at the end of any task.</div>
        </div>
      </div>
      <div class="panel panel-danger" ng-show="settingsFormData.task_sync.config_enabled || settingsFormData.task_sync.patch_enabled">
        <div class="panel-heading">
          <i class="fa fa-exclamation-circle"></i>
          Enabling this feature can allow any files containing secrets in the task's working directory to be read by any logged in user.
        </div>
      </div>
    </div>
    <div class="variables">
      <div class="form-group">
        <div class="col-header col-lg-4 form-control-static">
          <h3> Variables </h3>
        </div>
      </div>
      <div id="projectVarsList" class="form-group" ng-repeat="(name, value) in settingsFormData.project_vars">
        <div class="col-lg-4"> <label class="project-variable">[[name]]</label> </div>
        <div class="col-lg-4">
          <textarea class="form-control" style="font-family:monospace;" readonly>[[valueString(name, value)]]</textarea>
        </div>
        <div class="col-lg-2">
          <button class="btn btn-default btn-danger" type="button" ng-click="removeProjectVar(name)">
          <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-4">
          <input ng-model="proj_var.name" class="form-control" type="text" placeholder="variable name">
        </div>
        <div class="col-lg-4">
          <textarea ng-model="proj_var.value" class="form-control" placeholder="variable" style="font-family:monospace;"></textarea>
        </div>
        <div>
          <label class="control-label">
          <input type="checkbox" name="set_private" ng-model="proj_var.is_private" ng-disabled="!validKeyValue(proj_var.name, proj_var.value)" /> <strong>Private Variable</strong>
          </label>
        </div>
        <div>
          <label class="control-label">
          <input type="checkbox" name="set_restricted" ng-model="proj_var.is_restricted" ng-disabled="!validKeyValue(proj_var.name, proj_var.value)" /> <strong>Restricted Variable</strong>
          </label>
        </div>
        <span class="warning-text" ng-show="proj_var.is_restricted"><i class="fa fa-warning"></i>
        Restricted variables are only used with commands that won't leak the variables.
        </span>
        <div class="col-lg-6">
          <button class="plus-button btn btn-primary " ng-disabled="!validKeyValue(proj_var.name, proj_var.value)" type="button" ng-click="addProjectVar()">
          <i class="fa fa-plus"></i>
          </button>
          <label class="distro-error">[[invalidKeyMessage]]</label>
        </div>
      </div>
    </div>
    <div class="variables">
      <div class="form-group">
        <div class="col-header col-lg-6 form-control-static">
          <h3> GitHub Webhooks </h3>
          <div ng-show="github_webhooks_enabled">
            GitHub webhooks are enabled.
          </div>
          <div class="project-error" ng-hide="github_webhooks_enabled">
            <div>GitHub Pull Request testing and the commit queue are disabled because webhooks are not enabled. Webhooks are enabled after saving with a repository and branch.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="variables">
      <div class="form-group">
        <div class="col-header col-lg-6 form-control-static">
          <h3> GitHub Pull Request Testing</h3>
        </div>
      </div>
      <div id="patch-variants-list-header" class="form-group" ng-show="prTestingConflicts.length !== 0">
        <div class="col-lg-6">
          Github Pull Request Testing cannot be enabled on this repository: only one Evergreen project
          per Repository/Branch combination can track Pull Requests. To enable PR Testing in this
          repository, please turn it off
          <span ng-show="prTestingEnabled">in this repository, or</span>
          <span> in <span ng-repeat="x in prTestingConflicts"> "[[x]]"<span ng-show="!$last">, </span> </span></span>
        </div>
      </div>
      <div id="patch-variants-list-header" class="form-group" ng-show="prTestingEnabled || prTestingConflicts.length === 0">
        <div class="col-lg-6">
          <input type="checkbox" id="prtesting-checkbox" ng-model="settingsFormData.pr_testing_enabled" />
          <label for="prtesting-checkbox">Enable Github PR Testing</label>
        </div>
      </div>
      <!-- GITHUB PATCH DEFINITIONS -->
      <div ng-show="settingsFormData.pr_testing_enabled === true && prTestingConflicts.length === 0">
        <div class="form-group">
          <div class="col-header col-lg-6 form-control-static">
            <h4> GitHub Patch Definitions </h4>
            <div class="muted small">For patches created from Github pull requests, Evergreen will find variants that match each variant regex, and schedule tasks that match the corresponding task regex. All regular expressions must be valid Golang regular expressions.</div>
          </div>
        </div>
        <div id="patch-variants-list-header" class="form-group">
          <div class="col-lg-3"> <label class="control-label"> Variant Regex </label> </div>
          <div class="col-lg-3"> <label class="control-label"> Task Regex </label> </div>
          <div class="col-lg-2"> <label class="control-label"> Task Tags </label> </div>
          <div class="col-lg-2"></div>
        </div>
        <div id="patch-variants-list" class="form-group" ng-repeat="obj in settingsFormData.github_aliases track by $index">
          <div class="col-lg-3">
            <input class="form-control" ng-model="obj.variant" type="text" placeholder="variant regex">
          </div>
          <div class="col-lg-3">
            <input class="form-control" ng-model="obj.task" type="text" placeholder="task regex">
          </div>
          <div class="col-lg-2">
            <tag-input klass="form-control" items="obj.tags" placeholder="tags (comma-delimited)" />
          </div>
          <div class="col-lg-4">
            <button class="btn btn-default btn-danger" type="button" ng-click="removeGithubAlias($index)">
            <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-3">
            <input ng-model="github_alias.variant" class="form-control" type="text" placeholder="variant regex">
          </div>
          <div class="col-lg-3">
            <input ng-model="github_alias.task" class="form-control" type="text" placeholder="task regex">
          </div>
          <div class="col-lg-2">
            <tag-input klass="form-control" items="github_alias.tags" placeholder="tags (comma-delimited)" />
          </div>
          <div class="col-lg-2">
            <button class="plus-button btn btn-primary" ng-disabled="!validPatchDefinition(github_alias)" type="button" ng-click="addGithubAlias()">
            <i class="fa fa-plus"></i>
            </button>
            <label class="distro-error">[[invalidGitHubPatchDefinitionMessage]]</label>
          </div>
        </div>
      </div>
      <div>
        <!--  Github Trigger Aliases  -->
        <div id="github-trigger-alias">
          <div class="h4">Add Github Trigger Alias </div>
          <div class="muted small">Add previously defined patch trigger aliases that add tasks from other projects to patches</div>
          <div class="form-group">
            <div class="col-lg-5 col-header">
              <label class="control-label">Trigger Alias</label>
            </div>
          </div>
          <div class="form-group" ng-repeat="(index, t) in settingsFormData.github_trigger_aliases">
            <div class="col-lg-4">
              <label class="control-label">[[t]]</label>
            </div>
            <div class="col-lg-2">
              <button class="btn btn-default btn-danger" type="button" ng-click="removeGithubTrigger(index)">
              <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-4">
              <input class="form-control" type="text" ng-model="added_trigger_aliases" placeholder="trigger alias">
            </div>
            <div class="col-lg-2">
              <button class="plus-button btn btn-primary" ng-disabled="!validGithubTrigger(added_trigger_aliases)" type="button"
                ng-click="addGithubTrigger()">
              <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <!--Github Commit Checks-->
        <div class="form-group">
          <div class="col-header col-lg-6 form-control-static">
            <h3>Github Commit Checks</h3>
          </div>
        </div>
        <div id="github_checks" class="form-group">
          <div class="col-lg-6">
            <input type="checkbox" id="github-checks-checkbox" ng-model="settingsFormData.github_checks_enabled" />
            <label for="github-checks-checkbox">Enable Github Commit Checks</label>
            <div class="muted small">Commits will send their status as a Github Check (the check will pass/fail based only on the tasks matching the tags/regexes definitions).</div>
          </div>
        </div>
        <div ng-show="settingsFormData.github_checks_enabled === true && githubChecksConflicts.length === 0">
          <div id="patch-variants-list-header" class="form-group">
            <div class="col-lg-3"> <label class="control-label"> Variant Regex </label> </div>
            <div class="col-lg-3"> <label class="control-label"> Task Regex </label> </div>
            <div class="col-lg-2"> <label class="control-label"> Task Tags </label> </div>
            <div class="col-lg-2"></div>
          </div>
          <div id="patch-variants-list" class="form-group" ng-repeat="obj in settingsFormData.github_checks_aliases track by $index">
            <div class="col-lg-3">
              <input class="form-control" ng-model="obj.variant" type="text" placeholder="variant regex">
            </div>
            <div class="col-lg-3">
              <input class="form-control" ng-model="obj.task" type="text" placeholder="task regex">
            </div>
            <div class="col-lg-2">
              <tag-input klass="form-control" items="obj.tags" placeholder="tags (comma-delimited)" />
            </div>
            <div class="col-lg-4">
              <button class="btn btn-default btn-danger" type="button" ng-click="removeGithubChecksAlias($index)">
              <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-3">
              <input ng-model="github_checks_alias.variant" class="form-control" type="text" placeholder="variant regex">
            </div>
            <div class="col-lg-3">
              <input ng-model="github_checks_alias.task" class="form-control" type="text" placeholder="task regex">
            </div>
            <div class="col-lg-2">
              <tag-input klass="form-control" items="github_checks_alias.tags" placeholder="tags (comma-delimited)" />
            </div>
            <div class="col-lg-4">
              <button class="plus-button btn btn-primary" ng-disabled="!validPatchDefinition(github_checks_alias)" type="button" ng-click="addGithubChecksAlias()">
              <i class="fa fa-plus"></i>
              </button>
              <label class="distro-error">[[invalidGitHubPatchDefinitionMessage]]</label>
            </div>
          </div>
        </div>
        <!-- GIT TAGS -->
        <div class="form-group">
          <div class="col-header col-lg-6 form-control-static">
            <h3>Trigger Versions With Git Tags</h3>
          </div>
        </div>
        <div id="authorized_for_git_tags" class="form-group">
          <div class="col-lg-6">
            <input type="checkbox" id="git-tags-checkbox" ng-model="settingsFormData.git_tag_versions_enabled" />
            <label for="git-tags-checkbox">Enable Triggering Versions With Git Tags</label>
          </div>
        </div>
        <div ng-show="settingsFormData.git_tag_versions_enabled">
          <div class="form-group">
            <div class="col-header col-lg-6 form-control-static">
              <h4> Github Users/Teams Authorized To Create Versions With Git Tags </h4>
              <div class="muted small">Can also use mana entitlements to manage who is authorized for this.</div>

            </div>
          </div>
          <div class="form-group">
            <div class="col-header col-lg-3">
              <h5> Authorized Users </h5>
            </div>
          </div>
          <div id="gitTagUsersList" class="form-group" ng-repeat="(index, user) in settingsFormData.git_tag_authorized_users">
            <div class="col-lg-4"> <label class="control-label">[[user]]</label> </div>
            <div class="col-lg-2">
              <button class="btn btn-default btn-danger" type="button" ng-click="removeGitTagUser(index)">
              <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-4">
              <input ng-model="git_tag_user_name" class="form-control" type="text" placeholder="username">
              <div class="muted small" ng-show="!isValidGitTagUser(git_tag_user_name)">
                Can't duplicate.
              </div>
            </div>
            <div class="col-lg-2">
              <button class="plus-button btn btn-primary" ng-disabled="!(git_tag_user_name) || !isValidGitTagUser(git_tag_user_name)" type="button" ng-click="addGitTagUser()">
              <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
          <div class="form-group">
            <div class="col-header col-lg-6 form-control-static">
              <h5> Authorized Teams </h5>
              <div class="muted small">
                This should be the team slug, i.e. the team name with dashes instead of spaces.
                For example, the team Evergreen Users would be evergreen-users.
              </div>
            </div>
          </div>
          <div id="gitTagTeamsList" class="form-group" ng-repeat="(index, team) in settingsFormData.git_tag_authorized_teams">
            <div class="col-lg-4"> <label class="control-label">[[team]]</label> </div>
            <div class="col-lg-2">
              <button class="btn btn-default btn-danger" type="button" ng-click="removeGitTagTeam(index)">
              <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-4">
              <input ng-model="git_tag_team" class="form-control" type="text" placeholder="team name">
              <div class="muted small" ng-show="!isValidGitTagTeam(git_tag_team)">
                Can't duplicate.
              </div>
            </div>
            <div class="col-lg-2">
              <button class="plus-button btn btn-primary" ng-disabled="!(git_tag_team) || !isValidGitTagTeam(git_tag_team)" type="button" ng-click="addGitTagTeam()">
              <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
          <div class="form-group">
            <div class="col-header col-lg-6 form-control-static">
              <h4> Git Tag Version Definitions </h4>
              <div class="muted small">
                If an authorized user pushes a tag that matches a regex a version can be created from this alias.
              </div>
              <div class="muted small" style="padding-top: 5px;">
                Either the version will be fully populated from a new file, OR variants and tasks can be defined for the default config file using variant and task regexes/tags.
              </div>
              <div class="muted small" style="padding-top: 5px;">
                If multiple regexes match and a config file has been defined for one or more of them,
                the version is ambiguous and so no version will be created.
              </div>
            </div>
          </div>
          <div id="patch-variants-list-header" class="form-group">
            <div class="col-lg-2"> <label class="control-label"> Git Tag Regex </label> </div>
            <div class="col-lg-2"> <label class="control-label"> Config File </label> </div>
            <div class="col-lg-2"> <label class="control-label"> Variant Regex </label> </div>
            <div class="col-lg-2"> <label class="control-label"> Task Regex </label> </div>
            <div class="col-lg-2"> <label class="control-label"> Task Tags </label> </div>
            <div class="col-lg-2"></div>
          </div>
          <div id="patch-variants-list" class="form-group" ng-repeat="obj in settingsFormData.git_tag_aliases track by $index">
            <div class="col-lg-2">
              <input class="form-control" ng-model="obj.git_tag" type="text" placeholder="git tag regex">
            </div>
            <div class="col-lg-2">
              <input class="form-control" ng-model="obj.remote_path" ng-disabled="patchDefinitionPopulated(obj)" type="text" placeholder="yaml file">
            </div>
            <div ng-disabled="obj.remote_path">
              <div class="col-lg-2">
                <input class="form-control" ng-model="obj.variant" ng-disabled="obj.remote_path" type="text" placeholder="variant regex">
              </div>
              <div class="col-lg-2">
                <input class="form-control" ng-model="obj.task" ng-disabled="obj.remote_path" type="text" placeholder="task regex">
              </div>
              <div class="col-lg-2">
                <tag-input klass="form-control" disabled="obj.remote_path" items="obj.tags" placeholder="tags (comma-delimited)" />
              </div>
            </div>
            <div class="col-lg-2">
              <button class="btn btn-default btn-danger" type="button" ng-click="removeGitTagAlias($index)">
              <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-2">
              <input ng-model="git_tag_alias.git_tag" class="form-control" type="text" placeholder="git tag regex">
            </div>
            <div class="col-lg-2">
              <input class="form-control" ng-model="git_tag_alias.remote_path" ng-disabled="patchDefinitionPopulated(git_tag_alias)" type="text" placeholder="yaml file">
            </div>
            <div class="col-lg-2">
              <input ng-model="git_tag_alias.variant" class="form-control" ng-disabled="git_tag_alias.remote_path" type="text" placeholder="variant regex">
            </div>
            <div class="col-lg-2">
              <input ng-model="git_tag_alias.task" class="form-control" ng-disabled="git_tag_alias.remote_path" type="text" placeholder="task regex">
            </div>
            <div class="col-lg-2">
              <tag-input klass="form-control" disabled="git_tag_alias.remote_path" items="git_tag_alias.tags" placeholder="tags (comma-delimited)" />
            </div>
            <div class="col-lg-2">
              <button class="plus-button btn btn-primary" ng-disabled="!validGitTagVersionDefinition(git_tag_alias)" type="button" ng-click="addGitTagAlias()">
              <i class="fa fa-plus"></i>
              </button>
              <label class="distro-error">[[invalidGitTagAliasMessage]]</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-header col-lg-6 form-control-static">
            <h3>Commit Queue</h3>
            <div class="muted small">The commit queue merges changes onto the project's branch after they've passed a set of tests. Can only be enabled if patch definitions are set.</div>
          </div>
        </div>
        <div id="patch-variants-list-header" class="form-group" ng-show="commitQueueConflicts.length !== 0">
          <div class="col-lg-6">
            Commit Queue cannot be enabled on this project: only one Evergreen project
            per Repository/Branch combination can enable commit queue. To enable commit queue in this
            project, please turn it off in <span ng-repeat="x in commitQueueConflicts"> "[[x]]"<span ng-show="!$last">, </span> </span>
          </div>
        </div>
        <div id="patch-variants-list-header" class="form-group" ng-show="commitQueueConflicts.length === 0">
          <div class="col-lg-3">
            <input type="checkbox" id="cq-merging-checkbox" ng-model="settingsFormData.commit_queue.enabled" />
            <label for="cq-merging-checkbox">Enable Commit Queue</label>
          </div>
          <div class="col-lg-5" ng-show="settingsFormData.commit_queue.enabled" >
            <input type="checkbox" id="cq-merging-checkbox" ng-model="settingsFormData.commit_queue.require_signed" />
            <label for="cq-merging-checkbox">Require Signed Commits On Pull Request Merges</label>
          </div>
        </div>
        <div class="form-group" ng-show="commitQueueConflicts.length === 0">
          <div class="col-lg-2 col-header">
            <label class="control-label">Commit Queue Message</label>
          </div>
          <div class="col-lg-4">
            <input class="form-control" type="text" ng-model="settingsFormData.commit_queue.message" placeholder="Shown in commit queue CLI commands & web UI">
          </div>
        </div>
        <!-- COMMIT QUEUE PATCH DEFINITIONS -->
        <div ng-show="settingsFormData.commit_queue.enabled">
          <div>
            <div>
              <label for="mergeMethodSelect"> Merge Method: </label>
              <select id="mergeMethodSelect" ng-model="settingsFormData.commit_queue.merge_method" ng-options="option for option in validMergeMethods"></select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-header col-lg-6 form-control-static">
              <h4> Commit Queue Patch Definitions </h4>
              <div class="muted small">
                Changes on the Commit Queue are tested with all variants and tasks that match each variant and task regex pair.
              </div>
            </div>
          </div>
          <div id="patch-variants-list-header" class="form-group">
            <div class="col-lg-3"> <label class="control-label"> Variant Regex </label> </div>
            <div class="col-lg-3"> <label class="control-label"> Task Regex </label> </div>
            <div class="col-lg-2"> <label class="control-label"> Task Tags </label> </div>
            <div class="col-lg-2"></div>
          </div>
          <div id="patch-variants-list" class="form-group" ng-repeat="obj in settingsFormData.commit_queue_aliases track by $index">
            <div class="col-lg-3">
              <input class="form-control" ng-model="obj.variant" type="text" placeholder="variant regex">
            </div>
            <div class="col-lg-3">
              <input class="form-control" ng-model="obj.task" type="text" placeholder="task regex">
            </div>
            <div class="col-lg-2">
              <tag-input klass="form-control" items="obj.tags" placeholder="tags (comma-delimited)" />
            </div>
            <div class="col-lg-4">
              <button class="btn btn-default btn-danger" type="button" ng-click="removeCommitQueueAlias($index)">
              <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-3">
              <input ng-model="commit_queue_alias.variant" class="form-control" type="text" placeholder="variant regex">
            </div>
            <div class="col-lg-3">
              <input ng-model="commit_queue_alias.task" class="form-control" type="text" placeholder="task regex">
            </div>
            <div class="col-lg-2">
              <tag-input klass="form-control" items="commit_queue_alias.tags" placeholder="tags (comma-delimited)" />
            </div>
            <div class="col-lg-4">
              <button class="plus-button btn btn-primary" ng-disabled="!validPatchDefinition(commit_queue_alias)" type="button" ng-click="addCommitQueueAlias()">
              <i class="fa fa-plus"></i>
              </button>
              <label class="distro-error">[[invalidCommitQueuePatchDefinitionMessage]]</label>
            </div>
          </div>
        </div>
      </div>
      <!-- PATCH ALIASES -->
      <div class="variables">
        <div class="form-group">
          <div class="col-header col-lg-6 form-control-static">
            <h3>Patch Aliases</h3>
            <div class="muted small">Specify aliases to use with the CLI. Aliases may be specified multiple times. The result will be their union. All regular expressions must be valid Golang regular expressions. Must specify exactly one of the regex or tag field, for both tasks and variants. Use an alias with the --alias flag to the CLI patch command.</div>
          </div>
        </div>
        <div id="patch-aliases-list-header" class="form-group">
          <div class="col-lg-2"> <label class="control-label"> Alias </label> </div>
          <div class="col-lg-2"> <label class="control-label"> Variant Regex </label> </div>
          <div class="col-lg-2"> <label class="control-label"> Variant Tags </label> </div>
          <div class="col-lg-2"> <label class="control-label"> Task Regex </label> </div>
          <div class="col-lg-2"> <label class="control-label"> Task Tags </label> </div>
          <div class="col-lg-2"></div>
        </div>
        <div id="patch-aliases-list" class="form-group" ng-repeat="obj in settingsFormData.patch_aliases track by $index">
          <div class="col-lg-2">
            <input class="form-control" ng-model="obj.alias" type="text" placeholder="alias">
          </div>
          <div class="col-lg-2">
            <input class="form-control" ng-model="obj.variant" type="text" placeholder="variant regex">
          </div>
          <div class="col-lg-2">
            <tag-input klass="form-control" items="obj.variant_tags" />
          </div>
          <div class="col-lg-2">
            <input class="form-control" ng-model="obj.task" type="text" placeholder="task regex">
          </div>
          <div class="col-lg-2">
            <tag-input klass="form-control" items="obj.tags" />
          </div>
          <div class="col-lg-2">
            <button class="btn btn-default btn-danger" type="button" ng-click="removePatchAlias($index)">
            <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-2">
            <input ng-model="patch_alias.alias" class="form-control" type="text" placeholder="alias">
          </div>
          <div class="col-lg-2">
            <input ng-model="patch_alias.variant" class="form-control" type="text" placeholder="variant regex">
          </div>
          <div class="col-lg-2">
            <tag-input klass="form-control" items="patch_alias.variant_tags" placeholder="tags (comma-delimited)" />
          </div>
          <div class="col-lg-2">
            <input ng-model="patch_alias.task" class="form-control" type="text" placeholder="task regex">
          </div>
          <div class="col-lg-2">
            <tag-input klass="form-control" items="patch_alias.tags" placeholder="tags (comma-delimited)" />
          </div>
          <div class="col-lg-2">
            <button class="plus-button btn btn-primary " ng-disabled="!validPatchAlias(patch_alias)" type="button" ng-click="addPatchAlias()">
            <i class="fa fa-plus"></i>
            </button>
            <label class="distro-error">[[invalidPatchAliasMessage]]</label>
          </div>
        </div>
      </div>
      <!-- Patch Trigger Aliases -->
      <div class="variables">
        <div class="form-group">
          <div class="col-header col-lg-6 form-control-static">
            <h3>Patch Trigger Aliases</h3>
            <div class="muted small">Define aliases used to add tasks from other projects to patches</div>
          </div>
        </div>
        <div class="form-group" ng-repeat="alias in patch_trigger_aliases track by $index">
          <a class="col-lg-12 link" ng-click="showPatchTriggerAliasModal($index)">[[alias.alias]]</a>
        </div>
        <div class="form-group">
          <div class="col-lg-2">
            <button class="plus-button btn btn-primary" type="button" ng-click="showPatchTriggerAliasModal()">
            <i class="fa fa-plus"></i> New Alias
            </button>
          </div>
        </div>
      </div>
      <!-- Triggers -->
      <div class="variables">
        <div class="form-group">
          <div class="col-header col-lg-6 form-control-static">
            <h3>Project Triggers</h3>
            <div class="muted small">List upstream projects where completion of specific tasks should cause tests in this project to be run.</div>
          </div>
        </div>
        <div class="form-group" ng-repeat="trigger in project_triggers track by $index">
          <a class="col-lg-12 link" ng-bind="triggerLabel(trigger)" ng-click="showTriggerModal($index)"></a>
        </div>
        <div class="form-group">
          <div class="col-lg-2">
            <button class="plus-button btn btn-primary" type="button" ng-click="showTriggerModal()">
            <i class="fa fa-plus"></i> New Trigger
            </button>
          </div>
        </div>
      </div>
      <!-- Periodic builds -->
      <div class="variables">
        <div class="form-group">
          <div class="col-header col-lg-6 form-control-static">
            <h3>Periodic Builds</h3>
            <div class="muted small">Configure tasks to run periodically within this project</div>
          </div>
        </div>
        <div class="form-group" ng-repeat="definition in periodic_builds track by $index">
          <a class="col-lg-12 link" ng-bind="periodicBuildLabel(definition)" ng-click="showPeriodicBuildModal($index)"></a>
        </div>
        <div class="form-group">
          <div class="col-lg-2">
            <button class="plus-button btn btn-primary" type="button" ng-click="showPeriodicBuildModal()">
            <i class="fa fa-plus"></i> New Periodic Build
            </button>
          </div>
        </div>
      </div>
      <!-- Commands for Virtual Workstations -->
      <div class="variables">
        <div class="form-group">
          <div class="col-header col-lg-6 form-control-static">
            <h3>Virtual Workstations Commands</h3>
            <div class="muted small">Commands to be run for this project, and optionally a subdirectory to run in (starting at home/[[settingsFormData.identifier]]/).
              These will be run in order using the setup CLI command from the workstation.
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-4">
            <input type="checkbox" id="workstation_git_clone" ng-model="settingsFormData.workstation_config.git_clone"/>
            <label for="workstation_git_clone">Git Clone</label>
            <div class="muted small">
              If git clone is checked, will run "git clone -b [[settingsFormData.branch_name]] git@github.com:[[settingsFormData.owner_name]]/[[settingsFormData.repo_name]].git" as defined in this project. Users must have SSH keys configured in github before running this command.
            </div>
          </div>
          <div class="form-group">
          </div>
          <div id="workstation-header" class="form-group">
            <div class="col-lg-4"> <label class="control-label"> Command </label> </div>
            <div class="col-lg-2"> <label class="control-label"> Directory </label> </div>
            <div class="col-lg-2"></div>
          </div>
          <div id="workstation-list" class="form-group" ng-repeat="obj in settingsFormData.workstation_config.setup_commands track by $index">
            <div class="col-lg-4">
              <textarea class="form-control" ng-model="obj.command" placeholder="command"></textarea>
            </div>
            <div class="col-lg-2">
              <input class="form-control" ng-model="obj.directory" type="text" placeholder="directory">
            </div>
            <div class="col-lg-2">
              <button class="btn btn-default btn-danger" type="button" ng-click="removeWorkstationCommand($index)">
              <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-4">
              <textarea class="form-control" ng-model="cur_command.command" placeholder="command"></textarea>
            </div>
            <div class="col-lg-2">
              <input ng-model="cur_command.directory" class="form-control" type="text" placeholder="directory">
            </div>
            <div class="col-lg-2">
              <button class="plus-button btn btn-primary " ng-disabled="!validWorkstationCommand(cur_command)" type="button" ng-click="addWorkstationCommand()">
              <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <div id="caching-info">
          <div class="h3">Historical Data Caching Info </div>
          <div class="form-group">
            <div class="col-lg-4 col-header">
              <input type="checkbox" id="disable-stats-cache" ng-model="settingsFormData.disabled_stats_cache"/>
              <label for="disable-stats-cache">Disable caching</label>
            </div>
          </div>
          <div class="muted small">Comma-separated list of regular expression patterns that specify test filenames to ignore when caching test and task history.</div>
          <div class="form-group">
            <div class="col-lg-5 col-header">
              <label class="control-label">File patterns to ignore</label>
            </div>
          </div>
          <div class="form-group" ng-repeat="(index, pattern) in settingsFormData.files_ignored_from_cache">
            <div class="col-lg-4">
              <label class="control-label">[[pattern]]</label>
            </div>
            <div class="col-lg-2">
              <button class="btn btn-default btn-danger" type="button" ng-click="removeCacheIgnoreFile(index)">
              <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-4">
              <input class="form-control" type="text" ng-model="cache_ignore_file_pattern" placeholder="file pattern">
            </div>
            <div class="col-lg-2">
              <button class="plus-button btn btn-primary" ng-disabled="!(cache_ignore_file_pattern)" type="button" ng-click="addCacheIgnoreFile()">
              <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <div id="plugin-info">
          <div class="h3">Performance</div>
          <div class="form-group">
            <div class="col-lg-4 col-header">
              <input type="checkbox" id="perf-plugin" name="perf_enabled" ng-model="settingsFormData.perf_enabled"/>
              <label for="perf-plugin" class="control-label">Enable Performance Plugin</label>
            </div>
          </div>
          <div class="h3">Build Baron Plugin</div>
          <div class="form-group">
            <div class="col-lg-8">
              <div class="muted small">Define either a webhook for custom build failure ticket creation, or specify existing JIRA projects.</div>
              <label class="control-label"> Project To Create Tickets In JIRA </label>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-4">
              <input class="form-control" type="text" ng-disabled="shouldDisableBB()" ng-model="settingsFormData.build_baron_settings.ticket_create_project" placeholder="Ticket create project">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-4"> <label class="control-label"> Projects To Search in JIRA </label> </div>
          </div>
          <div id="ticket_search_projects" class="form-group" ng-repeat="(index, project) in settingsFormData.build_baron_settings.ticket_search_projects">
            <div class="col-lg-4"> <label class="control-label">[[project]]</label> </div>
            <div class="col-lg-2">
              <button class="btn btn-default btn-danger" type="button" ng-click="removeTicketSearchProject(index)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-4">
              <input ng-disabled="shouldDisableBB()" ng-model="ticket_search_project" class="form-control" type="text" placeholder="EVG">
            </div>
            <div class="col-lg-2">
              <button class="plus-button btn btn-primary" ng-disabled="!(ticket_search_project)" type="button" ng-click="addTicketSearchProject()">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-8">
              <label class="control-label"> Webhook </label>
              <div class="muted small">To use a custom setup for creating build failure tickets, specify a webhook endpoint and secret.</div>
            </div>
          </div>
          <div id="webhook" class="form-group">
            <div class="col-lg-3">
              <input class="form-control" ng-disabled="shouldDisableWebhook()" ng-model="settingsFormData.task_annotation_settings.web_hook.endpoint" type="text" placeholder="endpoint">
            </div>
            <div class="col-lg-3">
              <input class="form-control" ng-disabled="shouldDisableWebhook()" ng-model="settingsFormData.task_annotation_settings.web_hook.secret" type="text" placeholder="secret">
            </div>
          </div>

          <div class="h3">Task Annotation Settings</div>
          <div class="form-group">
            <div class="col-lg-3"> <label class="control-label"> JIRA custom field </label> </div>
            <div class="col-lg-3"> <label class="control-label"> JIRA custom display text </label> </div>
          </div>
          <div class="form-group">
            <div class="col-lg-8">
              <div class="muted small">To display a specific field when displaying jira links, specify a custom JIRA field and display text.</div>
            </div>
          </div>
          <div id="jira_custom_fields" class="form-group" ng-repeat="(index, jiraField) in settingsFormData.task_annotation_settings.jira_custom_fields">
            <div class="col-lg-6"> <label class="control-label">[[jiraField]]</label> </div>
            <div class="col-lg-2">
              <button class="btn btn-default btn-danger" type="button" ng-click="removeJiraField(index)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-3">
              <input class="form-control" ng-model="jira_field" type="text" placeholder="field">
            </div>
            <div class="col-lg-3">
              <input class="form-control" ng-model="jira_display_text" type="text" placeholder="display text">
            </div>
            <div class="col-lg-2">
              <button class="plus-button btn btn-primary" ng-disabled="!(jira_field) || !(jira_display_text)" type="button" ng-click="addJiraField()">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-lg-6">
            <label ng-show="saveMessage">[[saveMessage]]</label>
            <label ng-hide="saveMessage">&nbsp;</label>
          </div>
        </div>
        <label class="icon fa fa-warning project-error" ng-show="settingsFormData.use_repo_settings">Project using repo settings cannot be modified here.</label>
        <div class="row">
          <div class="col-lg-2">&nbsp;</div>
          <div class="col-lg-4">
            <input class="btn btn-primary" input ng-disabled="settingsFormData.use_repo_settings || !isDirty || !isBatchTimeValid(settingsFormData.batch_time) || !bbConfigIsValid()" type="submit" value="Save Changes">
          </div>
        </div>
  </fieldset>
</form>
</div>
{{end}}