{{define "scripts"}}
<script>
  window.allTrackedProjects = {{.AllProjects}};
  {{if .User}}
  window.isSuperUser = {{IsSuperUser .User.Id}};
  window.user = {{.User}};
  window.isAdmin = {{.ProjectData.IsAdmin}};
  {{else}}
  window.isSuperUser = false;
  {{end}}
</script>
<script type="text/javascript" src="{{Static "thirdparty" "tablesorter.js"}}"></script>
<script type="text/javascript" src="{{Static "js" "alerts.js"}}?hash={{ BuildRevision }}"></script>
<script type="text/javascript" src="{{Static "js" "subscriptions.js"}}?hash={{ BuildRevision }}"></script>
<script type="text/javascript" src="{{Static "js" "projects.js"}}?hash={{ BuildRevision }}"></script>
{{end}}
{{define "title"}}
Evergreen Projects
{{end}}
{{define "content"}}
<div id="content" class="container-fluid row" ng-controller="ProjectCtrl" ng-hide="isAdmin">
  <div class="row" style="text-align: center; margin-top:50px;" ng-cloak>
    <h1>Looks like you're not an admin... awkward.</h1>
    <h2> If you need access, please contact your Evergreen administrator. </h2>
  </div>
</div>
<div id="content" class="container-fluid row" ng-controller="ProjectCtrl" ng-show="isAdmin">
  <div class="col-lg-2 col-lg-offset-1">
    <h1> Projects</h1>
    <div class="row" ng-show="isSuperUser">
      <div class="col-lg-12">
        <button class="btn btn-primary" ng-click="openAdminModal('newProject')"> New Project </button>
        <label>[[newProjectMessage]] </label>
      </div>
    </div>
    <div class="row">
      <h3 class="col-lg-12" ng-show="showProject(enabledProjects)" > Enabled </h3>
    </div>
    <div class="row">
      <ul class="list-unstyled col-lg-offset-1" id="projects-table">
        <li ng-repeat="project in enabledProjects | orderBy:'identifier'" style="padding:3px">
          <a ng-click="loadProject(project.identifier)"  ng-class="{true:'current-project', false:''}[shouldHighlight(project)]" style="cursor:pointer;padding:5px;">
            [[project.identifier]]
          </a>
        </li>
      </ul>
    </div>
    <div class="row">
      <h3 class="col-lg-12" ng-show="showProject(disabledProjects)"> Disabled </h3>
    </div>
    <div class="row">
      <ul class="list-unstyled col-lg-offset-1">
        <li ng-repeat="project in disabledProjects | orderBy : 'identifier'" style="padding:3px">
          <a ng-click="loadProject(project.identifier)" ng-class="{true:'current-project', false:''}[shouldHighlight(project)]" style="cursor:pointer;padding:5px">
            [[project.identifier]]
          </a>
        </li>
      </ul>
    </div>
    <admin-modal>
    <admin-new-project></admin-new-project>
  </admin-modal>
</div>
<div class="col-lg-8" ng-show="projectView">
  <div class="form-horizontal">
    <h2> Settings for [[displayName]]</h2>
    <div class="col-lg-8">
      <div class="panel panel-danger" ng-show="settingsFormData.repotracker_error.exists">
        <div class="panel-heading">
          <i class="fa fa-exclamation-circle"></i>
          The current base revision ([[settingsFormData.repotracker_error.invalid_revision]]) cannot be found on branch, [[settingsFormData.branch_name]]. In order to resume tracking the repository, please confirm or enter a new base revision.
        </div>
        <div class="panel-body">
          <div class="form-group">
            <div class="col-lg-3 col-header">
              <label class="control-label"> New Merge Base Revision </label>
            </div>
            <div class="col-lg-6">
              <input class="form-control" type="text" ng-model="settingsFormData.repotracker_error.merge_base_revision">
              <label class="icon fa fa-warning project-error" ng-show="!isValidMergeBaseRevision(settingsFormData.repotracker_error.merge_base_revision)">&nbsp;Merge Base Revision must be a valid SHA GitHub Revision </label>
            </div>
            <div class="col-lg-2">
              <button class="form-control btn btn-primary" type="button" ng-disabled="!isValidMergeBaseRevision(settingsFormData.repotracker_error.merge_base_revision)"ng-click="setLastRevision()">
                <i class="fa fa-check"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-danger" ng-show="!isValidGithubOrg(settingsFormData.owner_name)">
        <div class="panel-heading">
          <i class="fa fa-exclamation-circle"></i>
          The current owner name ([[settingsFormData.owner_name]]) is no longer valid. In order to resume tracking the repository, please change to a valid organization as listed in the Admin Settings.
        </div>
      </div>
    </div>
    <div ng-show="isAdmin"><a class="link" href="/project/[[projectRef.identifier]]/events">Event Log</a></div>
    <form name="settingsForm" ng-submit="saveProject(settingsFormData)">
      <div class ="form-group">
        <div class="col-lg-8">
          <div class="radio">
            <label class="control-label">
              <input type="radio" ng-model="settingsFormData.enabled" ng-value="true"> <strong> Enabled </strong>
            </label> <br>
            <label class="muted col-lg-offset-1"> Track incoming commits to the repo and create/schedule its tasks.</label>
          </div>
          <div class="radio">
            <label class="control-label">
              <input type="radio" ng-model="settingsFormData.enabled" ng-value="false"> <strong> Disabled </strong>
            </label> <br>
            <label class="muted col-lg-offset-1">Don&#39;t track any new commits until re-enabled.</label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-2 col-header">
          <label class="control-label"> Display Name</label>
        </div>
        <div class="col-lg-4">
          <input class="form-control" type="text" ng-model="settingsFormData.display_name">
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-2 col-header">
          <label class="control-label"> Config File</label>
        </div>
        <div class="col-lg-4">
          <input class="form-control" type="text" ng-model="settingsFormData.remote_path">
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-2 col-header">
          <label class="control-label">Batch Time (min)</label>
        </div>
        <div class="col-lg-4">
          <input class="form-control" type="text" ng-model="settingsFormData.batch_time">
          <label class="icon fa fa-warning project-error" ng-show="!isBatchTimeValid(settingsFormData.batch_time)">&nbsp;Batch time must be a number, &gt;=0.</label>
        </div>
      </div>

      <div id="github-info">
        <div class="h3"> Repository Info </div>
        <div class="form-group">
          <div class="col-lg-3 col-header">
            <label class="control-label">Owner</label>
          </div>
          <div class="col-lg-5">
            <input class="form-control" type="text" ng-model="settingsFormData.owner_name" ng-change="repoChange()">
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-3 col-header">
            <label class="control-label">Repo Name</label>
          </div>
          <div class="col-lg-6">
            <input class="form-control" type="text" ng-model="settingsFormData.repo_name" ng-change="repoChange()">
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-3 col-header">
            <label class="control-label">Branch Name</label>
          </div>
          <div class="col-lg-6">
            <input  class="form-control" type="textarea" ng-model="settingsFormData.branch_name" ng-change="repoChange()">
          </div>
        </div>
      </div>

      <div id="access-info">
        <div class="h3">Access Settings</div>
          <div class ="form-group">
            <div class="col-lg-8">
              <div class="radio">
                <label class="control-label">
                  <input type="radio" ng-model="settingsFormData.private" ng-value="true"> <strong> Private </strong>
                </label> <br>
                <label class="muted col-lg-offset-1">Users must be logged in to see this project.</label>
              </div>
              <div class="radio">
                <label class="control-label">
                  <input type="radio" ng-model="settingsFormData.private" ng-value="false"> <strong> Public </strong>
                </label> <br>
                <label class="muted col-lg-offset-1">Anyone can see this project.</label>
              </div>
            </div>
          </div>
        </div>
        <div class="admins">
          <div class="form-group">
            <div class="col-header col-lg-4 form-control-static"> <h3> Admins </h3></div>
          </div>
          <div id="adminsList" class="form-group" ng-repeat="(index, admin) in settingsFormData.admins">
            <div class="col-lg-4"> <label class="control-label">[[admin]]</label> </div>
            <div class="col-lg-2">
              <button class="btn btn-default btn-danger" type="button" ng-click="removeAdmin(index)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-4">
              <input ng-model="admin_name" class="form-control" type="text" placeholder="username">
            </div>
            <div class="col-lg-2">
              <button class="plus-button btn btn-primary" ng-disabled="!(admin_name)" type="button" ng-click="addAdmin()">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
        </div>


        <div id="scheduling-info">
          <div class="h3">Scheduling Settings</div>
          <div class="form-group">
            <div class="col-lg-4 col-header">
              <label class="control-label">Unschedule old tasks on success&nbsp;&nbsp;
                <input type="checkbox" name="deactivate_previous" ng-model="settingsFormData.deactivate_previous"/>
              </label>
              <div class="muted small">When checked, tasks from previous revisions will be unscheduled when the equivalent task in a newer commit finishes successfully.</div>
            </div>
          </div>
          <div ng-show="github_webhooks_enabled">
            <div class="h3">Repotracker Settings</div>
            <div class="form-group">
                <div class="col-lg-5 col-header">
                    <div class="radio">
                        <label class="control-label">
                            <input type="radio" ng-model="settingsFormData.tracks_push_events" ng-value="false"> <strong> Trigger Repotracker via Runner</strong>
                        </label> <br>
                        <label class="muted col-lg-offset-1">Repotracker will be automatically run every few minutes</label>
                    </div>
                    <div class="radio">
                        <label class="control-label">
                            <input type="radio" ng-model="settingsFormData.tracks_push_events" ng-value="true"> <strong> Trigger Repotracker via PushEvents</strong>
                        </label> <br>
                        <label class="muted col-lg-offset-1">Repotracker will be triggered from Github PushEvents sent via webhooks</label>
                    </div>
                </div>
                <br />
                <div class="col-lg-8 col-header">
                  <label class="control-label">Force run Repotracker on Save&nbsp;&nbsp;
                    <input type="checkbox" name="force_repotracker_run" ng-model="settingsFormData.force_repotracker_run" ng-checked="repoChanged" />
                  </label>
                </div>
            </div>
          </div>
        </div>

        <div ng-include="'static/partials/subscription_list.html'">
        </div>

        <div class="variables" ng-show="isAdmin">
          <div class="form-group">
            <div class="col-header col-lg-8 form-control-static"> <h3>Patch Settings</h3> </div>
          </div>

          <div id="patching-disabled" class="form-group">
            <div class="col-lg-6">
              <input type="checkbox" id="patching-disabled-checkbox" ng-model="settingsFormData.patching_disabled" />
              <label for="patching-disabled-checkbox">Disable Patching</label>
            </div>
          </div>
        </div>

        <div class="variables">
          <div class="form-group">
            <div class="col-header col-lg-4 form-control-static"> <h3> Variables </h3></div>
          </div>
          <div id="projectVarsList" class="form-group" ng-repeat="(name, value) in settingsFormData.project_vars">
            <div class="col-lg-2"> <label class="control-label">[[name]]</label> </div>
            <div class="col-lg-4">
              <textarea class="form-control" style="font-family:monospace;" readonly>[[valueString(name, value)]]</textarea>
            </div>
            <div class="col-lg-2">
              <button class="btn btn-default btn-danger" type="button" ng-click="removeProjectVar(name)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-2">
              <input ng-model="proj_var.name" class="form-control" type="text" placeholder="variable name">
            </div>
            <div class="col-lg-4">
              <textarea ng-model="proj_var.value" class="form-control" placeholder="variable" style="font-family:monospace;"></textarea>
            </div>
            <div>
             <label class="control-label">
               <input type="checkbox" name="set_private" ng-model="proj_var.is_private" ng-disabled="!validKeyValue(proj_var.name, proj_var.value)" /> <strong>Private Variable</strong>
             </label>
            </div>
            <div class="col-lg-6">
              <button class="plus-button btn btn-primary " ng-disabled="!validKeyValue(proj_var.name, proj_var.value)" type="button" ng-click="addProjectVar()">
                <i class="fa fa-plus"></i>
              </button>
              <label class="distro-error">[[invalidKeyMessage]]</label>
            </div>
          </div>
        </div>

        <div class="variables">
          <div class="form-group">
            <div class="col-header col-lg-6 form-control-static"> <h3> GitHub Webhooks </h3>
                <div ng-show="github_webhooks_enabled">
                  GitHub webhooks are enabled.
                </div>
                <div class="project-error" ng-show="!github_webhooks_enabled">
                  <div>GitHub Pull Request testing and the commit queue are disabled because web hooks are not enabled. Web hooks are enabled after saving with a repository and branch.</div>
                </div>
            </div>
          </div>
        </div>

        <div class="variables" ng-show="github_webhooks_enabled">
          <div class="form-group">
            <div class="col-header col-lg-6 form-control-static"> <h3> GitHub Pull Request Testing</h3> </div>
          </div>

          <div id="patch-variants-list-header" class="form-group" ng-show="prTestingConflicts.length !== 0">
            <div class="col-lg-6">
                Github Pull Request Testing cannot be enabled on this repository: only one Evergreen project
                per Repository/Branch combination can track Pull Requests. To enable PR Testing in this
                repository, please turn it off
                <span ng-show="prTestingEnabled">in this repository, or</span>
                <span> in <span ng-repeat="x in prTestingConflicts"> "[[x]]"<span ng-show="!$last">, </span> </span></span>
            </div>
          </div>
          <div id="patch-variants-list-header" class="form-group" ng-show="prTestingEnabled || prTestingConflicts.length === 0">
              <div class="col-lg-6">
                  <input type="checkbox" id="prtesting-checkbox" ng-model="settingsFormData.pr_testing_enabled" />
                  <label for="prtesting-checkbox">Enable Github PR Testing</label>
              </div>
          </div>


          <!-- GITHUB PATCH DEFINITIONS -->
          <div ng-show="settingsFormData.pr_testing_enabled === true && prTestingConflicts.length === 0">
            <div class="form-group">
                <div class="col-header col-lg-6 form-control-static"> <h4> GitHub Patch Definitions </h4>
                <div class="muted small">For patches created from Github pull requests, Evergreen will find variants that match each variant regex, and schedule tasks that match the corresponding task regex. All regular expressions must be valid Golang regular expressions.</div>
                </div>
            </div>

            <div id="patch-variants-list-header" class="form-group">
                <div class="col-lg-3"> <label class="control-label"> Variant Regex </label> </div>
                <div class="col-lg-3"> <label class="control-label"> Task Regex </label> </div>
                <div class="col-lg-2"> <label class="control-label"> Task Tags </label> </div>
                <div class="col-lg-2"></div>
            </div>

            <div id="patch-variants-list" class="form-group" ng-repeat="obj in settingsFormData.github_aliases track by $index">
                <div class="col-lg-3">
                  <input class="form-control" ng-model="obj.variant" type="text" placeholder="variant regex">
                </div>
                <div class="col-lg-3">
                  <input class="form-control" ng-model="obj.task" type="text" placeholder="task regex">
                </div>
                <div class="col-lg-2">
                  <tag-input klass="form-control" items="obj.tags" placeholder="tags (comma-delimited)" />
                </div>
                <div class="col-lg-4">
                  <button class="btn btn-default btn-danger" type="button" ng-click="removeGithubAlias($index)">
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-3">
                  <input ng-model="github_alias.variant" class="form-control" type="text" placeholder="variant regex">
                </div>
                  <div class="col-lg-3">
                <input ng-model="github_alias.task" class="form-control" type="text" placeholder="task regex">
                </div>
                <div class="col-lg-2">
                  <tag-input klass="form-control" items="github_alias.tags" placeholder="tags (comma-delimited)" />
                </div>
                <div class="col-lg-4">
                  <button class="plus-button btn btn-primary" ng-disabled="!validPatchDefinition(github_alias)" type="button" ng-click="addGithubAlias()">
                    <i class="fa fa-plus"></i>
                  </button>
                <label class="distro-error">[[invalidGitHubPatchDefinitionMessage]]</label>
                </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-header col-lg-6 form-control-static"> 
              <h3>Commit Queue</h3> 
              <div class="muted small">The commit queue merges changes onto the project's branch after they've passed a set of tests.</div>
            </div>
           
          </div>

          <div id="patch-variants-list-header" class="form-group" ng-show="commitQueueConflicts.length !== 0">
            <div class="col-lg-6">
                Commit Queue cannot be enabled on this project: only one Evergreen project
                per Repository/Branch combination can enable commit queue. To enable commit queue in this
                project, please turn it off in <span ng-repeat="x in commitQueueConflicts"> "[[x]]"<span ng-show="!$last">, </span> </span>
            </div>
          </div>
          <div id="patch-variants-list-header" class="form-group" ng-show="commitQueueConflicts.length === 0">
              <div class="col-lg-6">
                  <input type="checkbox" id="cq-merging-checkbox" ng-model="settingsFormData.commit_queue.enabled" />
                  <label for="cq-merging-checkbox">Enable Commit Queue</label>
              </div>
          </div>


          <!-- COMMIT QUEUE PATCH DEFINITIONS -->
          <div ng-show="settingsFormData.commit_queue.enabled">
            <div>
              <div>
                <label for="mergeMethodSelect"> Merge Method: </label>
                <select id="mergeMethodSelect" ng-model="settingsFormData.commit_queue.merge_method" ng-options="option for option in validMergeMethods"></select>
              </div>
              <div>
                <label for="PatchTypeSelect"> Patch Type: </label>
                <select id="PatchTypeSelect" ng-model="settingsFormData.commit_queue.patch_type" ng-options="option for option in validPatchTypes"></select>
                <div class="muted small">Patch Type is PR for merging GitHub PRs or CLI for merging patches submitted through Evergreen's CLI.</div>
              </div>
            </div>
            <div class="form-group">
                <div class="col-header col-lg-6 form-control-static"> <h4> Commit Queue Patch Definitions </h4>
                  <div class="muted small">
                    Changes on the Commit Queue are tested with all variants and tasks that match each variant and task regex pair.
                  </div>
                </div>
            </div>

            <div id="patch-variants-list-header" class="form-group">
                <div class="col-lg-3"> <label class="control-label"> Variant Regex </label> </div>
                <div class="col-lg-3"> <label class="control-label"> Task Regex </label> </div>
                <div class="col-lg-2"> <label class="control-label"> Task Tags </label> </div>
                <div class="col-lg-2"></div>
            </div>

            <div id="patch-variants-list" class="form-group" ng-repeat="obj in settingsFormData.commit_queue_aliases track by $index">
                <div class="col-lg-3">
                  <input class="form-control" ng-model="obj.variant" type="text" placeholder="variant regex">
                </div>
                <div class="col-lg-3">
                  <input class="form-control" ng-model="obj.task" type="text" placeholder="task regex">
                </div>
                <div class="col-lg-2">
                  <tag-input klass="form-control" items="obj.tags" placeholder="tags (comma-delimited)" />
                </div>
                <div class="col-lg-4">
                  <button class="btn btn-default btn-danger" type="button" ng-click="removeCommitQueueAlias($index)">
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-3">
                  <input ng-model="commit_queue_alias.variant" class="form-control" type="text" placeholder="variant regex">
                </div>
                  <div class="col-lg-3">
                <input ng-model="commit_queue_alias.task" class="form-control" type="text" placeholder="task regex">
                </div>
                <div class="col-lg-2">
                  <tag-input klass="form-control" items="commit_queue_alias.tags" placeholder="tags (comma-delimited)" />
                </div>
                <div class="col-lg-4">
                  <button class="plus-button btn btn-primary" ng-disabled="!validPatchDefinition(commit_queue_alias)" type="button" ng-click="addCommitQueueAlias()">
                    <i class="fa fa-plus"></i>
                  </button>
                <label class="distro-error">[[invalidCommitQueuePatchDefinitionMessage]]</label>
                </div>
            </div>
          </div>
        </div>


        <!-- PATCH ALIASES -->
        <div class="variables">
          <div class="form-group">
            <div class="col-header col-lg-6 form-control-static">
              <h3>Patch Aliases</h3>
              <div class="muted small">Specify aliases to use with the CLI. Aliases may be specified multiple times. The result will be their union. All regular expressions must be valid Golang regular expressions. Must specify exactly one of the regex or tag field, for both tasks and variants. Use an alias with the --alias flag to the CLI patch command.</div>
            </div>
          </div>

          <div id="patch-aliases-list-header" class="form-group">
            <div class="col-lg-2"> <label class="control-label"> Alias </label> </div>
            <div class="col-lg-2"> <label class="control-label"> Variant Regex </label> </div>
            <div class="col-lg-2"> <label class="control-label"> Variant Tags </label> </div>
            <div class="col-lg-2"> <label class="control-label"> Task Regex </label> </div>
            <div class="col-lg-2"> <label class="control-label"> Task Tags </label> </div>
            <div class="col-lg-2"></div>
          </div>

          <div id="patch-aliases-list" class="form-group" ng-repeat="obj in settingsFormData.patch_aliases track by $index">
            <div class="col-lg-2">
              <input class="form-control" ng-model="obj.alias" type="text" placeholder="alias">
            </div>
            <div class="col-lg-2">
              <input class="form-control" ng-model="obj.variant" type="text" placeholder="variant regex">
            </div>
            <div class="col-lg-2">
              <tag-input klass="form-control" items="obj.variant_tags" />
            </div>
            <div class="col-lg-2">
              <input class="form-control" ng-model="obj.task" type="text" placeholder="task regex">
            </div>
            <div class="col-lg-2">
              <tag-input klass="form-control" items="obj.tags" />
            </div>
            <div class="col-lg-2">
              <button class="btn btn-default btn-danger" type="button" ng-click="removePatchAlias($index)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-2">
              <input ng-model="patch_alias.alias" class="form-control" type="text" placeholder="alias">
            </div>
            <div class="col-lg-2">
              <input ng-model="patch_alias.variant" class="form-control" type="text" placeholder="variant regex">
            </div>
            <div class="col-lg-2">
              <tag-input klass="form-control" items="patch_alias.variant_tags" placeholder="tags (comma-delimited)" />
            </div>
            <div class="col-lg-2">
              <input ng-model="patch_alias.task" class="form-control" type="text" placeholder="task regex">
            </div>
            <div class="col-lg-2">
              <tag-input klass="form-control" items="patch_alias.tags" placeholder="tags (comma-delimited)" />
            </div>
            <div class="col-lg-2">
              <button class="plus-button btn btn-primary " ng-disabled="!validPatchAlias(patch_alias)" type="button" ng-click="addPatchAlias()">
                <i class="fa fa-plus"></i>
              </button>
              <label class="distro-error">[[invalidPatchAliasMessage]]</label>
            </div>
          </div>
        </div>

        <!-- Triggers -->
        <div class="variables">
          <div class="form-group">
            <div class="col-header col-lg-6 form-control-static">
              <h3>Project Triggers</h3>
              <div class="muted small">List upstream projects where completion of specific tasks should cause tests in this project to be run.</div>
            </div>
          </div>

          <div class="form-group" ng-repeat="trigger in project_triggers track by $index">
              <a class="col-lg-12 link" ng-bind="triggerLabel(trigger)" ng-click="showTriggerModal($index)"></a>
          </div>

          <div class="form-group">
            <div class="col-lg-2">
              <button class="plus-button btn btn-primary" type="button" ng-click="showTriggerModal()">
                <i class="fa fa-plus"></i> New Trigger
              </button>
            </div>
          </div>
        </div>

        <!-- Periodic builds -->
        <div class="variables">
          <div class="form-group">
            <div class="col-header col-lg-6 form-control-static">
              <h3>Periodic Builds</h3>
              <div class="muted small">Configure tasks to run periodically within this project</div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-2"> <label class="control-label"> Interval (hours) </label> </div>
            <div class="col-lg-2"> <label class="control-label"> Config File </label> </div>
            <div class="col-lg-2"> <label class="control-label"> Patch Alias </label> </div>
            <div class="col-lg-2"> <label class="control-label"> Message </label> </div>
            <div class="col-lg-2"></div>
          </div>

          <div class="form-group" ng-repeat="definition in settingsFormData.periodic_builds track by $index">
            <div class="col-lg-2">
              <input class="form-control" ng-model="definition.interval_hours" type="number" placeholder="24">
            </div>
            <div class="col-lg-2">
              <input class="form-control" ng-model="definition.config_file" type="text" placeholder=".evergreen.yml">
            </div>
            <div class="col-lg-2">
              <input class="form-control" ng-model="definition.alias" type="text" placeholder="my_task_alias">
            </div>
            <div class="col-lg-2">
              <input class="form-control" ng-model="definition.message" type="text" placeholder="A periodic build">
            </div>
            <div class="col-lg-2">
              <button class="btn btn-default btn-danger" type="button" ng-click="removePeriodicBuild($index)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-2">
              <input ng-model="periodic_build.interval_hours" class="form-control" type="number" placeholder="24">
            </div>
            <div class="col-lg-2">
              <input ng-model="periodic_build.config_file" class="form-control" type="text" placeholder=".evergreen.yml">
            </div>
            <div class="col-lg-2">
              <input ng-model="periodic_build.alias" class="form-control" type="text" placeholder="my_task_alias">
            </div>
            <div class="col-lg-2">
              <input class="form-control" ng-model="periodic_build.message" type="text" placeholder="A periodic build">
            </div>
            <div class="col-lg-4">
              <button class="plus-button btn btn-primary " ng-disabled="periodicBuildErrors(periodic_build)" type="button" ng-click="addPeriodicBuild()">
                <i class="fa fa-plus"></i>
              </button>
            </div>
            <label class="distro-error">[[invalidPeriodicBuildMsg]]</label>
          </div>
        </div>

        <div id="caching-info">
            <div class="h3">Historical Data Caching Info </div>
            <div class="form-group">
              <div class="col-lg-4 col-header">
                  <input type="checkbox" id="disable-stats-cache" ng-model="settingsFormData.disabled_stats_cache"/>
                  <label for="disable-stats-cache">Disable caching</label>
              </div>
            </div>
            <div class="muted small">Comma-separated list of regular expression patterns that specify test filenames to ignore when caching test and task history.</div>
            <div class="form-group">
                <div class="col-lg-5 col-header">
                    <label class="control-label">File patterns to ignore</label>
                </div>
            </div>
            <div class="form-group" ng-repeat="(index, pattern) in settingsFormData.files_ignored_from_cache">
                <div class="col-lg-4">
                    <label class="control-label">[[pattern]]</label>
                </div>
                <div class="col-lg-2">
                    <button class="btn btn-default btn-danger" type="button" ng-click="removeCacheIgnoreFile(index)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4">
                    <input class="form-control" type="text" ng-model="cache_ignore_file_pattern" placeholder="file pattern">
                </div>
                <div class="col-lg-2">
                    <button class="plus-button btn btn-primary" ng-disabled="!(cache_ignore_file_pattern)" type="button" ng-click="addCacheIgnoreFile()">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>

        <br/>

        <div class="row">
          <div class="col-lg-6">
            <label ng-show="saveMessage">[[saveMessage]]</label>
            <label ng-hide="saveMessage">&nbsp;</label>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2">&nbsp;</div>
          <div class="col-lg-4">
            <input class="btn btn-primary" input ng-disabled="!isDirty || !isBatchTimeValid(settingsFormData.batch_time)" type="submit" value="Save Changes">
          </div>
        </div>
    </form>
  </div>
</div>
{{end}}
