{{define "scripts"}}
  <script type="text/javascript">
    window.events = {{ .Data }};
   	window.userTz = {{GetTimezone $.User}};
   	window.distro = {{.DistroId}};
  </script>
  <script type="text/javascript" src="{{Static "js" "scheduler_events.js"}}?hash={{ StaticsMD5 }}"></script>
{{end}}

{{define "title"}}
Evergreen - Scheduler Task Queue Logs
{{end}}

{{define "content"}}
<div class="container" ng-controller="SchedulerEventCtrl">
	<div class="row" ng-show="fullEvents.length > 0">
		<h2> Scheduler Logs for [[distro]] </h2>
	</div>
	<div ng-show="fullEvents.length == 0">
		<h1> No scheduler logs for [[distro]]</h1>
	</div>
	<div class="eventlog row" ng-repeat="event in fullEvents" ng-show="event.data.task_queue_info.task_queue_length > 0">
		<div class="timestamp col-lg-2 col-md-3 col-sm-4" style="min-width: 250px;">[[event.timestamp | convertDateToUserTimezone:userTz:'MMM D, YYYY h:mm:ss a']]</div>
		<div class="event_details col-lg-9 col-md-8 col-sm-7">
			<span class="log-elt"> Hosts Running:  [[event.data.task_queue_info.num_hosts_running]]</span>
			<span class="log-elt"> Tasks in Queue:  [[event.data.task_queue_info.task_queue_length]]</span>
			<span class="log-elt"> Expected Duration:  [[event.data.task_queue_info.expected_duration | stringifyNanoseconds]]

		</div>
	</div>
</div>
{{end}}