{{define "scripts"}}
<script type="text/javascript">
  window.JiraHost = {{.JiraHost}}
</script>

<script type="text/javascript" src="/static/app/signal-processing/SignalProcessingCtrl.js?hash={{ BuildRevision }}"></script>
<script type="text/javascript" src="/static/app/common/MDBQueryAdaptor.js?hash={{ BuildRevision }}"></script>

<link rel="stylesheet" href="/static/app/common/styles/ui-grid.css">
{{end}}

{{define "title"}}
Signal Processing
{{end}}

{{define "content"}}
<style>
.signal-processing .toolbar {
  padding: 10px;
}

.signal-processing .legend {
  margin-right: 5px;
  font-weight: bold;
}
</style>

<div ng-controller="SignalProcessingCtrl as spvm" class="content-container signal-processing">
  <div class="toolbar">
    <span class="legend">Mode:</span>
    <label class="radio-inline" ng-repeat="item in spvm.mode.options">
      <input type="radio" ng-model="spvm.mode.value" value="[[item.id]]" ng-change="spvm.modeChanged()" name="mode" />
      [[item.name]]
    </label>
  </div>

  <div
    class="grid"
    ui-grid="spvm.gridOptions"
    ui-grid-auto-resize
    ui-grid-resize-columns
    ui-grid-move-columns
    ui-grid-auto-resize
    ui-grid-empty-base-layer
  >
    <div class="ui-grid-overlay ng-cloak">
      <md-progress-circular
        mode="indeterminate"
        md-diameter="70"
        ng-show="spvm.isLoading"
      >
      </md-progress-circular>
      <h1 ng-show="!spvm.isLoading && !spvm.gridOptions.data.length">
        No data available!
      </h1>
    </div>
  </div>
</div>
{{end}}
