{{define "scripts"}}
{{if .User}}
  <script type="text/javascript" src="/static/thirdparty/SHA-1.js"></script>
  <script type="text/javascript" src="{{Static "js" "spawned_hosts.js"}}?hash={{ BuildRevision }}"></script>
{{end}}
<script type="text/javascript">
  window.userTz = {{ GetTimezone $.User }};
  window.defaultRegion = {{ GetRegion $.User }};
  window.maxHostsPerUser = {{$.MaxHostsPerUser}};
  window.maxUnexpirableHostsPerUser = {{$.MaxUnexpirableHostsPerUser}};
  window.maxVolumeSizePerUser = {{$.MaxVolumeSizePerUser}};
  {{if .Task}}
  window.spawnTask = {{.Task}}
  {{end}}
  {{if .Distro}}
  window.spawnDistro = {{.Distro}}
  {{end}}
</script>
{{end}}

{{define "title"}}
Evergreen - My Hosts
{{end}}

{{define "content"}}
<div id="content" class="container-fluid" ng-controller="SpawnedHostsCtrl">
  <notify-box ng-init="destination='errorHeader'"></notify-box>
  {{template "flash" . }}
  <div class="col-lg-6">
    <div class="panel-heading">
      <h2>
        <i class="fa fa-list-alt" style="margin-right:10px"></i>
        <span class="dropdown">
          <button class="btn btn-dropdown" data-toggle="dropdown" href="#" id="resourceLabel">
            <strong>
              [[currentResourceType]]&nbsp;
              <span class="fa fa-caret-down"></span>
            </strong>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="resourceLabel">
            <li role="presentation" class="dropdown-header">Resource</li>
            <li role="presentation" class="pointer" ng-repeat="t in resourceTypes">
              <a role="menuitem" style="text-transform: capitalize" ng-click="setResourceType(t)">
                [[t]]
              </a>
            </li>
          </ul>
        </span>
      </h2>
    </div>
    <div class="panel hosts-info" ng-show="currentResourceType == 'hosts'">
      <div class="panel-body" ng-show="!!hosts && hosts.length == 0">
        <h2>No hosts for user</h2>
      </div>
      <div class="panel-body host-info-elements" ng-show="!!hosts && hosts.length > 0">
        <table class="table">
          <div class="dropdown" style="float: left">
            <button class="btn btn-link btn-dropdown" data-toggle="dropdown" href="#" id="hostSortLabel">
              <span class="semi-muted">
                Sort By:
              </span>
              <strong>
                [[hostSortBy.name]]&nbsp;&nbsp;
                <span class="fa fa-caret-down"></span>
              </strong>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="hostSortLabel">
              <li role="presentation" class="dropdown-header">Sort Options</li>
              <li role="presentation" ng-repeat="order in hostSortOrders">
                <a role="menuitem" ng-click="setHostSortBy(order)">
                  [[order.name]]
                </a>
              </li>
            </ul>
          </div>
          <div style="float: right;">
            <span class="label success" style="margin-right: 5px">
              [[(hosts | filter:{'status' : 'running'}).length]] Running
            </span>
            <span class="label block-status-started" style="margin-right: 5px">
              [[(hosts | filter:{'status' : 'stopped'}).length]] Stopped
            </span>
            <span class="label failed">
              [[(hosts | filter:{'status' : 'terminated'}).length]] Terminated
            </span>
          </div>
          <div style="clear: both"></div>
          <thead>
            <tr>
              <th class="col-lg-2 no-word-wrap">Host</th>
              <th class="col-lg-2 no-word-wrap">Distro</th>
              <th class="col-lg-2 no-word-wrap">Status</th>
              <th class="col-lg-2 no-word-wrap">Expires In</th>
              <th class="col-lg-2 no-word-wrap">Uptime</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="host in hosts | orderBy:hostSortBy.by" ng-click="setSelectedHost(host)" ng-class="host.selected">
              <td class="col-lg-2 no-word-wrap">
                <div class="host-name-input-group">
                  <input type="text" class="host-name-input" ng-model="host.display_name">
                  <span ng-show="host.originalDisplayName != host.display_name" >
                    <i class="fa fa-check pointer" ng-click="setHostDisplayName(host)"></i>
                    <i class="fa fa-times pointer" ng-click="resetHostDisplayName(host)"></i>
                  </span>
                </div>
              </td>
              <td class="col-lg-2 no-word-wrap">
                [[host.distro._id]]
              </td>
              <td class="col-sm-2">
                <span class= "no-word-wrap" ng-class="getSpawnStatusLabel(host)" style="margin-right: 5px">[[host.status]]</span>
              </td>
              <td class="col-lg-2 no-word-wrap">
                [[host.expires_in]]
              </td>
              <td class="col-lg-2 no-word-wrap">
                [[host.uptime]]
              </td>
              <td class="col-sm-2 no-word-wrap">
                <i class="fa fa-trash pointer" ng-show="host.status!='terminated'" style="float: right" ng-click="openSpawnModal('terminateHost')"></i>
                <i class="fa fa-play pointer" ng-show="host.status=='stopped'" style="float: right" ng-click="openSpawnModal('startHost')"></i>
                <i class="fa fa-pause pointer" ng-show="host.status=='running'" style="float: right" ng-click="openSpawnModal('stopHost')"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <md-button type="button" class="btn-info md-raised" ng-click="openSpawnModal('spawnHost')" ng-disabled="!availableHosts()" ng-cloak>
        Spawn Host
      </md-button>
      <em ng-class="{'text-muted': availableHosts(), 'text-error': !availableHosts()}" style="margin-left: 5px;" ng-cloak>
        Limit [[maxHostsPerUser]] [[maxHostsPerUser | pluralize:'Host']]
      </em>
    </div>
    <div class="panel hosts-info" ng-show="currentResourceType == 'volumes'">
      <div class="panel-body" ng-show="!!volumes && volumes.length == 0">
        <h2>No volumes for user</h2>
      </div>
      <div class="panel-body host-info-elements" ng-show="!!volumes && volumes.length > 0">
        <table class="table">
          <div class="dropdown" style="float: left">
            <button class="btn btn-link btn-dropdown" data-toggle="dropdown" href="#" id="volSortLabel">
              <span class="semi-muted">
                Sort By:
              </span>
              <strong>
                [[volumeSortBy.name]]&nbsp;&nbsp;
                <span class="fa fa-caret-down"></span>
              </strong>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="volSortLabel">
              <li role="presentation" class="dropdown-header">Sort Options</li>
              <li role="presentation" ng-repeat="order in volumeSortOrders">
                <a role="menuitem" ng-click="setVolumeSortBy(order)">
                  [[order.name]]
                </a>
              </li>
            </ul>
          </div>
          <div style="float: right;">
            <span class="label block-status-inactive" style="margin-right: 5px">
              [[(volumes | filter:{status:"free"}).length]] Free
            </span>
            <span class="label success" style="margin-right: 5px">
              [[(volumes | filter:{status:"mounted"}).length]] Mounted
            </span>
          </div>
          <div style="clear: both"></div>
          <thead>
            <tr>
              <th class="col-lg-2 no-word-wrap">Volume</th>
              <th class="col-lg-2 no-word-wrap">Status</th>
              <th class="col-lg-2 no-word-wrap">Expires In</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="volume in volumes | orderBy:volumeSortBy.by" ng-click="setSelectedVolume(volume)" class="pointer" ng-class="volume.selected">
              <td class="col-lg-2 no-word-wrap">
                <div class="host-name-input-group">
                  <input type="text" class="host-name-input" ng-model="volume.display_name">
                  <span style="float: right" ng-show="volume.originalDisplayName != volume.display_name" >
                    <i class="fa fa-check pointer" ng-click="setVolumeDisplayName(volume)"></i>
                    <i class="fa fa-times pointer" ng-click="resetVolumeDisplayName(volume)"></i>
                  </span>
                </div>
              </td>
              <td class="col-sm-2">
                <span class= "no-word-wrap" ng-class="getVolumeStatusLabel(volume)" style="margin-right: 5px">[[volume.status]]</span>
              </td>
              <td class="col-lg-2 no-word-wrap">
                [[volume.expires_in]]
              </td>
              <td class="col-sm-2 no-word-wrap">
                <i class="fa fa-trash pointer" ng-show="!volume.host_id" style="float: right" ng-click="openVolumeModal('deleteVolume')"></i>
                <i class="fa fa-plug pointer" ng-show="!volume.host_id && hosts.length > 0" style="float: right" ng-click="openVolumeModal('attachVolume')"></i>
                <i class="fa fa-cut pointer" ng-show="volume.host_id && !isHomeVolume(volume)" style="float: right" ng-click="openVolumeModal('detachVolume')"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <md-button type="button" class="btn-info md-raised" ng-click="openVolumeModal('createVolume')" ng-disabled="!availableVolumes()" ng-cloak>
        Spawn Volume
      </md-button>
      <em ng-class="{'text-muted': availableVolumes(), 'text-error': !availableVolumes()}" style="margin-left: 5px;" ng-cloak>
        Limit [[maxVolumeSizePerUser]] GiB per User
      </em>
    </div>
  </div>
  <div>
    <user-host-details class="col-lg-6" ng-show="currentResourceType == 'hosts' && curHostData"></user-host-details>
    <user-volume-details class="col-lg-6" ng-show="currentResourceType == 'volumes' && curVolumeData"></user-volume-details>
    <user-spawn-modal>
      <user-host-options ng-show="modalOption=='spawnHost'"></user-host-options>
      <user-host-terminate ng-show="modalOption=='terminateHost'"></user-host-terminate>
      <user-host-stop ng-show="modalOption=='stopHost'"></user-host-stop>
      <user-host-start ng-show="modalOption=='startHost'"></user-host-start>
      <user-host-update ng-show="modalOption=='updateRDPPassword'"></user-host-update>
      <user-volume-options ng-show="modalOption=='createVolume'"></user-volume-options>
      <user-volume-delete ng-show="modalOption=='deleteVolume'"></user-volume-delete>
      <user-volume-attach ng-show="modalOption=='attachVolume'"></user-volume-attach>
      <user-volume-detach ng-show="modalOption=='detachVolume'"></user-volume-detach>
    </user-spawn-modal>
  </div>
</div>
{{end}}
