{{define "scripts"}}
  <script type="text/javascript">
    window.data = {{ .Data }}
    window.hostStats = window.data.host_stats
    window.taskQueues = window.data.task_queues
  </script>
  <script type="text/javascript" src="{{Static "js" "task_queues.js"}}?hash={{ StaticsMD5 }}"></script>
{{end}}

{{define "title"}}
Evergreen - Task queues
{{end}}

{{define "content"}}
<div class="container">
  <div class="row" ng-controller="TaskQueuesCtrl">
    <div id="nav-container" class="col-lg-2">
      <div class="panel">
        <div class="panel-heading">
          <h2>Distro</h2>
        </div>
        <div id="distros-list-container">
          <ul id="distros-list">
            <li ng-repeat="distro in distros" ng-click="setActiveDistro(distro)"
            ng-class="{'active-distro': distro == activeDistro}">
            <span class="badge">[[queues[distro].length]]</span> [[distro]]
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-8 col-lg-offset-1">
      <div id="queues" class="panel">
        <div class="panel-heading">
          <h2>Task Queues</h2>
        </div>
        <div class="panel-body">
        <div id="[[distro]]" ng-repeat="distro in distros">
            <h4>
              <span class="badge">[[queues[distro].length]]</span>
              [[distro]] 
              <span class="small muted pull-right" ng-show="sumEstimatedDuration(distro) > 0"> 
                <strong>Total Runtime</strong> [[sumEstimatedDuration(distro) | stringifyNanoseconds: true]]
              </span>
            </h4>
            <table class="table table-striped task-queue-table">
              <tr ng-repeat="queueItem in queues[distro]">
                <td class="index-col">[[$index+1]]</td>
                <td>                 
                  <div> <a href="/task/[[queueItem._id]]"> [[queueItem.display_name]] </a> </div>

                  <div class="small">
                    [[queueItem.project]]
                  </div>
                  <div class="muted" style="font-size: 10px">[[queueItem.build_variant]]</div>
                </td>
                <td class="task-queue-elt">
                  <strong> Estimated Runtime </strong> <div>[[queueItem.exp_dur | stringifyNanoseconds]]</div>
                </td>
                <td class="task-queue-elt">
                  <span ng-show="queueItem.priority > 0"> 
                    <strong> Priority </strong> <div> [[queueItem.priority]] </div>
                  </span>
                </td>
                <td class="task-queue-elt">
                  <span ng-show="isPatch(queueItem)"> 
                    <strong> Patch Author </strong> 
                    <div> [[queueItem.user]]</div> 
                  </span>
                  <span ng-show="!isPatch(queueItem)">
                    <strong> Revision </strong>
                    <div class="mono"> [[queueItem.gitspec.substring(0,8)]] </div>
                  </span>
                </td>
                <td>
                  <span class="label pull-right" ng-class="isPatch(queueItem)? 'label-primary' : 'label-success'"> [[isPatch(queueItem) ? "Patch" : "Commit"]] </span>
                 </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
{{end}}
