{{define "scripts"}}
<style type="text/css">
body{ background: #f5f6f7; }
</style>
<script type="text/javascript">
window.plugins = {{.PluginContent.Data}};
window.jiraHost = {{.JiraHost}};
window.hasBanner = {{ne .Banner ""}};
window.user = {{.User}};
window.evgBaseUrl = {{.EvgBaseUrl}}
</script>
<script type="text/javascript" src="{{Static "js" "subscriptions.js"}}?hash={{ BuildRevision }}"></script>
<script type="text/javascript" src="{{Static "js" "task.js"}}?hash={{ BuildRevision }}"></script>
<script type="text/javascript" src="/static/app/perf-bb/constants.js?hash={{ BuildRevision }}"></script>
<script type="text/javascript" src="/static/app/common/AllowlistDataService.js?hash={{ BuildRevision }}"></script>

{{if .User}}
<script type="text/javascript" src="{{Static "js" "task_admin.js"}}?hash={{ BuildRevision }}"></script>
{{end}}
<script type="text/javascript">
var userTz = {{GetTimezone $.User}}
var jiraHost = {{.JiraHost}}
{{if .User}}
var have_user = true
var taskHost = {{.Host}}
{{end}}
var task_data = {{.Task}}
var permissions = {{.Permissions}};
</script>
{{range .PluginContent.Includes}}
{{.}}
{{end}}
{{end}}

{{define "title"}}
{{ if .Task.PatchInfo }}
Evergreen - Patch {{.Task.PatchInfo.Patch.PatchNumber}} by {{.Task.PatchInfo.Patch.Author}} / {{.Task.BuildVariantDisplay}} / {{.Task.DisplayName}}
{{else}}
Evergreen - {{Trunc .Task.Revision 10}} / {{.Task.BuildVariantDisplay}} / {{.Task.DisplayName}}
{{end}}
{{end}}

{{define "plugin-links"}}
{{end}}

{{define "content"}}

{{ if (and (not .ProjectData.Patch) (not (eq .ProjectData.Task.Requester "ad_hoc"))) }}
<div id="page">
  <div ng-controller="TaskHistoryDrawerCtrl" id="drawer">
    <div id="drawer-contents">
      <div id="drawer-filled">
        <table style="width:100%">
          <tr>
            <td>
              <div ng-repeat="revisionsForDate in groupedRevisions">
                <div class="drawer-section-header">
                  <span class="history-date-header-words">[[revisionsForDate.date | date:'MMM d']]</span>
                  <span class="history-date-header-numbers history-date-header-slash">&nbsp;</span>
                  <span class="history-date-header-numbers">[[revisionsForDate.date | date:'M/d/yyyy']]</span>
                </div>

                <div ng-repeat="revision in revisionsForDate.revisions"
                class="drawer-item"
                ng-class="{ 'drawer-item-highlighted': isCurrent(revision) }">
                <revision-blurb linktype="'task'" linkid="revision.task.id" revision="revision" task="task"><revision-blurb>
                </div>
              </div>
            </td>
            <td id="drag-bar" style="width:4px; cursor: ew-resize; background-color:#e0e0e0">
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div id="page-content" class="container-fluid">
    {{ else }}
    <div id="content" class="container-fluid">
      {{ end }}
      <notify-box ng-init="destination='notifyHeader';"></notify-box>
      {{template "flash" . }}
      <div ng-controller="TaskCtrl">
        <ol class="breadcrumb">
          <li>
            <span class="gitspec" ng-show="!task.patch_info">
              <a ng-href="/version/[[task.version_id]]">
                [[ task.gitspec ? task.gitspec.substr(0, 10) : task.version_id.substr(0, 10)]]
              </a>
            </span>
            <span ng-show="task.patch_info">
              <a ng-href="/version/[[task.patch_info.Patch.Version]]">
                Patch [[task.patch_info.Patch.PatchNumber]]
                by [[task.patch_info.Patch.Author]]
              </a>
            </span>
          </li>
          <li>
            <a ng-href="/build/[[task.build_id]]">
              [[task.build_variant_display]]
            </a>
          </li>
          <li>
            [[task.display_name]]
          </li>
        </ol>
        <div class="row">
          <div class="col-lg-7">
            <header class="clearfix">
              <h1 class="one-liner" id="task-title">
                <span class="label status-label" ng-class="task | statusFilter">[[task | statusLabel]]</span>
                [[task.display_name]] <span class="text-muted">on</span> [[task.build_variant_display]]
              </h1>

              {{if .User}}
              <div ng-show="!task.archived" class="pull-right page-actions">
                <div ng-controller="AdminOptionsCtrl" ng-init="setTask(task)">
                  <div id="admin-dropdown" class="dropdown pull-right" ng-show="!task.in_display">
                    <a id="admin-options" class="btn btn-default" data-toggle="dropdown">
                      <i class="fa fa-gear"></i>
                      <i class="fa fa-caret-down"></i>
                    </a>

                    <ul class="dropdown-menu" role="menu">
                      <li ng-class="{'admin-disabled': !canSchedule}">
                        <a tabindex="-1" href="#" ng-click="!canSchedule || openAdminModal('schedule')">Schedule Task</a>
                      </li>
                      <li ng-class="{'admin-disabled': !canUnschedule}">
                        <a tabindex="-1" href="#" ng-click="!canUnschedule || openAdminModal('unschedule')">Unschedule Task</a>
                      </li>
                      <li ng-class="{'admin-disabled': !canAbort}">
                        <a tabindex="-1" href="#" ng-click="!canAbort || openAdminModal('abort')">Abort Task</a>
                      </li>
                      <li ng-class="{'admin-disabled': !canRestart}">
                        <a tabindex="-1" href="#" ng-click="!canRestart || openAdminModal('restart')">Restart Task</a>
                      </li>
                      <li ng-class="{'admin-disabled': !canSetPriority}">
                        <a tabindex="-1" href="#" ng-click="!canSetPriority || openAdminModal('setPriority')">Set Priority</a>
                      </li>
                      <li>
                        <a tabindex="-1" href="#" ng-click="addSubscription()">Add Notification</a>
                      </li>
                      <li ng-show="!task.override_dependencies && task.depends_on && task.depends_on.length > 0 && canOverrideDependencies">
                        <a tabindex="-1" href="#" ng-click="overrideDependencies()">Override Dependencies</a>
                      </li>
                    </ul>
                  </div>
                  <admin-modal>
                    <admin-schedule-task ng-show="adminOption=='schedule'"></admin-schedule-task>
                    <admin-unschedule-task ng-show="adminOption=='unschedule'"></admin-unschedule-task>
                    <admin-restart-task ng-show="adminOption=='restart'"></admin-restart-task>
                    <admin-abort-task ng-show="adminOption=='abort'"></admin-abort-task>
                    <admin-set-priority ng-show="adminOption=='setPriority'"></admin-set-priority>
                  </admin-modal>
                </div>
              </div>
              {{end}}
            </header>
            <div class="row">
              <div class="col-lg-12">
                <div class="mci-pod">
                  {{if .ProjectData.Patch}}
                  <patch-commit-panel patchinfo="task.patch_info" basecommit="task" timezone="{{GetTimezone .User}}" baselink="/task" base="{{.Task.PatchInfo.BaseTaskId}}"></patch-commit-panel>
                  {{else}}
                  <github-commit-panel commit="task" timezone="{{GetTimezone .User}}"></github-commit-panel>
                  {{end}}

                  <table id="task-info-elements">
                    <tr ng-show="task.min_queue_pos != 0">
                      <td class="icon"><i class="fa fa-sort-numeric-asc"></i></td>
                      <td>
                        Estimated Time to Start: [[task.wait_time | stringifyNanoseconds]] (<a href="/task_queue/[[task.distro]]/[[task.id]]">[[task.min_queue_pos | ordinalNum]]</a>
                        in queue)
                      </td>
                    </tr>
                    <tr>
                      <td ng-hide="task.expected_duration === 0 && task.status === 'undispatched'"><i class="fa fa-clock-o"></i></td>
                      <td>
                        <span ng-hide="task.status == 'undispatched'">
                          <span ng-show="timeTaken>0"> [[timeTaken | stringifyNanoseconds]] </span>
                          <span ng-show="timeTaken<0"> [[0 | stringifyNanoseconds]] </span>
                          <span ng-show="task.display_only && task.finish_time > 0">(cumulative)</span>
                          <span ng-show="timeTaken==0"> Not Started </span>
                        </span>
                        <span ng-show="(task.status == 'started' || task.status == 'dispatched') && !task.display_only"> (ETA: [[timeToCompletion | stringifyNanoseconds]])</span>
                        <span ng-show="task.status == 'undispatched' && task.expected_duration > 0"> Estimated Runtime: [[timeToCompletion | stringifyNanoseconds]]</span>
                      </td>
                    </tr>
                    <tr ng-show="task.display_only && task.finish_time > 0">
                      <td>
                        <i class="fa fa-clock-o"></i>
                      </td>
                      <td>
                        <span> [[task.finish_time - task.start_time | stringifyNanoseconds]] (wall clock) </span>
                      </td>
                    </tr>
                    <tr ng-show="baseTimeTaken">
                      <td class="icon"><i class="fa fa-hourglass"></i></td>
                      <td>[[baseTimeTaken | stringifyNanoseconds]] on base commit</td>
                    </tr>
                    <tr ng-show="task.execution > 0 || task.archived">
                      <td class="icon"><i class="fa fa-rotate-left"></i></td>
                      <td>
                        <span ng-show="!task.archived">Latest of [[task.execution+1]] executions</span>
                        <span ng-show="task.archived" class="highlight-bg">[[task.execution + 1 | ordinalNum]] execution</span>
                        <span class="dropdown">
                          <button class="btn btn-default btn-dropdown btn-xs" data-toggle="dropdown" href="#" id="dLabel">
                            Executions: <span class="fa fa-caret-down"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li ng-repeat="i in otherExecutions">
                              <a href="/task/[[task.id]]/[[i]]">[[i+1|ordinalNum]] execution </a>
                            </li>
                          </ul>
                        </span>
                        <span ng-show="task.archived">
                          <a href="/task/[[task.id]]">Jump to latest</a>
                        </span>
                      </td>
                    </tr>

                    <tr ng-show="task.generated_by_id">
                      <td class="icon"><i class="fa fa-clone"></i></td>
                      <td>
                        <span>Generated by </span>
                        <a href="/task/[[task.generated_by_id]]/[[i]]">[[task.generated_by_name]]</a>
                      </td>
                    </tr>
                    <tr ng-show="task.host_id">
                      <td class="icon"><i class="fa fa-desktop"></i></td>
                      <td>
                        <span>
                          <a href="/host/[[task.host_id]]" class="host-info-item">[[task.host_id]]</a>
                          <span ng-show="haveUser" class="label label-primary host-info-item"><a ng-href="/distros##[[task.distro]]">[[task.distro]]</a></span>
                          <span ng-hide="haveUser" class="label label-primary host-info-item">[[task.distro]]</span>
                          <a ng-show="haveUser && getSpawnLink().length > 0" href="[[getSpawnLink()]]" class="small">Spawn...</a>
                        </span>
                      </td>
                    </tr>
                    <tr ng-show="task.abort">
                      <td class="icon"><i class="fa fa-level-down"></i></td>
                      <td>
                        Aborted
                        <span ng-show="task.abort_info.user">by [[task.abort_info.user]]</span>
                        <span ng-show="task.abort_info.task_id">because of failing task <a ng-href="[[task.abort_info.task_id]]">[[task.aborted_by_display.build_variant_display]]:[[task.aborted_by_display.task_display_name]]</a></span>
                        <span ng-show="task.abort_info.new_version">because of new version <a ng-href="/version/[[task.abort_info.new_version]]">[[task.abort_info.new_version]]</a></span>
                        <span ng-show="task.abort_info.pr_closed">because the GitHub PR was closed</span>
                      </td>
                    </tr>
                    <tr ng-show="task.start_time > 0 && (task.status != 'undispatched' && task.status != 'dispatched') ">
                      <td class="icon"><i class="fa fa-calendar"></i></td>
                      <td>Started on [[task.start_time | dateFromNanoseconds | convertDateToUserTimezone:userTz:"MMM D, YYYY h:mm:ss a"]]</td>
                    </tr>
                    <tr ng-show="task.finish_time > 0 && (task.status == 'success' || task.status == 'failed') ">
                      <td class="icon"><i class="fa fa-calendar"></i></td>
                      <td>Finished on [[task.finish_time | dateFromNanoseconds | convertDateToUserTimezone:userTz:"MMM D, YYYY h:mm:ss a"]]</td>
                    </tr>
                    <tr ng-show="task.task_end_details.status == 'failed'">
                      <td class="icon"><i class="fa fa-code"></i></td>
                      <td>Failing Command: [[task.task_end_details.desc]]</td>
                    </tr>
                    <tr ng-show="task.task_end_details.timeout_type">
                      <td class="icon"><i class="fa fa-hourglass"></i></td>
                      <td> 
                        <div>
                          <span>Reached </span>
                          <span>
                            <md-tooltip class="tooltip" md-direction="bottom">[[timeoutTooltip(task.task_end_details.timeout_type)]]</md-tooltip>
                            <span class="tooltipUnderline">[[timeoutLabel(task.task_end_details.timeout_type)]]</span>
                          </span>
                          <span> timeout ([[task.task_end_details.timeout_duration | stringifyNanoseconds]])</span>
                        </div>
                      </td>
                    </tr>
                    <tr ng-show="task.priority > 0">
                      <td class="icon"><i class="fa fa-rocket"></i></td>
                      <td>Priority: [[task.priority]]</td>
                    </tr>
                    <tr ng-show="task.priority < 0">
                      <td class="icon"><i class="fa fa-ban"></i></td>
                      <td>Disabled (priority is less than 0)</td>
                    </tr>
                    <tr ng-show="task.upstream_data">
                      <td class="icon"><i class="fa fa-arrow-left"></i></td>
                      <td><a href="/[[task.upstream_data.trigger_type]]/[[task.upstream_data.trigger_id]]">Triggered from [[task.upstream_data.project_name]]</a></td>
                    </tr>
                    <tr ng-show="task.display_task">
                      <td class="icon"><i class="fa fa-link"></i></td>
                      <td><a href="/task/[[task.display_task]]">Parent display task</a></td>
                    </tr>
                    <tr ng-if="task.display_only">
                      <td></td>
                      <td><a ng-href="[[getTestHistoryUrl(project, task)]]">View All Tasks History</a></td>
                    </tr>
                    <tr ng-show="task.display_only">
                      <td colspan="2">
                        <div class="execTaskTable">
                          <table id="execTaskTable" class="table table-condensed" ng-show="task.display_only">
                            <tr> <div ng-show="task.display_only"> This task contains [[task.execution_tasks.length]] execution tasks: </div> </tr>
                            <thead>
                              <tr>
                                <td>Name</td>
                                <td>Status</td>
                                <td>Time Taken</td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="et in task.execution_tasks">
                                <td>
                                  <a ng-href="[[execTaskUrl(et.id, task.execution)]]">[[et.display_name]]</a>
                                </td>
                                <td>
                                  [[et.status]]
                                </td>
                                <td>
                                  [[et.time_taken | stringifyNanoseconds]]
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                    <tr ng-show="task.task_end_details.oom_killer.detected">
                      <td class="icon"><i class="fa fa-exclamation"></i></td>
                      <td>Out of Memory Kill detected (PIDs: [[ task.task_end_details.oom_killer.pids.join(", ") ]])</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

            <div class="row" ng-show="!!task.depends_on && task.depends_on.length > 0">
              <div class="col-lg-12">
                <h3 class="section-heading"><i class="fa fa-exchange"></i> Depends On</h3>
                <span ng-show="task.status=='blocked'" style="color:red"> This task will not run because its dependencies are in an undesirable state.</span>
                <div class="mci-pod">
                  <table class="table table-condensed dep-table">
                    <tbody>
                      <tr ng-repeat="dependency in task.depends_on | filter :{recursive:false} | orderBy:dependency.build_variant:dependency.display_name">
                        <td class="dep-status">
                          <i ng-show="isMet(dependency) == 'met'" class="fa fa-check"></i>
                          <i ng-show="isMet(dependency) == 'unmet'" class="fa fa-ban"></i>
                        </td>
                        <td>
                          <a ng-href="/task/[[dependency.id]]">[[dependency.display_name]]</a>
                          <span ng-href="/task/[[dependency.id]]" ng-show="dependency.build_variant != task.build_variant">
                            in <span class="cross-variant">[[dependency.build_variant]]</span>
                          </span>
                        </td>
                        <td>
                          <span class="label label-primary" ng-show="dependency.required == 'failed'"> must fail </span>
                          <span class="label label-primary" ng-show="dependency.required == '*'"> must finish </span>
                        </td>
                        <td class="dep-task-status">
                          <span class="label [[dependency | statusFilter]]">[[dependency | statusLabel]]</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div ng-show="task.override_dependencies" style="margin-top:10px;">
                    Dependencies for this task have been overridden. It will not wait for its dependencies to finish before running.
                  </div>
                </div>
              </div>
            </div>

            <patch-diff-panel type="Test" diffs="task.patch_info.StatusDiffs" ng-show="task.patch_info" baselink=""></patch-diff-panel>

            <div class="row" ng-show="task.can_sync">
              <div class="col-lg-12">
                <h3 class="section-heading"><i class="fa fa-arrow-circle-o-down"></i> Pull Task Sync Command</h3>
                  <pre readOnly>evergreen pull --task [[task.id]]</pre>
              </div>
            </div>


            {{range .PluginContent.Panels.Left}}
            {{.}}
            {{end}}
          </div>
          <div class="col-lg-5">
            <div class="row">
              <div class="col-lg-3">
                <h3 class="section-heading"><i class="fa fa-flask"></i> Tests</h3>
              </div>
              <div class="col-lg-3">
                <div ng-hide="!task.test_results || task.test_results.length === 0"
                class="pull-right" style="margin-top:15px">
                      <input type="text" class="form-control" ng-change="filterTests()" ng-model="task.searchField" placeholder="Filter tests"/>
                </div>
              </div>
              <div class="col-lg-4">
                <div ng-hide="!task.test_results || task.test_results.length == 0"
                class="dropdown pull-right" style="margin-top:15px">
                <button class="btn btn-default" data-toggle="dropdown" href="#" id="dLabel">
                  <span class="semi-muted">
                    Sort By:
                  </span>
                  <strong>
                    [[sortBy.name]]&nbsp;
                    <span class="fa fa-caret-down"></span>
                  </strong>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <li role="presentation" class="dropdown-header">Sort Options</li>
                  <li role="presentation" ng-repeat="order in sortOrders">
                    <a role="menuitem" ng-click="setSortBy(order);">
                      [[order.name]]
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2" id="wrapCheckbox"><input type="checkbox" ng-model="wrapTestResults"/><label style=>Wrap</label></div>
          </div>
          <div ng-show="!task.test_results || task.test_results.length == 0" class="mci-pod" style="margin-bottom:0">
            <h4 class="text-center text-muted">No test results to show</h4>
            <p class="text-center">
              <a ng-href="[[getTestHistoryUrl(project, task)]]">
                Explore task history
              </a>
            </p>
          </div>
          <div ng-show="task.test_results.length > 0" class="mci-pod">
            <div class="row" style="padding:0;">
              <div class="col-md-12">
                <span class="label success pull-left" style="margin-right: 5px">
                  [[(task.test_results | filter:isSuccessful).length]] Succeeded
                </span>
                <span class="label failed pull-left">
                  [[(task.test_results | filter:hasTestFailureStatus).length]] Failed
                </span>
                <span class="label unlabel semi-muted pull-right">
                  <i class="fa fa-clock-o"></i> [[totalTestTimeNano | stringifyNanoseconds]] total runtime
                </span>
              </div>
            </div>
            <div id="tests-info">
              <md-list class="test-results-table table-new">
                <md-virtual-repeat-container style="height:250px;width:100%;">
                  <table class="table test-results-table">
                    <thead>
                        <tr>
                          <th class="col-lg-6">Test</th>
                          <th class="col-lg-3">Time</th>
                          <th class="col-lg-6">Test Logs</th>
                        </tr>
                      </thead>
                      <tbody data-test-results="task.test_results">
                        <tr md-virtual-repeat="test in task.filtered_results" ng-show="test.test_result.status != 'skip'"
                        class="test-result-row" ng-class="test.test_result.display_name == hash.test | conditional:'highlight-bg':''">
                          <td class="col-lg-6">
                            <div class="test-result-link-wrapper">
                              <i class="icon fa fa-link" style="cursor: pointer;" ng-click="linkToTest(test.test_result.display_name)"> </i>
                            </div>
                            <div ng-class="resultRowClass()">
                              <md-tooltip class="tooltip" md-direction="top"> [[test.test_result.display_name]]</md-tooltip>
                              <a ng-href="[[getTestHistoryUrl(project, task, test.test_result, test.task_name)]]">
                                [[test.test_result.display_name]]
                              </a>
                            </div>
                            <div style="clear: both"></div>
                          </td>
                          <td class="col-lg-6">
                            <md-tooltip class="tooltip" md-direction="top"> [[test.test_result.time_taken * 1000 * 1000 * 1000 | stringifyNanoseconds]]</md-tooltip>
                            <div class="progress [[progressBarClass]]" test-result-bar="test.test_result" style="width: [[barWidth]]%"></div>
                          </td>
                          <td class="col-lg-3">
                            <div class="url-link nowrap" id="parsley-link">
                                <a ng-href="[[test.url_parsley]]" ng-hide="[[test.url_parsley == '']]">
                                  Parsley
                                </a>
                              </div>
                              <div id="separator" ng-hide="[[test.url_parsley == '']]">
                                <b>&middot;</b>
                              </div>
                            <div class="url-link nowrap" id="html-link">
                                <a ng-href="[[test.url]]" ng-hide="[[test.url == '']]">
                                  HTML
                                </a>
                              </div>
                              <div id="separator">
                                <b>&middot;</b>
                              </div>
                              <div class="url-link nowrap" id="raw-link">
                                <a ng-href="[[test.url_raw]]" ng-hide="[[test.url_raw == '']]">
                                  Raw
                                </a>
                              </div>
                          </td>
                        </tr>
                      </tbody>
                  </table>
                </md-virtual-repeat-container>
              </md-list>
        </div>
      </div>

      {{range .PluginContent.Panels.Right}}
      {{.}}
      {{end}}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      {{range .PluginContent.Panels.Center}}
      {{.}}
      {{end}}
    </div>
  </div>
</div>

<div class="row" ng-controller="TaskLogCtrl" ng-hide="task.display_only">
  <div class="col-lg-12">
    <h3 class="section-heading">
      <i class="fa fa-folder-open"></i>
      Logs
      <span id="view-as">view as:</span>
      <a ng-href="[[getRawLogLink(false)]]" class="task-log-links" target="_blank">HTML</a>
      <span ng-hide="currentLogs==eventLogs">
        <b>&middot;</b>
        <a ng-href="[[getRawLogLink(true)]]" class="task-log-links" target="_blank">Raw</a>
      </span>
      <div id="logs-options" class="btn-group btn-group-sm">
        <a class="pointer btn btn-default" ng-class="{active:currentLogs==allLogs}" ng-click="setCurrentLogs(allLogs)">All logs</a>
        <a class="pointer btn btn-default" ng-class="{active:currentLogs==taskLogs}" ng-click="setCurrentLogs(taskLogs)">Task logs</a>
        {{if .User}}
        <a class="pointer btn btn-default" ng-class="{active:currentLogs==agentLogs}" ng-click="setCurrentLogs(agentLogs)">Agent logs</a>
        {{end}}
        {{if .User}}
        <a class="pointer btn btn-default" ng-class="{active:currentLogs==systemLogs}" ng-click="setCurrentLogs(systemLogs)">System logs</a>
        {{end}}
        <a class="pointer btn btn-default" ng-class="{active:currentLogs==eventLogs}" ng-click="setCurrentLogs(eventLogs)">Event logs</a>
      </div>
    </h3>
    <div class="row">
      <div class="col-lg-12">
        <pre ng-show="currentLogs != eventLogs && logs.length"><span ng-repeat="entry in logs track by $index" class="severity-[[ entry.severity ]]" ng-bind-html="formatTimestamp(entry.timestamp) + (entry.message | escapeHtml) + '\n' | linkify | ansi"></span></pre>
        {{if .User}}
        <pre ng-show="(currentLogs == agentLogs || currentLogs == systemLogs) && !logs.length">No logs found.</pre>
        {{else}}
        <pre ng-show="(currentLogs == agentLogs || currentLogs == systemLogs) && !logs.length"><span class="severity-ERROR">You are not authorized to view these logs.</span></pre>
        {{end}}
        <pre ng-show="(currentLogs == allLogs || currentLogs == taskLogs) && !logs.length">No logs found.</pre>
        <div ng-repeat="eventLogItem in eventLogData" ng-show="currentLogs == eventLogs"> <taskevent event="eventLogItem" tz="userTz" jira="jiraHost"></taskevent></div>
      </div>
    </div>
  </div>
</div>
</div>

{{end}}
