
{{define "scripts"}}
<script type="text/javascript">
  window.activeProject = {{.Project}};
</script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script type="text/javascript" src="{{Static "js" "task_timing.js"}}?hash={{ StaticsMD5 }}"></script>
{{end}}

{{define "title"}}
Evergreen - Task Timing
{{end}}

{{define "content"}}
  <div id="content" class="container-fluid" ng-controller="TaskTimingController">
    <div class="row">
      <ul class="nav nav-tabs">
    <li ng-repeat="view in requestViewOptions" ng-class="{active:currentRequest.requester == view.requester }"><a href="#" ng-click="setCurrentRequest(view)">[[view.name]]</a></li>
  </ul>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <h3>Variants</h3>
        <div class="dropdown task-timing-list-container">
          <ul id="build-variants" class="task-timing-list">
            <li ng-repeat="bv in currentProject.build_variants" ng-click="form.$setPristine();setBuildVariant(bv)"
            ng-class="{'active-elt': bv.name == currentBV.name}">
            [[bv.name]]
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-3">
      <h3>Tasks</h3>
      <div class="task-timing-list-container">
      <ul id="task-names" class="task-timing-list">
          <li ng-repeat="task in currentProject.task_names" ng-click="form.$setPristine();setTaskName(task)"
          ng-class="{'active-elt': task == currentTask, 'semi-transparent': !checkTaskForGraph(task), 'full-opacity': checkTaskForGraph(task)}">
          [[task]]
        </li>
      </ul>
    </div>
  </div>

  <div class="col-lg-2" ng-show = "!isAllTasks()">
    <h3>Duration</h3>
    <div class="row" ng-repeat="diff in timeDiffOptions" >
      <button class="btn btn-default col-lg-12" ng-class="{active: timeDiff == diff}" ng-click="setTimeDiff(diff)">
       [[diff.name]]
     </button>
   </div>
 </div>
 <div class="col-lg-2" ng-show = "isAllTasks()">
  <h3>Duration</h3>
  <div class="row" ng-repeat="diff in allTasksOptions" >
    <button class="btn btn-default col-lg-12" ng-class="{active: allTasksView == diff}" ng-click="setAllTasksView(diff)">
     [[diff.name]]
   </button>
 </div>
</div>
    <div class="col-lg-4">
      <h3>Number of Versions</h3>
      <div>
        <button ng-repeat="num in numTasksOptions" ng-class="{active: numTasks == num}" class="btn btn-default" ng-class="{active: timeDiff == diff}" ng-click="setNumTasks(num)">
           [[num]]
        </button>
      </div>
      <div id="divChkSuccessful">
        <input type="checkbox" id="chkSuccessful" ng-model="onlySuccessful" ng-click="load()">Only Show Successful</input>
      </div>
    </div>
      </div>
    <div class="row">
    <div class="col-lg-3" style="margin-top:50px; margin-left:10px;" >
      <div ng-hide="hoverInfo.hidden">
        <div ng-hide="isAllTasks()">host id: <b>[[hoverInfo.host]]</b></div>
        <div ng-hide="isAllTasks()">distro id: <b>[[hoverInfo.distro]]</b></div>
        <div> duration: <b>[[hoverInfo.duration]]</b> </div>
        <div style="font-family:monospace"><a ng-href="[[getLink()]]">[[hoverInfo.revision| limitTo:7]]</a></div>
        <div>[[hoverInfo.create_time |  date: "MM/dd/yyyy 'at' h:mma"]] </div>
        <div> <b> [[hoverInfo.author]]</b> </div><div>[[hoverInfo.message]] </div>
      </div>
    </div>
    <div class="col-lg-8 task-timing-chart" id="tt-graph"></div>
  </div>
  </div>
{{end}}
