<span ng-controller="PerfController">
  <style>
    .line {
      fill: none;
      stroke-width: 1.5px;
    }

    .error-line {
      fill: none;
      stroke: pink;
      stroke-width: 1px;
    }

    .perf-chart-wrapper{
      display:inline-block;
    }

    .perf-panel{
      padding:10px;
    }

    .current {
      fill: palegoldenrod;
      stroke-width: 1
    }

    .center-text{
      text-align:center;
    }

    .compare {
      fill: paleturquoise;
      stroke:black;
    }

    .compareColumn {
      background-color: paleturquoise !important;
      font-weight:bold;
    }

    .thisTaskColumn {
      background-color: palegoldenrod !important;
      font-weight:bold;
    }

    .currentrev{
      font-weight:bold;
    }

    svg {
      border:1px solid #eee;
    }

    .perf-chart {
      margin-top: 5px;
      display: inline-block;
      width: auto;
    }

    .perf-trendchart .x-tick-label {
      fill: #777;
    }

    .perf-trendchart .x-tick-line {
      stroke: #CCC;
      shape-rendering: crispEdges;
      stroke-dasharray: 2,2;
    }

    .perf-trendchart .focus-line {
      stroke: #AAA;
      stroke-dasharray: 2,2;
    }

    .perf-trendchart .focus-text {
      font-weight: bold;
    }

    .perf-trendchart-sidebar {
      width: 150px;
    }

    .perf-trendchart .change-point {
      stroke: black;
      stroke-width: 1px;
    }

    .perf-trendchart .mean-line {
      stroke-width: 2;
      stroke-dasharray: 5,5;
    }

    .perf-table {
      border: 1px solid #ccc;
    }

    .overlay {
      fill:none;
      stroke-width:1px;
      pointer-events: all;
    }

    .perf-table th {
      text-align:center;
      padding-left:10px;
      padding-right:10px;
    }

    .perf-table td {
      padding: 3px;
      text-align:right;
      border: 1px solid #888;
    }

    .perf-table tr.odd{
      background-color: #eee;
    }

    .bar-highlighted {
      color: green;
    }

    .domain{
      fill: none; 
      stroke: black; 
      stroke-width: 1; 
    }
    .comparison-table-header{
      font-weight:bold;
      text-align:right;
      padding-right:10px;
      margin-right:10px;
    }
    .chart-testname{
      font-size:.8em;
    }
    .sample-cell {
      font-size:.7em;
    }
    .mono {
      font-family:monospace;
    }

    .compare-well {
      margin-left:30px;
    }

    .compare-list{
      list-style:none;
      display:inline;
    }
    .compare-list li{
      display:inline;
    }
    .compare-remove{
      cursor:pointer;
    }

    .compare-label {
      margin-right:10px;
    }
    .compare-link{
      color:white;
    }
    .compare-link:hover {
      color:white;
      text-decoration:underline;
    }
    .hover-compare-metrics {
      white-space: nowrap;
      font-size:.8em;
    }
    div > .toolbar {
      position: fixed;
      bottom: 0;
      right: 0;
      left: 97.5%;
       z-index: 1;
      display: block;
    }
    .md-button.md-primary.md-fab,
    .md-button.md-default-theme.md-primary.md-raised,
    .md-button.md-primary.md-raised {
      background-color: rgb(0,0,0);
    }
    md-switch.md-default-theme.md-checked .md-thumb, md-switch.md-checked .md-thumb {
      background-color: rgb(92,184,92);
    }
    md-switch.md-default-theme.md-checked .md-bar, md-switch.md-checked .md-bar {
      background-color: rgba(92,184,92,0.5);
    }

    .add-margin {
      margin: 7px 0;
    }
  </style>
  <div class="panel perf-panel" ng-if="conf.enabled && !!perfSample">
    <iframe
            width="100%"
            height="1000px"
            src="[[newTrendChartsUi]]"
            title="Task Performance Data"
    ></iframe>
  </div>
  <div class="panel perf-panel" ng-if="conf.enabled && !!perfSample">
    <div class="pull-right text-right">
      <div ng-show="!!perfTagData.tag"><i class="fa fa-tag"></i>&nbsp;Tagged as&nbsp;<div class="label label-primary">[[perfTagData.tag]]</div><i class="fa fa-times" ng-click="deleteTag()"></i></div>
      <div ng-show="!perfTagData.tag">
        <a href="" ng-show="!showTagForm" ng-click="showTagForm=true">Tag this data&hellip;</a>
        <div ng-show="showTagForm">
          <input type="text" ng-model="perfTagData.input" ng-keypress="setTaskTag($event)"/>
          <i class="fa fa-times" ng-click="showTagForm=false"></i>
        </div>
      </div>
      <div>
        <a href="/plugin/json/task/[[task.id]]/perf/">Raw data</a>
        <a href="/plugin/json/task/[[task.id]]/perf/"
          download="[[task.id]].json"
          title="Download JSON">
          <i class="fa fa-download"></i>
        </a>
      </div>
      <div>
        <a href="/plugin/json/history/[[task.id]]/perf">Historical data</a>
        <a href="/plugin/json/history/[[task.id]]/perf"
          download="[[task.id]].json"
          title="Download JSON">
          <i class="fa fa-download"></i>
        </a>
      </div>
      <div ng-if="user">
        <a ng-href="[[perfDiscoveryURL()]]">Performance Discovery</a>
      </div>
    </div>
    <div ng-show="comparePerfSamples.length > 0">
      <span>Comparing to:&nbsp;&nbsp;</span>
      <ul class="compare-list">
        <li class="label label-primary compare-label" ng-repeat="item in comparePerfSamples"> <i class="fa fa-times compare-remove" ng-click="removeCompareItem($index)"></i> <a href="/task/[[item.sample.task_id]]" class="compare-link">[[item.getLegendName()]]</a> </li>&nbsp;
      </ul>
    </div>
    <a ng-click="showingCompareForm = true" href="" ng-show="!showingCompareForm">Add comparison...</a>
    <div class="compare-input row">
      <div ng-show="!!showingCompareForm" class="well well-sm compare-well col-lg-3">
        <div class="col-lg-8 text-center" style="border-right:1px solid #ccc">
          <h5>Add comparison to</h5>
          <div class="center-text"><input type="text" placeholder="githash" ng-model="compareForm.hash"></input></div>
          <div class="center-text" ng-show="!!tags"><strong>or</strong></div>
          <div class="center-text" ng-show="!!tags">
            <select ng-options="d.tag for d in tags" ng-model="compareForm.tag">
              <option value="">--select a tag--</option>
            </select>
          </div>
        </div>
        <div class="col-lg-4">
          <div>&nbsp;</div>
          <div class="center-text"> 
            <button class="btn btn-primary btn-xs" ng-click="addComparisonForm(compareForm, true)">add</button>
            <div>&nbsp;</div>
            <button class="btn btn-default btn-xs" ng-click="showingCompareForm=false">cancel</button>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix">
    </div>
    <ul class="nav nav-tabs">
      <li ng-class="{active:perftab==0}"><a href="#" ng-click="switchTab(0)">Graph</a></li>
      <li ng-class="{active:perftab==1}"><a href="#" ng-click="switchTab(1)">Table</a></li>
      <li ng-class="{active:perftab==2}"><a href="#" ng-click="switchTab(2)">Trend</a></li>
    </ul>
    <div class="compare-about" ng-show="!!comparePerfSample">
      <br/>
      <div>Comparing to <a ng-href="/task/[[comparePerfSample.sample.task_id]]">[[comparePerfSample.sample.revision | limitTo:7]]</a> &nbsp;<button ng-click="clearCompare()" class="btn btn-primary btn-small">Clear</button></div>
      <br/>
    </div>

    <div ng-show="perftab==0">
      <div class="perf-chart-wrapper col-lg-5" ng-repeat="testName in perfSample.testNames()">
        <span class="chart-testname">[[testName]]</span>
        <div id="y_axis-{{$index}}" class="y-axis"></div>
        <div class="perf-chart" id="chart-[[cleanId(task.id)]]-[[$index]]"></div>
      </div>
      <div class="row">
        <div id="legend"></div>
      </div>
    </div>
    <div ng-show="perftab==1">
      <table class="perf-table">
        <tr>
          <th>Test</th>
          <th ng-repeat="k in perfSample.threads()">[[k]]</th>
          <th>Max</th>
          <th ng-repeat="comparison in comparePerfSamples">max @<span class="mono">[[comparison.getLegendName()]]</span></th>
          <th ng-repeat="comparison in comparePerfSamples">vs <span class="mono">[[comparison.getLegendName()]]</span></th>
        </tr>
        <tr ng-repeat="test in perfSample.testNames()" ng-class="{odd:$odd}">
          <td>[[test]]</td>
          <td ng-repeat="k in perfSample.threads()">[[perfSample.resultForTest(test).results[k][metricSelect.value.key] | number:0]]</td>
          <td>[[perfSample.maxThroughputForTest(test, metricSelect.value.key) | number:0]]</td>
          <td ng-repeat="comparison in comparePerfSamples">[[comparison.maxThroughputForTest(test, metricSelect.value.key) | number:0]]</td>
          <td ng-repeat="comparison in comparePerfSamples" ng-style="{backgroundColor:percentToColor(100*percentDiff(perfSample.maxThroughputForTest(test, metricSelect.value.key),comparison.maxThroughputForTest(test, metricSelect.value.key)))}">
            [[100*percentDiff(perfSample.maxThroughputForTest(test, metricSelect.value.key),comparison.maxThroughputForTest(test, metricSelect.value.key)) | number:2]]%
          </td>
        </tr>
      </table>
    </div>
    <div ng-show="perftab==2">
      <div class="toolbar" name="toolbar" ng-show="showToolbar" layout="row">
        <div class="lock-size col-sm-1" layout="row" layout-align="end end">
          <md-fab-toolbar
            md-open="toolBar.isOpen"
            ng-hide="toolBar.hidden"
            ng-mouseleave="toolBar.isOpen=false"
            md-direction="left"
            style="pointer-events:none">
            <md-fab-trigger class="align-with-text" style="pointer-events:all">
              <md-button aria-label="menu"
                         ng-mouseenter="toolBar.isOpen=true"
                         class="md-fab md-primary">
                <md-icon>build</md-icon>
              </md-button>
            </md-fab-trigger>

            <md-toolbar ng-click="$event.stopPropagation()">
              <md-fab-actions class="md-toolbar-tools">
                <md-button aria-label="comment" class="md-icon-button">
                  <md-icon>build</md-icon>
                </md-button>
                <md-switch ng-model="scaleModel.linearMode"
                           ng-click="$event.stopPropagation()"
                           aria-label="Linear" style='margin-left:10px'>
                  Linear
                </md-switch>
                <md-switch ng-model="rangeModel.originMode"
                           ng-click="$event.stopPropagation()"
                           aria-label="origin">
                  Origin
                </md-switch>
                <md-switch ng-model="rejectModel.rejectMode"
                           ng-click="$event.stopPropagation()"
                           aria-label="reject">
                  Reject
                </md-switch>
              </md-fab-actions>
            </md-toolbar>
          </md-fab-toolbar>
        </div>
      </div>
      <div>
        <strong>Thread Levels:</strong>
        <label ng-repeat="option in threadLevelsRadio.options">
          <input
            type="radio"
            ng-model="threadLevelsRadio.value"
            value="[[option.key]]"
            name="threadlevels"
          />&nbsp;[[option.val]]
        </label>
      </div>
      <div>
        <strong>Metric Name:</strong>
        <select ng-model="metricSelect.value"
                ng-disabled="metricSelect.options.length < 2"
                ng-options="opt as opt.name for opt in metricSelect.options track by opt.key"
        >
        </select>
      </div>
      <div class="muted" ng-show="!locked">click on a graph to lock to a commit</div>
      <div class="perf-trendchart-wrapper" ng-repeat="k in perfSample.testNames()">
        <a name="[[k]]"></a>
        <h4> 
          <i class="fa" ng-class="isGraphHidden(k) ? 'fa-caret-right' : 'fa-caret-down'" ng-click="toggleGraph(k)"></i>
          &nbsp;[[k]]&nbsp;
          <i class="fa fa-balance-scale" ng-show="isCanary(k)" title="Canary Test">
            <md-tooltip>
                This is a canary test!
            </md-tooltip>
          </i>&nbsp;
          <i class="fa fa-sticky-note" ng-show="perfSample.resultForTest(k).isExpandedMetric" title="Expanded metric"></i>
        </h4>
        <div class="row" ng-show="!isGraphHidden(k)">
          <div class="col-lg-1 perf-trendchart-sidebar">
              <div class="mono"><a ng-href="/task/[[hoverSamples[k].task_id]]">[[hoverSamples[k].revision | limitTo : 7]]</a></div>
              <div>[[dateLabel]]</div>
              <div>
                bfs:&nbsp;
                <span ng-repeat="bf in bfs">
                  <span ng-bind-html="bf | escapeHtml | jiraLinkify : jiraHost "></span>
                  <span ng-if="!$last">, </span>
                </span>
              </div>
              <div class="add-margin" title="Change points actions">
                <div class="btn-group">
                  <button class="btn btn-xs btn-primary"
                          ng-disabled="!cps.length"
                          ng-click="ackChangePoints(cps)"
                  >Ack</button>
                  <button class="btn btn-xs btn-primary"
                          ng-disabled="!cps.length"
                          ng-click="hideChangePoints(cps)"
                  >Hide</button>
                </div>
                <div class="btn-group">
                  <button class="btn btn-xs btn-primary"
                          ng-disabled="!cps.length"
                          ng-click="unmarkChangePoints(cps)"
                  >Unmark</button>
                </div>
              </div>
              <div ng-show="!comparePerfSample">
                <button ng-click="addCompare(hoverSamples[k].revision)" class="btn btn-sm">Compare</button>
              </div>
              <div ng-repeat="compareSamp in comparePerfSamples" ng-show="hoverSamples">

                <b class="hover-compare-metrics" ng-hide="hoverSamples[k] == undefined">
                  <span ng-if="hoverSamples[k][metricSelect.value.key] == undefined">
                    metric has no data
                  </span>
                  <span ng-if="hoverSamples[k][metricSelect.value.key] != undefined"
                        ng-style="{backgroundColor: percentToColor(comparisonPct(compareSamp, k))}"
                  >
                    [[ comparisonPct(compareSamp, k) | number:1]]%
                    vs [[compareSamp.getLegendName()]]
                  <span>
                </b>
              </div>
            </div>
          <div class="col-lg-3 perf-trendchart" id="perf-trendchart-[[cleanId(task.id)]]-[[$index]]"></div>
        </div>
      </div>
    </div>
  </div> 
</span>
