<span ng-controller="DashboardController">
  <div ng-show="getProjectData(project).dashboardData && conf.enabled">  
    <h3 class="section-heading"><i class="fa fa-book"></i> Performance Dashboard </h3>  
    <div class="panel panel-body">   
      <h3> [[getBaselineDisplay(currentBaseline, project)]] </h3>
      <div class="row"> 
        <div class="col-lg-7">
              <div class="progress dash-progress" ng-show="showProgress(project)">
            <div ng-repeat="state in status_list"  ng-class="getColor(state)" class="progress-bar" ng-style="{width: getWidth(state, project)}" data-element-tooltip="state + ': ' + counts[version.id][state]" ></div>
          </div>
        </div>
        <baseline-dropdown></baseline-dropdown>  
        <div class="col-lg-2 checkbox">
          <label> <input type="checkbox" ng-model="hidePassingTasks"> Hide Passing Tasks </label>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <dashboard-table ng-model="project"></dashboard-table>
        </div>    
      </div>    
    </div>    
  </div>
</span>
