{{define "scripts"}}

<!-- ReactJS libs -->
<script type="text/javascript" src="/static/js/react.min.js"></script>
<script type="text/javascript" src="/static/js/react-dom.min.js"></script>
<script type="text/javascript" src="/static/js/browser.min.js"></script>
<script type="text/javascript" src="/static/js/react-bootstrap.min.js"></script>


<script type="text/javascript">
  window.serverData = {{ .Data }};
  window.userTz = {{GetTimezone .User}}
</script>

<script type="text/javascript" src="{{Static "js" "waterfall.js"}}?hash={{ StaticsMD5 }}"></script>
<script type="text/javascript" src="{{Static "js" "tasks_grid.js"}}?hash={{ StaticsMD5 }}"></script>

{{end}}

{{define "title"}}
Evergreen - Waterfall
{{end}}

{{define "content"}}
<div id="root" class="container-fluid waterfall-2"> </div>

<script type="text/javascript" src="{{Static "js" "waterfall-render.js"}}?hash={{ StaticsMD5 }}"></script>

{{end}}
