{{define "content"}}

<tr><td colspan="3" height="10" bgcolor="#3b291f"></td></tr>
<tr><td colspan="3" height="20"></td></tr>
<tr>
  <td width="20"></td>
  <td align="left">
    <!-- table lvl 2 -->
    <table cellpadding="0" cellspacing="0" width="100%">
      {{ range .FailedTests }}
        <tr>
          <td width="90%">
            <span style="font-family:Arial,sans-serif;font-weight:bold;font-size:10px;color:#999999" class="label">TEST</span>
          </td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td width="90%">
            <span style="font-family:Arial,sans-serif;font-weight:bold;font-size:36px;line-height:28px;color:#333333" class="task">
              {{ .TestFile }}
            </span>
          </td>
          <td style="padding:0 10px;background-color:#ed1c24;"><span style="font-family:Arial,sans-serif;font-weight:bold;font-size:18px;color:#ffffff" class="status">FAILED</span></td>
        </tr>
        <tr><td colspan="2" height="10"></td></tr>
        <tr>
          <td width="90%">
            <a href="{{ .URL }}" style="font-family:Arial,sans-serif;font-weight:normal;font-size:13px;color:#006cbc" class="link">view logs</a>
          </td>
          <td>&nbsp;</td>
        </tr>
      {{end}}

      <tr><td colspan="2" height="30"></td></tr>
      <tr>
        <td width="90%"><span style="font-family:Arial,sans-serif;font-weight:bold;font-size:10px;color:#999999" class="label">BRANCH</span></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="90%">
          <span style="font-family:Arial,sans-serif;font-weight:bold;font-size:36px;line-height:28px;color:#333333" class="task">
            {{ .Notification.Key.Project }}
          </span>
        </td>
      </tr>
      <tr><td colspan="2" height="30"></td></tr>
      <tr>
        <td width="90%"><span style="font-family:Arial,sans-serif;font-weight:bold;font-size:10px;color:#999999" class="label">TASK</span></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="90%">
          <span style="font-family:Arial,sans-serif;font-weight:bold;font-size:36px;line-height:28px;color:#333333" class="task">
            {{ .Notification.Current.DisplayName }}
          </span>
        </td>
        {{ if .Details.TimedOut }}
        <td style="padding:0 10px;background-color:#ed1c24;">
          <span style="font-family:Arial,sans-serif;font-weight:bold;font-size:18px;color:#ffffff" class="status">
            TIMED OUT
          </span>
        </td>
        {{ else }}
          <td>&nbsp;</td>
        {{ end }}
      </tr>
      <tr><td colspan="2" height="10"></td></tr>
      <tr>
        <td width="90%">
          <a href="{{Global "UIRoot"}}/{{.LogsUrl }}" style="font-family:Arial,sans-serif;font-weight:normal;font-size:13px;color:#006cbc" class="link">view task</a>
        </td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td colspan="2" height="30"></td>
      </tr>
      <tr>
        <td colspan="2"><span style="font-family:Arial,sans-serif;font-weight:bold;font-size:10px;color:#999999" class="label">BUILD VARIANT</span></td>
      </tr>
      <tr>
        <td colspan="2">
          <span style="font-family:Arial,sans-serif;font-weight:bold;font-size:36px;color:#333333" class="build">
            {{ .Notification.Current.BuildVariant }}
          </span>
        </td>
      </tr>
      <tr><td colspan="2" height="40"></td></tr>
      <tr><td colspan="2"><span style="font-family:Arial,sans-serif;font-weight:bold;font-size:24px;color:#333333" class="heading">Blamelist</span></td></tr>
      <tr><td colspan="2" height="15"></td></tr>
      <tr>
        <td colspan="2">
          <!-- table lvl 3 -->
          <table cellpadding="0" cellspacing="0" width="100%">
            {{ range .Notification.Info }}
              <tr>
                <td rowspan="2" bgcolor="#777777" width="50" height="50">
                  <img src="{{ Gravatar .Email }}"></img>
                </td>
                <td rowspan="2" width="10"></td>
                <td>
                  <span style="font-family:Arial,sans-serif;font-weight:normal;font-size:16px;color:#333333" class="commit-message">  
                    {{ .Message }}
                  </span>
                </td>
              </tr>
              <tr>
                <td>
                  <span style="font-family:Arial,sans-serif;font-weight:normal;font-size:12px;color:#999999" class="commit-meta">
                    {{ .Author }}
                    ({{ .Email }}) authored at {{ .Pushtime }}
                  </span>
                </td>
              </tr>

              <tr><td colspan="3" height="15"></td></tr>
            {{end}}
          </table>
        </td>
      </tr>
    </table>
  </td>
  <td width="20"></td>
</tr>
<tr><td colspan="3" height="20"></td></tr>

{{end}}
