.banner-container {
    height: 50px;
    margin: 8px;
}
.banner-contents {
  height: 50px;
  font-size: 18px;
  z-index: 100;
  border-radius: 4px;
}
.bannerIcon {
  float: left;
  height: 50px;
  width: 33px;
  text-align: center;
  padding-top: 12px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.bannerText {
  padding-left: 22px;
  padding-top: 12px;
  overflow: auto;
  max-height: 45px;
  padding-right: 10px;
}
.banner-icon-announcement {
  background-color: rgba(61, 195, 4, 0.62);
}
.banner-text-announcement {
  background-color: rgba(89, 243, 10, 0.25);
  color: #262626;
}
.banner-icon-important {
  background-color: rgba(224, 63, 14, 0.88);
}
.banner-text-important {
  background-color: rgba(247, 30, 19, 0.15);
  color: #262626;
}
.banner-icon-warning {
  background-color: rgba(234, 202, 42, 0.81);
}
.banner-text-warning {
  background-color: rgba(239, 243, 14, 0.48);
  color: #262626;
}
.banner-icon-information {
  background-color: rgba(34, 69, 241, 0.81);
  color: white;
}
.banner-text-information {
  background-color: rgba(53, 143, 234, 0.22);
  color: #262626;
}
