.host-dropdown {
	position: absolute;
	top: 55px;
	left: 20px;
	max-width: 270px;
}
.host-button {
	margin-right: 15px;
}
.active-host {
  background-color: #5F923B;
  color: white;
}
.host-name-input {
  border: none;
  width: 100%;
}
.host-name-input:focus {
  background-color: #9FBD89;
}
.host-name-confirm {
  opacity: 0.5;
  color: #1C2B11;
  position: relative;
  right: 40px;
}
.host-info {
  font-size: 1.2em;
}
.host-running {
  background-color: #5cb85c;
}
.host-terminated {
  background-color: #d9534f;
}
.host-unreachable {
  background-color: #bfbfbe;
}
.host-starting {
  background-color: #ffb618;
}