.patch {
  overflow: auto;
  
  .additions {
    font-weight: bold;
    color: green;
  }
  .deletions {
    font-weight: bold;
    color: red;
  }
  .base-link {
    font-family: monospace;
  }
  .title {
    font-weight: bold;
    font-size: 20px;
  }
  .gravatar-mini {
    margin-bottom: 2px;
    border-radius: 3px;
    width: 16px;
    height: 16px;
  }
  .toggle-message {
    margin-left: 10px;
  }
  .description-box {
    margin-top: 8px;
    margin-left: 8px;
    
    p {
      font-weight: bold;
      font-size: 16px;
    }
  }
}

.patch-header {
  margin-bottom: 8px;
  font-weight: bold;
}

.patch-message {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  font-weight: bold;
}

.patch-changes-line {
  font-size: 125%;
  margin: 15px 0;
}

.patch-diff-panel {
  max-height:600px;
  overflow-y:auto;
  overflow-x:none;

  tr {
    .extra-info {
      font-size: 10px;
      color: #777;
    }
    .diff-name {
      font-weight: bold;
      font-size: 14px;
    }
  }
  .diffbox {
    display: block;
    height: 16px;
    width: 26px;
    background-color: @default-bg-color;
  }
  .success {
    background-color: #5cb85c !important;
  }
  .failed {
    background-color: #d9534f !important;
  }

}
